[2017-04-25 09:56] imolorhe opened #3 "Cannot easily modify the URL"
Modifying the URL sends the cursor to the end of the URL no matter what part of the URL is being modified.

[2017-04-25 09:58] imolorhe opened #4 "Add visual feedback after setting the URL"
Currently, there is no visual feedback when the URL is set, so the user is unaware of the update.

[2017-04-25 10:00] imolorhe opened #5 "Add the docs section"
Implement the docs section so the users can see the possible queries for the currently set graphQL server.

[2017-04-25 10:02] imolorhe opened #6 "Add github page"
Add a github page with more information about altair, and links to all the other dependent products.

[2017-04-26 08:38] imolorhe opened #7 "Add query to query editor from docs"
When I view a query in the docs, I should be able to click a button to automatically replace (or append to) my current query in the editor with a scaffold of the currently selected query field as a full query or fragment, depending on if it is on a root type or a sub type.

[2017-05-01 21:24] #5 closed

[2017-05-01 21:53] #4 closed

[2017-05-01 21:53] #3 closed

[2017-05-02 16:22] janbancarewicz opened #10 "variables"
hi ,

i have a question, how to add variables in to request ?

 query:  "query ($filters: [FilterInput]!, $cursor: String, $order: OrderInput!)..."
variables : {}

thanks,
Janek

[2017-05-02 21:51] imolorhe commented on #10
@janbancarewicz Unfortunately that feature does not exist in altair at the moment. I hadn't seen anyone that needed it until now. It's a valid one though. I'll be sure to add it as soon as possible. Feel free to mention any other missing features 😄

[2017-05-02 22:09] imolorhe opened #11 "Make Send Request button a primary CTA"
Add a distinct styling on the send request button.

[2017-05-02 23:12] imolorhe commented on #10
@janbancarewicz A PR has been created to add support for variables. It would be available in the next release.

[2017-05-03 11:41] imolorhe commented on #11
Closed in  05560ae

[2017-05-03 11:42] #11 closed

[2017-05-03 16:57] imolorhe opened #13 "Change default font for query editor to san-serif"

[2017-05-03 20:16] imolorhe opened #14 "Set the URL when the return key is pressed"

[2017-05-03 20:23] #13 closed

[2017-05-03 20:23] #14 closed

[2017-05-03 20:23] #10 closed

[2017-05-14 18:46] AndreasGassmann opened #15 "Show error message"
I just tried to play around with the github graphql api and forgot to enter my token. It only said "Server Error", I had to check the console logs to see what was wrong.

[2017-05-14 21:31] imolorhe commented on #15
@AndreasGassmann Hmmm.. what error should it have returned?

[2017-05-15 01:28] AndreasGassmann commented on #15
Github returns an error message, but I don't know about other GraphQL endpoints. This is the error you get:

    {
      "message": "This endpoint requires you to be authenticated.",
      "documentation_url": "https://developer.github.com/v3/#authentication"
    }

In the GraphiQL client for mac it just shows that error response. It's not really important, it's just the first thing I noticed when

[2017-05-15 08:13] imolorhe commented on #15
@AndreasGassmann Thanks for your feedback! I'll be sure to fix that ASAP.

[2017-05-15 12:01] AndreasGassmann commented on #15
Nice!

As a more general question, what is your "goal" with this project? It would be nice to have something like "Postman for GraphQL", but obviously that would require quite a lot of work. I'm just curious what your plans are.

[2017-05-15 19:18] imolorhe commented on #15
@AndreasGassmann That is the ultimate goal for it. For now, the use case has just been for making simple graphQL queries.

[2017-05-22 18:27] #15 closed

[2017-05-23 09:43] imolorhe opened #17 "Ability to have multiple tabs"
I should be able to create multiple tabs for multiple queries simultaneously. As much as 10 tabs.

[2017-05-23 10:38] imolorhe opened #18 "Implement ngrx in altair"

[2017-05-23 10:38] imolorhe opened #19 "Add unit tests"

[2017-05-23 10:42] imolorhe opened #20 "Break the SCSS files into more manageable partials"

[2017-05-23 12:56] imolorhe opened #21 "Replace codemirror with ng2-codemirror"

[2017-05-23 15:07] #21 closed

[2017-05-23 15:11] #19 closed

[2017-05-27 22:29] #18 closed

[2017-05-29 12:48] imolorhe opened #24 "Create electron desktop app version."

[2017-05-29 14:02] #24 closed

[2017-05-29 20:08] imolorhe commented on #20
The files are broken down enough for now.

[2017-05-29 20:08] #20 closed

[2017-05-29 20:08] imolorhe commented on #6
Done.

[2017-05-29 20:08] #6 closed

[2017-06-02 18:11] imolorhe opened #29 "Refactor doc viewer code"

[2017-06-02 18:52] imolorhe opened #31 "Validate URL after user enters the URL, and before making a request."

[2017-06-02 19:26] imolorhe commented on #29
#30

[2017-06-02 19:26] #29 closed

[2017-06-02 20:17] imolorhe opened #33 "Inform user when the server does not allow introspection."

[2017-06-02 20:21] imolorhe commented on #31
Closed in #32.

[2017-06-02 20:21] #31 closed

[2017-06-02 20:32] #33 closed

[2017-06-02 20:34] imolorhe opened #35 "Electron app should open external links in the default browser."

[2017-06-02 21:35] #35 closed

[2017-06-07 04:17] jamsheer-thottathil opened #40 "No time out shown if given invalid URL"
There is no time out shown if we giving a wrong url by mistake.It shows the 'Loading' status for indefinite time.

[2017-06-07 06:25] imolorhe commented on #40
Thanks for pointing that out. There was recently a PR that was merged, which should fix this. I'll verify it on staging. Either way, it should be fixed in the next build. :)

[2017-06-07 06:31] jamsheer-thottathil commented on #40
Thank you for the reply  :)

[2017-06-07 07:36] imolorhe commented on #40
@jamsheer-thottathil Just to get more context into your specific case, what platform are you using? (chrome extension, web app, mac app). Also, is it for an empty URL field, or an invalid URL?

[2017-06-07 07:50] jamsheer-thottathil commented on #40
Me tried with chrome extension .I had found this issue while i tried by missing last character of my endpoint(by mistake i did it)

[2017-06-09 14:12] lon-albert opened #48 "Multiple Tabs get assigned the same title"
Whenever I add a new tab, all other tabs get assigned it's title:
![screencapture-altair-gql-herokuapp-1497017456252](https://user-images.githubusercontent.com/13160332/26979205-ead60fc4-4d25-11e7-9bea-4981c81eae7b.png)

[2017-06-09 14:13] lon-albert commented on #48
I'll fork the repo, apply the fix  and create a PR if that's fine

[2017-06-09 16:22] imolorhe commented on #48
@lon-albert This bug has been fixed in v1.3.1

[2017-06-09 16:22] #48 closed

[2017-06-09 16:23] imolorhe commented on #40
@jamsheer-thottathil This has been fixed properly now. The previous fix didn't cover for all scenarios. Thanks for pointing this out. :)

[2017-06-09 16:23] #40 closed

[2017-06-09 16:23] imolorhe commented on #17
Done in v1.3.0

[2017-06-09 16:23] #17 closed

[2017-06-15 09:15] JannesV opened #53 "Line numbers appear infront of popup"
There seems to be something wrong with the zindex of the line numbers when a dialog opens.

Chrome Version 58.0.3029.110 // MacOS Sierra

![image](https://user-images.githubusercontent.com/5984244/27174312-f5d378fe-51bb-11e7-964e-eb1f887d4cbd.png)

[2017-06-15 09:33] imolorhe commented on #53
@JannesV Thanks for pointing it out. That's already been fixed in v1.3.1. I'd publish that soon. :)

[2017-06-15 09:33] imolorhe commented on #53
In PR #51

[2017-06-15 09:36] imolorhe commented on #53
Oh sorry, it would be fixed in v1.3.2. I've already published v1.3.1

[2017-06-22 10:47] imolorhe commented on #53
v1.3.2 has been published with the fix.

[2017-06-22 10:47] #53 closed

[2017-07-04 06:43] imolorhe opened #58 "Implement ngrx store localstorage"
https://github.com/btroncone/ngrx-store-localstorage

[2017-07-04 06:43] imolorhe opened #59 "Add a cancel button for non-responsive servers."
https://stackoverflow.com/a/36491025/3929126

https://github.com/ngrx/effects/issues/133#issuecomment-292171118

[2017-07-04 06:53] imolorhe opened #60 "Display response metrics like time spent, status code"

[2017-07-04 09:54] imolorhe opened #61 "Add view for displaying deprecation reason."

[2017-07-06 01:18] #59 closed

[2017-07-06 10:41] #58 closed

[2017-07-06 10:41] imolorhe commented on #60
Closed by #64

[2017-07-06 10:41] #60 closed

[2017-07-06 11:38] #61 closed

[2017-07-06 11:39] imolorhe opened #66 "Ability to set window name."

[2017-07-06 11:39] imolorhe opened #67 "Improve variable support for object variables."

[2017-07-07 09:15] #66 closed

[2017-07-07 09:44] imolorhe opened #70 "Add a sort of content blueprint instead of showing "No response" when there is no response."

[2017-07-07 11:34] #70 closed

[2017-07-07 12:57] #67 closed

[2017-07-21 09:18] imolorhe opened #76 "Search docs"

[2017-07-21 13:50] samdelacruz opened #78 "Add copy/paste menu bar items to electron app"
It's not possible to perform actions such as copy, or paste in the electron app.
This can be solved by implementing the standard application menu bar items.

[2017-07-21 19:38] imolorhe commented on #78
@samdelacruz Thanks. I can see you already created a PR. Sorry for replying late. I wasn't sure that just defining the menu items would make them work, that was why I didn't add them. I was going to look into it later on. 😄

I have just one concern with the PR though: I don't think we should add the zoom options. Zooming into the app would distort it, don't you think?

Besides that, I think the PR

[2017-07-21 19:54] imolorhe commented on #78
@samdelacruz Besides the menu, any other notable issues in the app?

[2017-07-25 13:35] #76 closed

[2017-07-27 06:32] imolorhe opened #83 "Update Github pages for the project."
- [ ] Add gitter sidecar to the page. https://sidecar.gitter.im/
- [ ] Create custom design for the page.

[2017-07-27 06:34] imolorhe commented on #83
We could follow the layout here: https://dribbble.com/shots/2745985-Web-App-Landing-Page-Design/attachments/557817

[2017-07-29 21:45] imolorhe opened #84 "Electron forge over electron packager."
Use travis CI to deploy builds for various platforms.
https://docs.travis-ci.com/user/deployment/releases/

https://electronforge.io/config

[2017-07-29 21:47] imolorhe opened #85 "Add chrome extension (downloads, rating and version), gitter, maintenance, github release badge to README"
https://shields.io/

[2017-07-29 21:48] imolorhe opened #86 "Prevent users from being able to navigate out of the app within the electron app."
[code]

[2017-07-29 21:48] imolorhe opened #87 "Replace http with HttpClient in angular 4.3."
Use the proper error messages returned from the client.
https://angular.io/guide/http

[2017-07-31 02:00] #86 closed

[2017-07-31 02:21] #85 closed

[2017-07-31 06:41] imolorhe commented on #7
There should be a button to clear the editor.
There should be a notice to inform the user when he adds a query with arguments that need to be filled.

[2017-07-31 10:07] #83 closed

[2017-07-31 13:12] Vetcher opened #92 "Chrome extension adds new tab "New window" any time I interact with it"
So, before:
![image](https://user-images.githubusercontent.com/10078725/28779056-786b2240-760a-11e7-898f-68bd58a8f806.png)
and after:
![image](https://user-images.githubusercontent.com/10078725/28779097-98a05454-760a-11e7-8e53-b2157b4582e1.png)

Ubuntu 16.04 LTS, Chrome 60.0.3112.78 (64-bit), Extension version 1.3.5

[2017-07-31 15:00] #7 closed

[2017-07-31 15:03] imolorhe commented on #92
@Vetcher Everytime you interact with it? Like when you perform any action at all?

[2017-07-31 15:36] Vetcher commented on #92
@imolorhe yes, press any not comand buttons (symbols, backspace), set URL, show Docs also. In sum, after everything that changes state.

[2017-07-31 17:03] imolorhe commented on #92
Wow. That's strange. Can you check your local storage? I haven't heard any issue like this so far.

[2017-07-31 17:04] imolorhe commented on #92
Maybe you should take a snapshot of the logs in your console. That should help too.

[2017-07-31 17:34] imolorhe commented on #92
@Vetcher Another thing you could possibly try is, clear out the local storage for the extension.

[2017-07-31 17:38] imolorhe commented on #78
@samdelacruz I've merged the changes from your branch, and made the modifications for the zoom options. 👍

[2017-07-31 17:38] #78 closed

[2017-08-01 08:25] Vetcher commented on #92
Clear storage and hard reload helps. In logs I've got this
![image](https://user-images.githubusercontent.com/10078725/28816029-00c286c8-76ac-11e7-9a96-d96a6013d70b.png)
I think issue is over, thx.

[2017-08-01 10:44] Vetcher commented on #92
Btw, I see same problem in online app.
![image](https://user-images.githubusercontent.com/10078725/28821767-700608d0-76bf-11e7-94da-67d92608f167.png)
May be problem with `localhost:9000`?

[2017-08-01 12:47] imolorhe commented on #92
@Vetcher Can you come on https://gitter.im/altair-graphql/Lobby so we can chat about it there. I need to be able to reproduce that maximum call stack error.

[2017-08-01 12:50] imolorhe commented on #92
@Vetcher It might be an issue with originating from your local graphQL server. Have you tried working on it with a public graphQL API?

You could use any of those mentioned here to verify.
https://github.com/APIs-guru/graphql-apis

[2017-08-01 12:50] imolorhe commented on #92
For example, https://graphql-europe.org/graphql

[2017-08-01 14:17] imolorhe commented on #84
Closed by #95

[2017-08-01 14:17] #84 closed

[2017-08-01 14:39] imolorhe commented on #92
Closed by #96

[2017-08-01 14:39] #92 closed

[2017-08-01 14:51] imolorhe commented on #87
Closes #97

[2017-08-01 14:51] #87 closed

[2017-08-03 22:41] imolorhe opened #108 "Make electron app titlebar hidden using `titleBarStyle: 'hidden-inset'`"

[2017-08-03 22:59] imolorhe commented on #108
Closed by #109

[2017-08-03 22:59] #108 closed

[2017-08-07 10:02] lon-io opened #113 "Duplicate Search Results"
Duplicate results for the same search query are returned. Apperently, this is due to the same keyword being found across 2 or more of a mutation name; query name; and field name.

![altair 2017-08-07 10-57-04](https://user-images.githubusercontent.com/13160332/29022010-86b021ac-7b5f-11e7-9c16-cd8fb3e87317.png)

[2017-08-07 10:07] imolorhe commented on #113
@lon-albert Yeah, if a query has an argument that matches the search term, it would return that query twice. In the implementation, I considered queries and arguments as different entities, and stored them in the index as such. This should be an easy fix. PR? 😄

[2017-08-08 12:50] beatscode opened #114 "Mac App Localhost requests are denied"
Currently I use the chrome extension which works great. However, after downloading the desktop app and using the same url "http://localhost/api/graphql" I get server error. Do you have any idea why this would happen.

I'm using macOS sierra 10.12.6 - 2015 Macbook Pro.

[2017-08-08 12:52] imolorhe commented on #114
Really? Can you open the dev console and check the errors there? Also take a screenshot and paste it here.

[2017-08-08 13:02] beatscode commented on #114
How do I open the dev tools on desktop app?

I can successfully query from browser extension.

<img width="1237" alt="09ac746b-d982-4072-bd76-f74361e7e1ad" src="https://user-images.githubusercontent.com/1777648/29072871-8768e4b8-7c17-11e7-95c0-b165127db247.png">

Clicking Show Docs link returns "Server Error"
![bba54e34-61e8-4b87-a738-8cdccd119f5a](https://user-images.githubusercontent.com/1777648

[2017-08-08 13:35] imolorhe commented on #114
@beatscode Yes the app makes a POST request. That's a bit strange though since the mac app pretty much does the same thing.

Could you come on gitter: https://gitter.im/altair-graphql/Lobby ?

[2017-08-08 13:39] imolorhe commented on #114
@beatscode Also you could open the dev tools using: `Cmd` + `option` + `I`

[2017-08-08 15:33] beatscode commented on #114
I logged into gitter. I tried the cmd+Option+i on the desktop app and nothing appeared.

[2017-08-12 11:42] imolorhe commented on #114
@beatscode Can you check the difference between sending the request from the mac app and the chrome extension in your server logs?

[2017-08-15 10:33] imolorhe commented on #114
@beatscode There is a new mac app release. This new version enables the dev tools menu, as well as a host of other ones. You can verify if this issue still persists in the new one. I'm closing this issue for now. If the issue persists, you can reopen the issue.

[2017-08-15 10:33] #114 closed

[2017-08-17 16:29] samdelacruz commented on #78
@imolorhe Totally missed this, thanks!!

[2017-08-18 05:26] beatscode commented on #114
The request method type is `altair://applications`. Not sure how to handle that method type server side. I'll do some digging

[2017-09-20 05:18] webmobiles opened #122 "this chrome plugin is not working, no execution, no errors displayed"
I set my url:

http://localhost:4000/graphiql

my query:

[code]
I run the query with 'send request' button,  I get just

'Ezio my friend, how may I be of service?'

it's a joke this app ?  :-)

in normal graphiql is working

[2017-09-20 05:29] imolorhe commented on #122
Hi.

What error does it show you?

[2017-09-20 05:30] imolorhe commented on #122
Can you take a screenshot? If you open the developer tools, do you see any errors? Can you take a screenshot there as well?

[2017-09-20 05:35] webmobiles commented on #122
just do nothings, here the attach, thanks
<img width="1021" alt="screen shot 2017-09-20 at 07 33 32" src="https://user-images.githubusercontent.com/21120559/30628361-30ab5c38-9dd6-11e7-9925-f4e54f777bb1.png">

[2017-09-20 05:37] imolorhe commented on #122
Hmmm.. So no errors? Strange. Can you check the network tab as well.

[2017-09-20 06:03] webmobiles commented on #122
Networks is ok, here the screens

<img width="715" alt="screen shot 2017-09-20 at 08 02 04" src="https://user-images.githubusercontent.com/21120559/30629056-15a3d86c-9dda-11e7-95e3-3b3228a945f5.png">
<img width="899" alt="screen shot 2017-09-20 at 08 01 46" src="https://user-images.githubusercontent.com/21120559/30629057-17b8c77a-9dda-11e7-9974-fb9a58e7a316.png">

[2017-09-20 06:05] imolorhe commented on #122
Lol. I think you're misusing it. That URL you provided renders the GraphiQL app. It doesn't point to the graphql server :D

[2017-09-20 06:07] imolorhe commented on #122
You need to pass the URL to the graphql server. Altair should properly inform you about this though. I'd add that to it. :) Thanks.

[2017-09-20 06:24] webmobiles commented on #122
how its works? I changed port from 4000 to 5000, but what are I missign? I'm testing in normal graphiql with 5000 too now, and it's works

[2017-09-20 06:50] imolorhe commented on #122
Okay. Can you come on gitter so we can communicate better. https://gitter.im/altair-graphql/Lobby

[2017-09-20 07:02] imolorhe commented on #122
@webmobiles Maybe also try http://localhost:5000/graphql

[2017-09-20 07:06] imolorhe commented on #122
@webmobiles I think the problem is you are using http://localhost:5000/graphiql instead of http://localhost:5000/graphql. I'm not entirely sure but I think http://localhost:5000/graphql is the URL to the graphQL server while http://localhost:5000/graphiql points to the graphiql explorer. Can you try that and let me know if it works?

[2017-09-20 09:05] webmobiles commented on #122
you saved my day, you were right, it's working, thanks

[2017-09-22 07:54] imolorhe commented on #122
@webmobiles Glad to hear that. Closing this issue now then. :)

[2017-09-22 07:54] #122 closed

[2017-09-26 14:06] mike-marcacci opened #123 "Autocomplete makes aliasing quite difficult"
If there is a similarly spelled field, is is impossible to type out an alias. For example, if I have root query fields `node` and `field2` it isn't possible to alias one as `foo: node(id: "xxx")` because typing the "f" in "foo" autocompletes to "field2".

The only way to get the correct field is either with some typing gymnastics (starting to type "xxxfoo" then removing the "xxx") or copy-and-past

[2017-09-26 20:09] imolorhe commented on #123
@mike-marcacci 😂 "typing gymnastics".. Lmao! Sorry to hear that. We had a debate about that sometime ago, and it seems this settles that debate. I'd make the necessary changes to make it wait for you to select the autocomplete, even if it's the only option available. 😊

Cc @lon-io

[2017-09-26 20:11] imolorhe commented on #123
@mike-marcacci By the way, any other usability issues you find, I'd be happy to work on. 😁

[2017-09-26 20:18] mike-marcacci commented on #123
Wonderful! 😁 Thanks for the great plugin, BTW. It's really saved me when working offline, since graphiql is too large to embed in an app's source, and referencing it precompiled from a CDN only works over a network. It's nice to have a proper graphql UI where it belongs – on my system.

[2017-09-26 20:24] imolorhe commented on #123
Yay!! 😁 Glad to hear that it's useful.

[2017-09-26 20:50] #123 closed

[2017-09-26 20:51] imolorhe commented on #123
@mike-marcacci So I'm curious, on what platform do you use Altair? The chrome extension or the desktop app?

[2017-09-26 21:04] mike-marcacci commented on #123
I only use the chrome extension. I actually didn't even know that there was a standalone app), since I found it in the chrome extension registry first.

[2017-09-26 22:19] #113 closed

[2017-10-25 06:37] martin-walsh opened #124 "Docs not reloading"
Hi,

Great tool.  Any way to force reloading of docs in the Chrome extension?

[2017-10-25 06:41] imolorhe commented on #124
What do you mean by forcing reloading of docs? The docs generally get regenerated when you use a different API.

[2017-10-28 09:14] imolorhe commented on #124
Hello @martin-walsh I'd like to close this issue. Let me know what how I can reproduce it.

[2017-10-30 18:25] patrick-yi-82 commented on #124
When there is an update on the current graph API, the documentation doesn't reflect the changes. We hope there is a way to reload the documentation of the graph API.

[2017-10-30 19:07] imolorhe commented on #124
@martin-walsh @patrick-yi-82 Okay. I can add a reload button for the docs.

[2017-11-03 05:28] martin-walsh commented on #124
Been away from graphql for a bit...

Patrick has exactly the case, in development, the api changes quite frequently, so a manual reload button or even refresh of the window would be ideal.

I am currently working around this by wiping local storage in the meantime

[2017-11-05 14:16] imolorhe opened #125 "Upgrade to angular v5"

[2017-11-05 21:28] #124 closed

[2017-11-05 21:51] imolorhe commented on #124
@martin-walsh @patrick-yi-82 The docs reloading has been added to altair in the latest release.

[2017-11-07 10:35] imolorhe opened #131 "Add binary download links in altair site."
Helpful link: https://stackoverflow.com/questions/24987542/is-there-a-link-to-github-for-downloading-a-file-in-the-latest-release-of-a-repo

[2017-11-07 10:43] imolorhe opened #132 "Fix buggy implementation of add query functionality"
The add query functionality does not work and hangs the application in certain conditions.
This should be addressed.

## Expected Behavior

Adding a query should always work, else the button shouldn't be there.

## Current Behavior

For some graphQL servers, when you click the "Add Query" button, the application hangs.

## Possible Solution

The likely culprit is because of an infinite recursive l

[2017-11-07 14:55] imolorhe commented on #132
It turns out the problem comes from codemirror trying to lint the query added to the editor. That might not be the only reason but looking through the call stack, it appears the recursive functions completed successfully and returned the data to codemirror. For now, I will set the depth limit to a conderable number (3) and would later add the ability to allow the user to modify the depth level, wi

[2017-11-07 15:01] imolorhe commented on #132
It turns out in some cases, that the query added even with a depth limit of 3 is still too much for codemirror linting to handle. Weird. I might have to disable the feature depending on the size of the index.

[2017-11-08 02:54] nate0001 opened #133 "Docs need typeahead lookup"
The document search should be dynamic with typeahead lookup.

[2017-11-08 08:24] imolorhe commented on #133
That can be implemented, however is it a very useful feature to have? How large is the graphQL schema you work with?

[2017-11-08 13:34] nate0001 commented on #133
The schema I'm working with has hundreds of functions and objects. The official graphiql interface also supports typeahead.

[2017-11-08 20:49] #132 closed

[2017-11-08 23:21] #133 closed

[2017-11-09 07:36] #131 closed

[2017-11-09 20:44] imolorhe opened #136 "Sign electron apps"
The mac app binary file is unsigned, preventing some MacBooks from being able to install it.

https://www.electron.build/code-signing
https://pracucci.com/atom-electron-signing-mac-app.html
https://github.com/electron-userland/electron-packager/blob/master/docs/api.md#osxsign

[2017-11-12 23:38] Graziel opened #137 "1.4.5 ignores set headers"
im setting header and its being ignored

## Expected Behavior
added header to request headers

## Current Behavior
header is ignored

## Possible Solution
was working before so it happened in current update

## Steps to Reproduce (for bugs)
1. add header
2. reload page / docs
3. check request headers in network tab

## Context
cannot check results in production env - requires jwt auth header

## Y

[2017-11-13 05:54] imolorhe commented on #137
@Graziel What header were you trying to set? I just checked and it sets the headers for me. Are you using the chrome extension or the app?

[2017-11-13 05:59] imolorhe commented on #137
Also the changes made in v1.4.5 was done in the docs section. https://github.com/imolorhe/altair/releases/tag/v1.4.5

[2017-11-13 06:06] Graziel commented on #137
any header ive tried "Authorization" and "test" none is getting passed
chrome extension

[code]

is there any way i can downgrade extension and check if its only this version?

[2017-11-13 10:48] imolorhe commented on #137
@Graziel Just checked those two headers: **test** and **Authorization**. Both were sent.

<img width="1438" alt="screen shot 2017-11-13 at 11 45 16 am" src="https://user-images.githubusercontent.com/4608143/32721914-685be2a8-c868-11e7-8e5f-b3090b2f5eb4.png">

Maybe you should uninstall and install altair again? I can't imagine why specific headers would be ignored. Do you think one of your browser

[2017-11-13 12:42] Graziel commented on #137
looks like its only for me, ive asked my colleague and he doesnt have this problem

im using axios (in my app) for requests and it sets headers correctly so its only extensions or angular/http

[2017-11-13 17:12] imolorhe commented on #137
Hmmm.. weird. Do you have any notable errors in the dev console, that could point to this issue?

[2017-11-13 22:57] Graziel commented on #137
the only error i get is 'Invalid window ID provided.' but its after xhr request, to be sure its not my setup ive checked it on https://www.graphqlhub.com/graphql

ive tried reinstalling, disabling all extensions, restarting chrome, restarting computer, playing with chrome settings, nothing points to whats going on, without source map i cant debug it propertly

and whats wierd it was working last w

[2017-11-14 01:30] Graziel commented on #137
found the problem, headers are only set in 1st window tab and they are propagated to other tabs

[2017-11-14 05:08] imolorhe commented on #137
To be clear, did you open the extension multiple times, or you are referring to the new window option within the extension itself? Maybe a screenshot of your extension would help.

[2017-11-14 05:12] imolorhe commented on #137
I just tried setting headers in 'Window 2' in my system, and that works separate from the headers I set in 'Window 1'. Unfortunately you can't downgrade to verify if the issue is from Altair. What you can do however is download the older version of the desktop app for the platform you are using (mac, windows or linux). The older version downloads are always available for those. The only thing is t

[2017-11-14 06:01] imolorhe opened #139 "Add language internationalization."
[code]

https://angular.io/guide/i18n

https://plnkr.co/edit/JyE4l4TjEruuPsrbanmK?p=info

https://github.com/ngx-translate/core

Tasks:

- [x] #140
- [x] #141
- [ ] Add ru language translation
- [x] Add ch language translation
- [x] Add fr language translation
- [x] Automatically detect the default user browser language #174
- [x] Have option to change language #183

[2017-11-14 06:01] imolorhe opened #140 "Add ngrx-translate package"
https://github.com/ngx-translate/core

[2017-11-14 06:02] imolorhe opened #141 "Add translation files for english"

[2017-11-14 06:10] imolorhe opened #142 "Download server response to JSON file."
https://stackoverflow.com/questions/19721439/download-json-object-as-a-file-from-browser

https://jsfiddle.net/imolorhe/68e73y85/

[2017-11-14 06:52] imolorhe opened #144 "Check that only one extension tab is open to prevent issues with modifying data from two different places"
If an extension tab is open, highlight it instead of opening another one.

https://developer.chrome.com/extensions/tabs#method-create

`chrome.tabs.create()`
`chrome.tabs.get()`
`chrome.tabs.highlight()`
`chrome.tabs.query()`

[2017-11-14 06:58] imolorhe opened #145 "Notify user when docs are not available for the current URL"

[2017-11-14 06:59] imolorhe opened #146 "Ability to rearrange the windows."
The window positions need to be stored and used when deciding the order of the tabs.

https://www.html5rocks.com/en/tutorials/dnd/basics/

**NOTE**: If the solution involves adding a new window position data to the state, utilize the app init action to patch older app versions without the window position data, so they don't break.

[2017-11-14 07:12] imolorhe commented on #125
This might take a while to complete as some packages being used don't seem to be compatible with angular 5 at the moment. For example, ng2-codemirror doesn't highlight the code properly when I upgraded to angular 5.

So, I'll keep this on hold for now.

[2017-11-14 08:13] Graziel commented on #137
ive finally got it working but there are some things that you need to remember

1) headers are set ONLY when you click 'send request'
2) headers are app wise state not window tab state

so i coudnt set it because i was trying 'reload docs' and my app required "authenticate" header to get docs and it wasnt set cause of 1) i got headers set in other window cause i just could 'send request' knowing d

[2017-11-14 08:49] imolorhe commented on #137
@Graziel Oh I see. So you were trying to use the headers for the docs. I didn't consider that. Like you said, the headers are currently only sent when the request for a query is sent, not when you try to get the docs.

I would update that functionality. Sorry for the trouble. 😄

By the way, when you say you got it working, how do you mean? What did you do?

[2017-11-14 09:15] Graziel commented on #137
to get it working:
1) "set headers"
2) "send request"
3) "reload docs"

yeah like i said it was working previously and probably app update reset state thats why i wasnt getting any headers (even with wrong values) in request

[2017-11-14 09:31] imolorhe commented on #137
It shouldn't have worked previously because this code hasn't been modified in a while. I think it just became obvious because we added the 'Reload Docs' button recently. Thanks for helping me find it though! 😄

[2017-11-14 11:01] mokeyish commented on #137
I have found this problem too.

[2017-11-14 13:16] imolorhe commented on #137
@mokeyish Sorry about that. It would be fixed in the next update. :)

[2017-11-14 13:27] mokeyish commented on #137
@imolorhe Nerver mand,Thanks for your app,it is really very useful.

[2017-11-14 13:41] imolorhe commented on #137
I'm glad to hear that! 😁

[2017-11-14 14:00] mokeyish commented on #137
@imolorhe Add oauth2.0 authentication will be good.:hugs:

[2017-11-14 14:40] imolorhe commented on #137
@mokeyish You could create an issue for it with more details. Also I haven't used OAuth 2.0 with any API client before so I am not certain at the moment how that would be meant to work. 😄

[2017-11-14 23:10] #145 closed

[2017-11-14 23:10] #144 closed

[2017-11-14 23:11] #142 closed

[2017-11-14 23:11] #137 closed

[2017-11-15 18:46] imolorhe opened #148 "Redesign altair"
To be able to properly accommodate the current and upcoming features, the app layout needs to be thought through and a structured design framework that enforces consistency across the app should be used.

- [x] Design mockup #150
- [x] Add clarity UI #149

[2017-11-15 18:47] imolorhe opened #149 "Refactor app to use Clarity UI framework"
: https://vmware.github.io/clarity/

[2017-11-15 18:47] imolorhe opened #150 "Choose new design layout for app."
https://dribbble.com/shots/3678424-User-Dashboard-Profile-Completion
https://dribbble.com/shots/1804000-Dashboard
https://dribbble.com/shots/2056572-Dashboard-for-University-s-students
https://dribbble.com/shots/3850576-Robo-Advisor-Projection-List-and-Questionnaire
https://dribbble.com/shots/3019397-Agile-CRM-Home-Ver2
https://dribbble.com/shots/3416125-Joinesty-Dashboard-List-View
https://dribbb

[2017-11-16 11:21] #150 closed

[2017-11-17 15:19] mloureiro opened #151 "Application is not sending headers"
## Expected Behavior

When headers are set they should be sent with every request.

## Current Behavior

Headers are not sent

## Steps to Reproduce (for bugs)

1. set any headers (I've tried `Authorization` and custom headers)
2. open network tab in dev tools
3. press _Reload Docs_
4. check that request is missing headers
5. make any graphql query
6. press _Send Request_
7. check that request is

[2017-11-17 15:20] imolorhe commented on #151
@mloureiro That should be fixed in v1.4.6. It was reported previously. #137

[2017-11-17 15:33] mloureiro commented on #151
was reading that now, weirdly enough I'm experiencing that with the app v1.4.7

[2017-11-17 15:35] mloureiro commented on #151
Is it possible that the app build was done with wrong version?

[2017-11-17 15:52] imolorhe commented on #151
@mloureiro It shouldn't be. Unless electron exclusively ignores it somehow. Can you try with the extension, and let me know if it works?

[2017-11-17 15:57] imolorhe commented on #151
Also can you add a screenshot of the network tab request header section?

[2017-11-17 16:06] imolorhe commented on #151
@mloureiro I just downloaded v1.4.7 mac app and tried your steps above, but I am unable to reproduce the issue. The headers I added were sent with the request.

[2017-11-17 16:08] imolorhe commented on #151
<img width="1283" alt="screen shot 2017-11-17 at 5 07 00 pm" src="https://user-images.githubusercontent.com/4608143/32956688-c5bd3f88-cbb9-11e7-98d9-03e6f6496dc6.png">

As you can see here, I added `xs` and `Authorization` and it sends both of them. Only difference is that `Authorization` is sent as `authorization` since headers are not case sensitive (or that's how they are normally sent) but the

[2017-11-17 16:19] mloureiro commented on #151
![screen shot 2017-11-17 at 17 17 29](https://user-images.githubusercontent.com/3427665/32957186-40cbe20a-cbbb-11e7-8e4e-bb14ecd3d048.png)

and the version

![screen shot 2017-11-17 at 17 18 41](https://user-images.githubusercontent.com/3427665/32957236-63edf4e4-cbbb-11e7-969c-584669b068c6.png)

[2017-11-17 16:21] mloureiro commented on #151
I'll try with the extension

[2017-11-17 16:23] mloureiro commented on #151
Yes the extension works perfectly

[2017-11-17 19:13] imolorhe commented on #151
@mloureiro I think the issue has to do with the preflight request that is made in chrome. I am trying to understand why it is happening in the electron app and not the extension though. To understand this better, you can check this: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Preflighted_requests

[2017-11-17 19:15] imolorhe commented on #151
Chrome sends a preflight request with the OPTIONS method. I think you shouldn't have an issue if you're handling that method. I'll still look into this though. From the docs, it seems like it's the way it's meant to behave. That it should always send a preflight request for requests that are not "simple".

[2017-11-17 21:40] imolorhe commented on #151
@mloureiro I can make the apps work without sending the preflight request. That should be available in the apps in the next version.

[2017-11-17 22:02] imolorhe commented on #151
@mloureiro Just saw a comment relating to your situation:
http://restlet.com/company/blog/2015/12/15/understanding-and-using-cors/

Worth noting.

[2017-11-18 07:41] mloureiro commented on #151
@imolorhe don't know much about that, I'll take a look.
Thanks for the finding!

[2017-11-18 07:55] mloureiro opened #153 "Background color changes when using dark theme in dev tools"
## Expected Behavior

UI colors shouldn't change when changing dev tools theme.
(it is quite possible that this is an electron bug, personally never saw it happen before)

## Current Behavior

Background color changes.

![screen shot 2017-11-18 at 08 42 19](https://user-images.githubusercontent.com/3427665/32978166-dffb1d60-cc3c-11e7-83f0-223dc26eb711.png)

## Possible Solution

Define background

[2017-11-18 08:39] imolorhe commented on #153
@mloureiro Hmmm.. weird. Thannks for the PR though 😄

[2017-11-18 08:41] imolorhe commented on #153
Unfortunately, the file you modified would be obsolete by the time I merge my PR #152 😞

I could make the change there as well, or if you want, you can create the PR after I merge that one.

[2017-11-18 09:25] #149 closed

[2017-11-18 09:25] #151 closed

[2017-11-18 09:27] imolorhe commented on #153
Fixed in #152

[2017-11-18 09:27] #153 closed

[2017-11-18 09:39] imolorhe commented on #125
I would try again with the angular upgrade but instead it would start with upgrading all dependencies first, broken down into different upgrade chunks, before upgrading angular itself.

[2017-11-18 11:02] imolorhe opened #156 "Create a shared module."
Some modules are required by different modules. To prevent issues with duplicate module imports, the code should be refactored to keep all shared modules in a single `SharedModule` which is imported in all the other modules.

[2017-11-18 12:47] #140 closed

[2017-11-18 12:47] #141 closed

[2017-11-18 12:47] #156 closed

[2017-11-18 13:09] imolorhe opened #157 "Fix broken web app deployment"

[2017-11-19 15:47] imolorhe opened #158 "Add better subscriptions support"
Following the GraphQL Subscriptions RFC, simple subscriptions queries should be possible using altair. Although there are several push mechanisms that could be used, altair should be able to function with the web socket mechanism.

https://github.com/facebook/graphql/blob/master/rfcs/Subscriptions.md

[2017-11-19 15:48] imolorhe opened #159 "Add ability to set HTTP verb used to send a request to a graphQL server."

[2017-11-19 20:18] musaffa opened #160 "Shows only a blank screen in Ubuntu application"
I installed Altair 1.5.0 on Ubuntu using the deb file. When I open the application, all I can see is a blank white screen. I tried with `1.4.7` but the same result.

System Info: Ubuntu 16.04 64bit.

[2017-11-19 22:40] imolorhe commented on #160
@musaffa Thanks for pointing that out. I'd fix that in the next update. A particular script didn't run.

[2017-11-20 06:48] imolorhe commented on #160
@musaffa You can use the build from this release: https://github.com/imolorhe/altair/releases/tag/v1.5.0-linux

Sorry for any inconvenience. This would be a temporary release however, and I would remove it by the next stable version.

Thanks for helping me find this bug. 😄

[2017-11-20 06:48] #160 closed

[2017-11-20 07:32] musaffa commented on #160
The issue has been fixed now. Thanks.

[2017-11-20 08:48] psamim opened #161 "Search docs is not usable on Firefox"
## Expected Behavior
On the left side docs sidebar, when I start typing in the search input text field the matching queries, mutation and types are displayed as a list below the input field. It is expected that by clicking on one of the matched names its related docs appear.

## Current Behavior
By clicking on a matched name in the list below the input list nothing happens.

## Your Environment
Ar

[2017-11-20 09:07] imolorhe commented on #161
@psamim Oh that functionality wasn't added to the autocomplete. Currently you have to hit the return key to see the list of results.

[2017-11-20 09:08] imolorhe commented on #160
@musaffa Don't forget to ⭐️ 😉

[2017-11-20 10:03] psamim commented on #161
Aha! Thanks. So maybe label it as a feature request?

[2017-11-20 10:10] imolorhe commented on #161
Sure. I'll do that. PRs are also welcome too. 😉

[2017-11-21 07:38] psamim opened #162 "Stuck at Loading"
## Expected Behavior
I typed a query and variables and clicked on the "Send Request". "Loading" is displayed and stuck.

## Current Behavior
It is stuck in the "Loading".

## Steps to Reproduce (for bugs)
1. Write query
2. Send request

## Context
When I open the console I see the error below:
[code]

## Your Environment
Archlinux, Firefox 57.0 (64bit)

[2017-11-21 07:43] psamim commented on #162
I did the steps on Chrome extension with the same query and got the same error:
[code]

[2017-11-21 07:48] psamim commented on #162
Solved! The problem was that the variables were set as `{ username: "username" }`, which is not a valid JSON. It should have been `{ "username": "username" }`, with quotes. But I think that such error should not result in a stuck UI. Can you change the behavior so that some kind of error is displayed?

[2017-11-21 09:12] imolorhe commented on #162
@psamim Sure. I'll validate the variables before passing them to the API, and also add a try..catch to properly handle any other errors.

[2017-11-22 00:03] #161 closed

[2017-11-22 00:03] #162 closed

[2017-11-22 00:06] imolorhe commented on #158
This feature has been implemented. Still requires extensive testing though.

[2017-11-22 00:06] #158 closed

[2017-11-22 21:57] #157 closed

[2017-11-24 07:19] psamim commented on #162
Thanks for fixing this. But I have an issue here.

The first time it correctly raised an error that the JSON is invalid. Then I went and cleared the variables so it became an empty string and now it raised an error that the variables JSON is invalid. So I had to put `{}` as the variables to able to use it.

[2017-11-24 07:21] psamim opened #165 "Prettify does not work"
## Current Behavior
`Prettify` does not work.

## Your Environment
Archlinux, Firefox 57.0, using as an add-on installed from Firefox add-ons website.

[2017-11-24 09:03] psamim opened #166 "Implement history"
Hi,

It would be nice to have history as in GraphiQL

Thanks,

[2017-11-24 09:59] igorlesnenko opened #167 "Subscriptions output is not readable"
Currently, the output of subscriptions is not possible to read without dev tools.
Can not expand it:

![image](https://user-images.githubusercontent.com/466991/33205125-3915faa0-d11f-11e7-9c5d-1655f85d94d3.png)

## Possible Solution
Expand response on click

## Your Environment
macOS client

[2017-11-24 10:08] imolorhe commented on #167
@igorlesnenko I'll add the expand on click functionality to it. This was just added recently. I wasn't sure how many people actually use it. Any other feedback on it would be appreciated too!

[2017-11-24 10:17] imolorhe commented on #166
@psamim How do you propose that the history should be implemented, considering that altair has support for multiple tabs?

[2017-11-24 10:56] imolorhe commented on #162
😃 Thanks for pointing that out. I have fixed it and would push the fix soon. It should be fixed in the next release.

[2017-11-24 21:02] timscott opened #168 "Docs on Union Types should show Possible Types"
## Expected Behavior
Doc on a union type should show the possible types (as links).

## Current Behavior
Doc on union types contains no detail.

[2017-11-24 23:22] #168 closed

[2017-11-24 23:47] batjko opened #170 "Method not allowed"
![image](https://user-images.githubusercontent.com/7287076/33225569-d6385074-d171-11e7-92e0-4e2a9cc6a204.png)

[2017-11-24 23:53] imolorhe commented on #170
@batjko The URL on the browser is not always the same URL for the API. In the case of http://graphql.org/swapi-graphql/, they use a local cache instead of pulling the data from an API, sp that wouldn't work.

[2017-11-24 23:58] batjko commented on #170
Ah yea, I just noticed that as well. That can be confusing.
Never mind and thanks for the quick response.

[2017-11-24 23:58] #170 closed

[2017-11-25 05:05] wKovacs64 opened #171 "v1.5.2 just showing a blank screen on macOS"
## Expected Behavior

I would expect to see a cool GraphQL client.

## Current Behavior

I see a blank white screen.

## Possible Solution

Fix whatever broke in v1.5.2. :)

## Steps to Reproduce (for bugs)

1. Launch v1.5.2 on macOS.

## Context

v1.5.1 works fine.

## Your Environment

* Version used: 1.5.2
* Environment name and application type (e.g. Chrome 39, chrome extension v1.4.7): darwin

[2017-11-25 10:00] imolorhe commented on #171
@wKovacs64 Thanks for mentioning it. I'd run the build again. The build was wrong and I ran it again, but apparently the build doesn't overwrite a previous build.

Pro Tip: To overwrite a release, delete the tag, then discard the draft of the tag. 😝

[2017-11-25 10:17] imolorhe opened #172 "Auto update electron apps"
Electron apps should be able to notify the users whenever there is a new version.

https://github.com/electron/electron/blob/master/docs/api/auto-updater.md

[2017-11-25 10:26] imolorhe commented on #172
This depends on #136 for the mac app.

[2017-11-25 10:49] imolorhe commented on #172
https://github.com/electron/electron/blob/master/docs/tutorial/updates.md

[2017-11-25 10:51] #171 closed

[2017-11-25 19:04] imolorhe opened #175 "Improve electron integration"
- [x] Use electron builder instead of electron forge
- [ ] Sign electron apps #136
- [ ] Auto update electron apps #172
- [x] https://www.npmjs.com/package/ngx-electron
- [x] Add electron keyboard shortcuts #176
- [x] Enable mac touchbar integration #180
- [x] Add notification for GraphQL subscription #182
- [x] Create service layer for interactions between electron and the app

[2017-11-25 19:38] imolorhe opened #176 "Add electron keyboard shortcuts"
Cmd+T => New tab
Cmd+W => Close tab

[2017-11-25 22:36] wKovacs64 opened #177 "Request: reduce/debounce URL notifications"
## Expected Behavior

* An empty URL should not trigger the invalid URL notification.
* A valid URL should only trigger the success notification once (until the input has changed).
* An invalid URL should only trigger the error notification once (until the input has changed).

## Current Behavior

The notifications triggered by URL validation are a bit spammy. Specifically, when the URL input is f

[2017-11-26 05:29] markdchurchill opened #178 "Invalid schema semi-permanently breaks Altair"
If is closed when the last schema it received was invalid, it fails to reopen again and hangs.

Empty cache & hard reload doesn't help, I have to remove/readd the extension.

Chrome 62.0.3202.94 on Win 10.

[2017-11-26 09:35] imolorhe opened #179 "Store the last active window state"
The active window state should be stored in the windows meta reducer.

[2017-11-26 09:37] imolorhe commented on #146
Create a new reducer (windows meta) to store extra information like this about windows states.

[2017-11-26 09:38] #148 closed

[2017-11-26 16:51] #177 closed

[2017-11-26 16:51] #178 closed

[2017-11-26 16:51] #176 closed

[2017-11-26 17:06] imolorhe opened #180 "Add touchbar support"
Considering adding touchbar support to the mac app but I am not sure if it would be beneficial to anyone.

Give this issue a thumbs up 👍  if you would like that feature.

Also, what functionality do you think should be added to the touchbar? Drop a comment below about it.

[2017-11-26 17:37] #179 closed

[2017-11-26 20:29] imolorhe opened #182 "Add notification for GraphQL subscriptions"

[2017-11-26 20:30] #182 closed

[2017-11-26 20:37] imolorhe opened #183 "Add settings modal"
Create a settings modal to allow the user change settings:
- Change language
- Export data
- Import data
- Change theme

Create a settings reducer to contain the settings data.

[2017-11-26 21:58] imolorhe commented on #136
It turns out that signing a mac app requires an apple developer account which would cost $100 every year. 😖

I guess this would take a little longer than expected.

[2017-11-27 07:20] ahmadalli opened #186 "It's stuck at first page"
It's stuck at logo page in windows 10 1709 using latest electron version or chrome extension.

## Expected Behavior
after a while app should open

## Current Behavior
it's stuck in the logo page.
![image](https://user-images.githubusercontent.com/2167301/33254985-b3217e4e-d360-11e7-9b60-65cd44035a1b.png)

## Steps to Reproduce (for bugs)
1. Install the windows app
1. Open the app

## Context
I'm t

[2017-11-27 07:44] imolorhe commented on #186
Hello @ahmadalli, what errors do you see in the developer console in the chrome extension and the app?

[2017-11-27 07:52] imolorhe commented on #186
Also did it work for you in an older version?

[2017-11-27 17:06] ahmadalli commented on #186
the developer window literally shows nothing (even the html) and there's no error. I can't even close it after I opened it. I'll try older versions

[2017-11-27 17:08] nclr666 commented on #186
same here. firefox/chrome/desktop version has problem. looks like it cant download something from net, 'cause in other browser it works well using cache

[2017-11-27 17:48] ahmadalli commented on #186
I installed v1.4.7 and it worked fine then v1.5.3 worked fine and after that v1.5.4 worked fine too

[2017-11-27 18:46] imolorhe commented on #186
@ahmadalli Okay. I've found the problem. It only affects new users. Pushing a fix soon.

[2017-11-27 18:47] #186 closed

[2017-12-03 15:01] Evgeny- opened #190 "Scroll doesn't work in firefox 57?"
There's no scroll of content in firefox extension. Page up/page down works as expected.

Firefox 57, Ubuntu. Ext v 1.5.5

![screenshot_2017-12-03_17-52-13](https://user-images.githubusercontent.com/2590551/33526527-eecb9f9a-d853-11e7-957f-30f3c4a25612.jpg)

[2017-12-03 16:02] imolorhe commented on #190
@Evgeny- I'll look into this.

[2017-12-04 07:08] imolorhe commented on #190
@Evgeny- When you scroll, work does it do?

[2017-12-04 07:32] #190 closed

[2017-12-04 07:37] imolorhe commented on #190
It would be fixed in the next release. :)

[2017-12-04 09:20] Evgeny- commented on #190
@imolorhe Thank you! (Scroll by mouse wheel doesn't work too)

[2017-12-05 07:46] #159 closed

[2017-12-06 11:31] Evgeny- opened #191 "Firefox: ReferenceError: customElements is not defined"
Extension has stopped working after update to 1.5.6. Stopped at loading screen. There's reference error in console:

Firefox 57, ubuntu

[2017-12-06 13:24] imolorhe commented on #191
@Evgeny- Updated firefox extension to v1.5.7.

[2017-12-06 13:24] #191 closed

[2017-12-06 15:06] Evgeny- commented on #191
It works! Thank you!

[2017-12-07 14:25] lon-io opened #193 "Broken HTTP Verb Dropdown"
## Current Behavior
https://t.co/smZKyclOuF
The input is broken off the select box on smaller devices

## Your Environment
Chrome Version 62.0.3202.94 (Official Build) (64-bit)
MacBook Pro (13-inch, Mid 2012)

[2017-12-07 14:37] imolorhe commented on #193
Thanks for pointing it out. It's been fixed. Would be fixed by the next update.

[2017-12-07 14:37] #193 closed

[2017-12-08 18:57] tspecht opened #194 "Add tracing visualization"
## Expected Behavior
* Once a query was run that returns tracing data, parse it and display a timeline-style drilldown of the queries tracing data

## Current Behavior
* New feature, not yet in the app :)

## Context
* Tracing data is extremely powerful to properly debug your API and find out where potential bottlenecks are lying, especially with deeply nested structures. Integrating this into the

[2017-12-08 19:41] imolorhe commented on #194
Hello @tspecht, I'll need an example of this. Unfortunately I haven't worked with tracing data in GraphQL before. I'm assuming it is related to [apollo tracing](https://github.com/apollographql/apollo-tracing)? Or is it part of the GraphQL spec?

[2017-12-08 19:49] tspecht commented on #194
Yes, exactly, sorry, should have been more clear on this, my first feature suggestion so far :)

`apollo-tracing` is a pretty well-established GraphQL plugin right now that runs on server side.

Small screenshot of how this is rendered in the Apollo Engine so you get an idea of what I'm talking about:

![screenshot 2017-12-08 14 44 28](https://user-images.githubusercontent.com/603144/33782360-6fea

[2017-12-08 19:56] imolorhe commented on #194
Okay. It looks like a useful feature to have when debugging servers. 👍

[2017-12-09 15:20] psamim commented on #166
Maybe vertical tabs? Something like Graphiql. Now I have to copy and paste my queries in an editor to work with altair.

[2017-12-13 15:19] imolorhe opened #195 "Download link appears at the bottom of the page"
When the Download Result link is pressed, a download link appears at the bottom of the page.

[2017-12-17 01:10] #195 closed

[2017-12-17 18:38] #166 closed

[2017-12-17 19:14] imolorhe commented on #166
@psamim The history functionality has been implemented.

[2017-12-22 07:11] mokeyish opened #197 "Could you provide compress function to make query string shorter ."
Prettify make query string easy to view.compressing make query string shorter .

[2017-12-22 07:44] imolorhe commented on #197
What's the use case for such a function?

[2017-12-22 07:46] mokeyish commented on #197
@imolorhe in order to reduce bytes transfed over http.

[2017-12-22 08:01] imolorhe commented on #197
So you'd write the query, compress it and copy it somewhere? Also besides removing of whitespace, what else is the compression meant to accomplish?

[2017-12-22 08:03] mokeyish commented on #197
@imolorhe Yeah ,Just remove whitespace of the query.

[2017-12-22 08:58] imolorhe commented on #197
Okay. Sounds easy enough.

[2017-12-22 09:04] mokeyish commented on #197
@imolorhe Thinkyou :joy:

[2017-12-22 09:29] imolorhe commented on #197
https://github.com/rse/graphql-query-compress

[2017-12-23 08:29] imolorhe commented on #194
https://github.com/apollographql/apollo-tracing
https://github.com/apollographql/apollo-tracing-js
https://dev-blog.apollodata.com/exposing-trace-data-for-your-graphql-server-with-apollo-tracing-97c5dd391385
https://dev-blog.apollodata.com/the-anatomy-of-a-graphql-query-6dffa9e9e747

[2017-12-23 08:31] tspecht commented on #194
Yeah, that is outlining the integration basically, the visualization of the
output the plugin renders into the response data is a complete different
story unfortunately ...
On Sat, Dec 23, 2017 at 9:29 AM Samuel <notifications@github.com> wrote:

[2017-12-23 09:01] imolorhe commented on #194
Oh I know. 😄 I'm only documenting it for use when building the feature.

[2018-01-08 10:25] imolorhe opened #198 "Add ngrx store freeze"
https://github.com/brandonroberts/ngrx-store-freeze

[2018-01-10 14:56] imolorhe opened #199 "Use ngrx async pipe in container components in place of the `subscribe()` functions"
For the cases where this makes sense, use the async pipe with selectors in the container components.

https://blog.thoughtram.io/angular/2017/02/27/three-things-you-didnt-know-about-the-async-pipe.html

This leads up to #205

[2018-01-11 01:22] #197 closed

[2018-01-11 02:26] imolorhe commented on #125
Post ng5 upgrades

- ngx-electron

[2018-01-11 04:56] #125 closed

[2018-01-11 04:56] imolorhe commented on #125
Fixed.

[2018-01-11 15:11] batjko opened #200 "Feature Request: Provide choice of themes"
While the current UI is very smooth and beautiful ( :+1:  ) , it's also very bright and hurts my eyes after short amounts of time.
I'd love to have the option of a dark version.

Secondly, the result pane, currently syntax-highlighted in grey with mostly black text and some salmon red for strings, is rather ugly. This alone could use a bit of re-styling even in the light UI.

Many thanks.

[2018-01-11 15:12] imolorhe commented on #200
I'll welcome suggestions. :)

[2018-01-11 15:47] imolorhe opened #201 "Add simple CSS only tooltip"

[2018-01-11 15:54] imolorhe commented on #146
Potential solution using the new windows meta reducer:

- create an array of all the window IDs
- create an effect that watches each time a window action is dispatched, and updates the window IDs array
- Use the new window IDs array to determine the position of each window.

[2018-01-11 16:11] imolorhe opened #202 "Add ability for users to log in and store queries and collections."
**Background:**

Users should be able to login with an account from any device and get access to their stored queries and collections of queries. Currently the state of the app is stored in localstorage using ngrx-local-storage package. While this works well currently, there is always the likelihood of the localstorage limit being reached and so parts of the application state would be lost.

Inste

[2018-01-11 21:51] #201 closed

[2018-01-11 21:53] imolorhe commented on #198
The package seems to be conflicting with the GraphQLSchema objects using in the application. Somewhere in the code, the application is assigning values whenever the values are accessed.

[2018-01-12 08:11] imolorhe opened #203 "Enable e2e tests"
The CI servers should run e2e tests along with the unit tests they currently run.

[2018-01-12 20:59] #203 closed

[2018-01-13 01:39] #200 closed

[2018-01-13 01:39] #183 closed

[2018-01-13 01:52] imolorhe opened #204 "Implement post update link in extension to show changelog"
https://developer.chrome.com/extensions/runtime#event-onInstalled

[2018-01-13 05:57] #204 closed

[2018-01-13 12:51] imolorhe opened #205 "Implement changeDetection.OnPush strategy in presentational components"
https://vsavkin.com/change-detection-in-angular-2-4f216b855d4c?gi=996cd1d0eaf6

https://blog.angular-university.io/onpush-change-detection-how-it-works/

[2018-01-13 13:48] imolorhe commented on #194
https://github.com/swimlane/ngx-charts

[2018-01-13 14:13] imolorhe commented on #146
https://github.com/SortableJS/angular-sortablejs

[2018-01-16 13:27] imolorhe commented on #197
@mokeyish Implemented in v1.6.1.

[2018-01-16 13:27] imolorhe commented on #200
@batjko Implemented in v1.6.1

[2018-01-16 13:43] mokeyish commented on #197
@imolorhe Excellent!:+1:

[2018-01-16 13:46] batjko commented on #200
@imolorhe Yea I just noticed, thank you.
The dark grey UI is really beautiful.

Again, the query and result panes could still use a better font and nicer syntax highlighting, but overall I don't get blinded anymore, which is great. :+1: :wink:

[2018-01-16 13:48] imolorhe commented on #200
@batjko Great! I'm still looking for design advice for the results pane though. 😉

[2018-01-16 17:06] batjko commented on #200
Yes, sorry I'm no UI expert, but GraphQL Playground hit it pretty nicely, to give one example:

![image](https://user-images.githubusercontent.com/7287076/35001826-a47cb268-fadf-11e7-9ca5-7d02c9b6c843.png)

[2018-01-21 18:24] #199 closed

[2018-01-23 12:43] #146 closed

[2018-02-04 13:59] imolorhe opened #214 "Create named collection of queries."
Each collection can have subfolders within it.

Each collection can be named, duplicated, exported.

Maybe lazy loaded.

- [x] Create new side menu
- [x] Move side menu to app level
- [x] Create collections component
- [x] Delete collection
- [x] Delete query from collection
- [x] Export collection #570
- [x] Edit collection

Store collection data in indexedDb.
http://dexie.org/

Parse markdown.
h

[2018-02-04 14:00] imolorhe opened #215 "Show SDL for current GraphQL schema"
`print(schema)`

https://blog.graph.cool/graphql-sdl-schema-definition-language-6755bcb9ce51

[2018-02-04 14:01] imolorhe opened #216 "Add ngx-pipes"
https://github.com/danrevah/ngx-pipes

[2018-02-04 14:01] imolorhe opened #217 "Add context menu to window titles."
https://github.com/isaacplmann/ngx-contextmenu

Edit
Close

[2018-02-04 14:02] imolorhe opened #218 "Import/export window data."
All data files would be JSON-esque in format.

They would all contain a version number: 1

[2018-02-04 14:09] imolorhe commented on #180
Actions:
- Send request
- Reload docs
- Show docs

[2018-02-04 17:37] imolorhe commented on #205
Added for some components now. Would add for others as the code is refactored further.

[2018-02-04 17:37] #205 closed

[2018-02-04 21:09] #216 closed

[2018-02-04 21:09] #217 closed

[2018-02-04 21:11] #218 closed

[2018-02-04 21:19] imolorhe opened #219 "Add dnd for AGQ files"
https://github.com/akserg/ng2-dnd

[2018-02-04 22:18] #219 closed

[2018-02-05 19:29] #215 closed

[2018-02-08 00:03] patrickleet opened #221 "Electron app freezes with large query"
Restarting does not resolve, as large query is reloaded, and app freezes.

From trying to run one query, the app no longer works at all :(

I really like it though, hopefully we can figure out how to resolve this.

For now, where is data stored so I can blast away the history or whatever is causing it to reload the problem query?

[2018-02-08 00:13] patrickleet commented on #221
Also happening in chrome extension

[2018-02-08 06:13] imolorhe commented on #221
@patrickleet Sorry to hear that. The data is stored in local storage.

Just to be clear, the app doesn't work at all? Or you can't edit the query? Is there any error in the console? Just how large is the query?

[2018-02-13 09:43] drmax24 opened #222 "White screen"
I can only see whitescreen:
https://yadi.sk/i/TQJQb8uv3SLznK

mac os 10.13.2

[2018-02-13 09:44] imolorhe commented on #222
@drmax24 Is this v1.6.3?

[2018-02-13 09:49] imolorhe commented on #222
@drmax24 Sorry the link in https://altair.sirmuel.design/ is broken. Use this one instead: https://github.com/imolorhe/altair/releases/download/v1.6.3/altair-1.6.3.dmg

Let me know if it worked for you.

[2018-02-13 09:54] imolorhe commented on #222
I've also updated the link in https://altair.sirmuel.design/ as well.

[2018-02-15 06:45] imolorhe commented on #222
@drmax24 I'm closing this issue since I haven't heard back from you.

[2018-02-15 06:46] #222 closed

[2018-02-15 06:46] imolorhe commented on #221
@patrickleet Is this still an issue?

[2018-02-21 06:33] imolorhe opened #223 "Investigate problem with large queries and response data"
Look out how to improve the performance of ngrx-store-localstorage.

Store history in indexedDb instead.
Store query in indexedDb instead.
Don't store result.

Add a migration function to:
- move data into indexedDb from localstorage on initialization.
- remove data from localstorage.

Load the window data from indexedDb into the store on initialization.
Ignore specific actions in localstorage met

[2018-02-21 18:52] imolorhe commented on #221
@patrickleet I'm only able to reproduce the app behaving slowly when the data fetched after clicking "Send Request" is very large. I've updated the styles to improve this. However, without any more information about what is going on, I can't reproduce a total freeze of the app.

[2018-02-21 19:51] patrickleet commented on #221
Hey my bad. I kinda stopped using and switched to postman for my immediate
needs.

I’ll see if I can reproduce for you.
On Wed, Feb 21, 2018 at 1:52 PM Samuel <notifications@github.com> wrote:

[2018-02-23 07:24] imolorhe commented on #223
The way the ngrx-store-localstorage package works,  it would always save the entire store to localstorage. Maybe something else that can be done to improve it's performance is to throttle saving the query.

[2018-02-28 20:17] imolorhe commented on #221
Closing this issue due to inactivity. The issue is likely to have been fixed in v1.6.5. Feel free to reopen it if the issue still persists.

[2018-02-28 20:17] #221 closed

[2018-03-01 15:51] jrop opened #226 "Expose express middleware"
## Expected Behavior

(change/improvement)

I would like to embed altair in my express server utilizing something like:

[code]

## Current Behavior

I see a `server.js` file that exposes the express server, but it also starts the server on a given port, which I do not want to do.  Also, it would be nice if the middleware accepted options [like Apollo Server does](https://www.apollographql.com/doc

[2018-03-01 15:54] imolorhe commented on #226
@jrop that's a nice idea. I've also been thinking of the same thing. Still trying to figure out how best to do it. Any input on this is very appreciated! :)

[2018-03-01 17:00] sganz opened #227 "Overlapping status and error msgs"
In the response side of the display Error messages and http status codes are overlaid on top of results. Makes reading sometimes difficult or the data under it.
## Expected Behavior

Non opaque layer for status and error messages
## Current Behavior

## Possible Solution

Separate div for Status and other messages
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Ve

[2018-03-01 17:57] balthild opened #228 "The font in query editor and result should be monospaced"
## Expected Behavior
As the issue title speaks.

## Current Behavior
The `.dark-theme .query-editor-container pre` has `font-family` set to `inherit`, where the `.dark-theme .query-editor-container` inherits `font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;` from `body`. So was the `.dark-theme .query-result-container pre`.

## Possible Solution
Change the `font-family` of `.dark-the

[2018-03-01 18:08] imolorhe commented on #228
@balthild I personally prefer it with the current font. I could create another theme with monospaced fonts.

[2018-03-01 18:09] imolorhe commented on #227
@sganz Thanks for reporting this.

[2018-03-01 18:11] sganz commented on #227
No problem, learning GraphQL and your tool is very helpful!!

[2018-03-01 18:16] imolorhe commented on #227
@sganz Glad to hear that. Let me know of any missing features or improvements. 😄

Fixed this issue. The fix should be available in the next update.

[2018-03-01 18:16] #227 closed

[2018-03-01 18:17] imolorhe commented on #223
The problem seems to have been a layout update because of the large texts. Positioning the textareas absolutely fixed this. If there are still issues with them, this issue would be revisited. Closing for now.

[2018-03-01 18:17] #223 closed

[2018-03-01 18:34] imolorhe commented on #228
That is the intended behavior.

[2018-03-01 18:42] balthild commented on #228
Alright. I have thought it's done accidentally.

[2018-03-01 18:42] #228 closed

[2018-03-01 18:43] imolorhe commented on #228
No. But there could be a theme for that.

[2018-03-01 21:09] imolorhe commented on #226
@jrop The `server.js` file is used for the altair web app. I have been able to test altair running as a sub app within an express application. I guess that takes care of this?

I would create a package with this as an initial release. I guess other things can be contributed by the community as needed 🙂

[2018-03-01 21:10] imolorhe commented on #226
For this initial release, it would just be an instance of the altair client without any configuration options available when using it as a middleware.

[2018-03-01 23:19] imolorhe commented on #226
@jrop I have an npm package up now https://www.npmjs.com/package/altair-express-middleware. There's no readme currently but you can use it the same way you use apollo-server-express, but without the options you pass to it (altair is already pretty configurable, so you can still work with it).

[2018-03-02 15:45] #226 closed

[2018-03-05 08:44] drmax24 commented on #222
I gave altair another try
Version 1.6.6 (1.6.6.591)

Still have a white screen

[2018-03-05 09:15] imolorhe commented on #222
@drmax24 How are you downloading the mac app? Are you downloading it from https://altair.sirmuel.design/ or you're downloading it from the Github releases?

Please download it from the site. I just downloaded and verified that it works. Let me know if you're still having this issue. Thanks.

[2018-03-05 21:55] sganz opened #230 "Enums Display Enum for both Enum and Value"
It seems that if you create an Enum type that Altair used the Enum name for both the name and value.

## Expected Behavior

I created an Enum and it has something like this (GraphQL-PHP) -
[code]

The display in the DOC's page for this type shows
[code]
I think it should read something like -
SMALL small
MEDIUM medium
LARGE large
...
## Current Behavior

Doesn't properly show Enum Values

## Possi

[2018-03-05 21:58] imolorhe commented on #230
@sganz Or maybe the values are capitalized? I'll look into this, to remove any confusions here.

[2018-03-05 22:17] sganz commented on #230
Could be, values are correct, but might be getting UP cased. I can check and see.

[2018-03-05 22:19] sganz commented on #230
I think it is duplicating the ENUM display for the value, I updated the code to make them different and refreshed the docs and no change.
HTH
Sandy

[2018-03-05 22:20] imolorhe commented on #230
Thanks for reporting. I'll fix this in the next update.

[2018-03-05 22:22] sganz commented on #230
Thanks!!

[2018-03-05 22:46] sganz opened #231 "Document scroll bar overwritten by output panels"
If you have a long document with a long output result and open up the doc's you
can't access the doc's scroll bar as it is obscured by the output panels one.
## Expected Behavior

Doc's scrollbar should be on top most layer, not obscured.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

Have a result set that scrolls in the browser panel. Have a doc that is long enough

[2018-03-05 22:48] imolorhe commented on #231
😄 It's probably a z-index issue. I'd see if I can reproduce the issue on a Windows PC. If you could try adjusting the styles (maybe relative positioning and z-index) and let me know if that fixes it.

[2018-03-05 23:14] sganz commented on #231
Yep, if you change the `app-doc-viewer` z-index to 6 or greater cleans it up.

[2018-03-05 23:16] imolorhe commented on #231
Thanks! Would be fixed in the next update as well. You could also create a PR for it! 😄

[2018-03-05 23:47] sganz commented on #231
Just gave it a try :) I don't have a NodeJS environment set up on my current VM to test it. I'll add that to the list of things to do...

[2018-03-06 08:16] imolorhe commented on #230
Hi @sganz, can you send me a screenshot of this?

[2018-03-06 16:57] sganz commented on #230
![altiar-4](https://user-images.githubusercontent.com/5179047/37046097-57e4804e-211c-11e8-8130-a4f73608f801.jpg)

This is with the code at the top with 'values' set to the lower case.

HTH
Sandy

[2018-03-06 19:53] #231 closed

[2018-03-06 20:58] imolorhe commented on #230
Hey @sganz,

So I've been looking into this issue and have done a couple of debugging and testings, and I don't think it's a bug. It appears that the values of the enums are considered internal implementation details and as such, they are not exposed by the graphql-js library which client toolings like altair use.

https://github.com/graphql/graphql-js/issues/525#issuecomment-255834625 for some co

[2018-03-07 14:55] thunder7553 opened #237 "header variables in agl files are not imported"
I need to set three custom header variables to access my server. When I save the window as agl file, I see that the headers are stored in that json file. when I import the file, the headers are empty.

## Expected Behavior

I expect that the headers stored in agl files are used and restored in the UI

## Current Behavior

Headers are not restored (but url and query are restored).

## Your Environm

[2018-03-07 14:56] imolorhe commented on #237
@thunder7553 Thanks for reporting. I'll look into this issue.

[2018-03-07 19:16] #237 closed

[2018-03-07 19:17] imolorhe commented on #237
@thunder7553 This issue would be resolved in the next update.

Besides this issue, do you have any feedback on exporting and importing windows?
Does it help your workflow in any way?

[2018-03-09 16:09] imolorhe commented on #230
@sganz I'd like to close this issue.

[2018-03-09 16:25] sganz commented on #230
Yes, sorry. will do

[2018-03-09 16:25] #230 closed

[2018-03-12 08:37] haoliangwu opened #239 "custom headers configuration was not imported by *.agq conf file"
![lost-headers](https://user-images.githubusercontent.com/6328186/37273059-8e18e2d0-2613-11e8-9eef-adb920476176.gif)

## Expected Behavior
the custom headers should be imported correctly

## Current Behavior
the custom headers lost, although it was stored in the .agq file generated by app.

## Your Environment
Mac os + chrome 64 + chrome extension altair@1.6.6

[2018-03-12 13:20] imolorhe commented on #239
v1.6.7 released.

[2018-03-12 13:20] #239 closed

[2018-03-12 22:53] sganz opened #241 "Download Link Not Clickable"
The 'DOWNLOAD' link at the bottom of the results panel is visible but can't be clicked.
## Expected Behavior

You should be able to click to download the results

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Click Download Link
2.
3.
4.

## Context

## Your Environment

* Version used: 1.6.7
* Environment name and application type (e.g. Chrome 39, chrome extensio

[2018-03-12 22:55] imolorhe commented on #241
@sganz It's here: https://github.com/imolorhe/altair/blob/staging/src/scss/components/_editor.scss#L75

[2018-03-12 23:43] #241 closed

[2018-03-13 01:20] haoliangwu commented on #239
@imolorhe thx, i'll look at it when I have free time.

[2018-03-13 08:30] imolorhe commented on #239
@haoliangwu Hmmm.. maybe instead of a confirm dialog, there is an "undo" option, like in Gmail.

[2018-03-15 16:49] sganz opened #245 "Add Query From Docs should recuse to expand all sub sections"
This is a feature enhance request - When using the ADD QUERY from the DOC page to insert a query into the query panel it would be cool to also have it also show all sub section fields, or at least show them as empty { } elements so you know you may need to fill in fields.

## Expected Behavior

## Current Behavior

When you use the ADD QUERY from the doc page you get just the first level of fields

[2018-03-15 16:52] imolorhe commented on #245
It supports this feature inherently. I only limited it because it was a beta feature. I could increase the `add_query_depth_limit` to make it show more.

https://github.com/imolorhe/altair/blob/staging/src/app/config.ts

[2018-03-15 16:55] imolorhe commented on #245
I could also make this a setting, so the user can update it themselves. The reason why it is limited is because the schema can be very deep, and even cyclic. If I don't limit it, there are some cases where it would never stop finding new fields.

[2018-03-15 17:37] sganz commented on #245
Yes, what's interesting is the structure I'm working with is a tree, and has self referring sub-structures. A setting would be good to have, like a depth limit as mentioned. Most of the stuff I have has only one additional depth with a structure, except for the tree that I'm working on.

Maybe also add a comment if additional levels exist, i.e. if the depth is set to 2 and their is substructures b

[2018-03-15 21:51] moon0326 opened #247 "Compress freezes with nested objects"
## Expected Behavior
Compresses query string

## Current Behavior
freezes browser

## Steps to Reproduce (for bugs)

1. Put this query string
[code]
2. Click "Compress"

[2018-03-15 21:58] imolorhe commented on #247
Thanks for reporting! I'll look into this issue.

[2018-03-15 22:16] imolorhe commented on #245
I'd make it a setting. :)

[2018-03-17 20:12] #245 closed

[2018-03-17 20:12] #247 closed

[2018-03-21 00:18] vcfvct opened #251 "[feature request] add keyboard binding the comment out line(s)"
First, thanks for creating this great tool! 👍
Can we add the keyboard shortcut(like: `cmd+/` to comment out line(s) by adding `#` ?
It could be helpful and handy when testing out different queries/parameters combinations.

 Please check how difficult it is to add this. Thanks. 😃

[2018-03-21 01:04] vcfvct commented on #251
I took a bit look at the code, looks like it is not too difficult to add this. 🍺 So I created a quick PR #252 for it. Tested on MacOS, do not see a reason why Windows won't work.

Please review!
Thanks.

[2018-03-21 07:11] #251 closed

[2018-03-23 14:34] luandro opened #254 "Subscription items don't scroll on Chrome Extension"
## Expected Behavior
Subscription list should scroll.

## Current Behavior
After the subscriptions list gets full I can't scroll to see the new entries.

## Possible Solution
Probably just a `overflow` on css should fix this.

## Steps to Reproduce (for bugs)
Just test a subscriptions example.

## Context
Test my subscriptions.

## Your Environment
Mac 10.12.6, Sierra
Chrome Version 65.0.3325.181

[2018-03-23 15:56] imolorhe commented on #254
@luandro You're welcome to create a PR if you know the fix 😉

[2018-03-26 06:08] xialvjun opened #256 "Introspection Failed"
`Cannot query field `onOperation' on type `__Directive'.`

But using the original `graphiql`, introspection is ok.

[2018-03-26 07:08] imolorhe commented on #256
@xialvjun Thanks for reporting. This will be fixed in the next release.

[2018-03-26 09:35] #254 closed

[2018-03-26 09:35] #256 closed

[2018-03-27 11:39] lon-io opened #258 "Introspection Error on Updating Url"
## Expected Behavior
I should be able to set my GraphQL server url and get Docs

## Current Behavior
The Docs don't show up and I have no visual indication as to why. But I get the following error in Chrome Dev Tools Network Tab

![screen shot 2018-03-27 at 12 28 40 pm](https://user-images.githubusercontent.com/13160332/37965101-cc91c262-31bb-11e8-8a75-cbe226d2b509.png)
![screen shot 2018-03-27 at

[2018-03-27 12:00] imolorhe commented on #258
Can you check if you're using an older version of graphql-js? This is the introspection query in the current version of graphql-js which I am using. I'd be moving to `getIntrospectionQuery()` sometime later, but I haven't at the moment because the typings for graphql-js isn't updated yet.

[2018-03-27 12:10] imolorhe commented on #258
So this is a known issue https://github.com/graphql/graphql-js/issues/369. I'll add the ability to support servers working with older versions of the GraphQL specs.

[2018-03-27 18:52] imolorhe commented on #258
This has been fixed in https://github.com/imolorhe/altair/commit/72ccce3d61cb15663b75e80c7771fb6f680b27c0.

[2018-03-27 18:52] #258 closed

[2018-03-27 23:54] sganz opened #260 "Odd Scroll Bar Issue on Query Panel"
Every So often the query panel will get somehow out of sync. That is, the first couple of line numbers go off screen where they are not visible. You can't scroll to them and no way to see them. A page refresh fixes it all. It also looks like the scroll bar UP Arrow Button is missing so something might be messing with the panel

![altair-1](https://user-images.githubusercontent.com/5179047/38000825

[2018-03-28 06:34] imolorhe commented on #260
Does the mouse scroll still work?

[2018-03-28 07:49] thunder7553 opened #261 "altair-express-middleware - support typescript"
altair-express-middleware does not contain typescript definitions at the moment.

To embed it currently, I use something like that in my app:

[code]

[2018-03-28 07:51] thunder7553 opened #262 "altair-express-middleware - options are not used"
I used altair-express-middleware like that:

[code]
(taken from the README.md)

But the index.js in altair-express-middleware does not do anything with the opts parameter currently.

[2018-03-28 08:15] imolorhe commented on #262
Hey @thunder7553, the options are not used at the moment. Currently it just creates the app instance on the route. It is still an MVP and depending on the usage, I was going to enable the configuration options.

[2018-03-28 08:16] imolorhe commented on #261
I would look into this. Does the middleware not work at all at the moment? Or you are just concerned about the autocomplete options?

[2018-03-28 15:56] sganz commented on #260
Yep, just can't scroll to the top lines. Good news is I think I can reproduce it.

Have a long query in the panel, long enough for the scroll bars. Switch tabs, then switch back to the one with the long. It doesn't do it all the time but most of the time. I have about 5 tabs.

Hopefully you can reproduce now :)

[2018-03-28 16:26] sganz commented on #260
Just got an update to 1.7.0 and it seems to not be a problem. Not sure what changed but I think I can close this for now. If I see it again I'll reopen.

Sandy

[2018-03-28 16:26] #260 closed

[2018-03-28 17:04] sganz commented on #260
One more comment. This might have something to do with the Header on the Results panel. In looking at the Query panel vs. the Results panel the scroll bars are offset by the header amount. BUT their is no header on the Query panel.

If you look at the Results panel with a LONG result you will see the opposite effect, the scroll bar Bottom will be chopped off.

I was looking at the `CodeMirror-vscr

[2018-03-28 17:19] kenips opened #264 "altair opens a new window on macOS when activated from Dock"
Using the mac app, clicking on the Dock causes altair to open a new window instead of bringing an existing one to the front.

## Steps to Reproduce (for bugs)

1. Open altair on macOS
2. Click altair on the Dock

## Your Environment
* Version used: 1.7
* Operating System and version (e.g. Linux, v1.4.7): macOS 10.13

[2018-03-28 18:21] imolorhe commented on #264
Thanks for reporting!

[2018-03-28 18:29] #264 closed

[2018-03-28 18:31] imolorhe commented on #260
I can't replicate the issue in mac at the moment. I'd still look into it though.

[2018-03-28 18:55] sganz commented on #260
Here is a pic just for reference on the bottom scroll bar issue...
![altair-2](https://user-images.githubusercontent.com/5179047/38050152-eee3cffe-327e-11e8-8911-453c281d15bc.jpg)

[2018-04-02 22:03] yuritoledo opened #265 "Change to a mono font"
## Expected Behavior
Just wanna to change the font to a monospaced :D
Thanks

[2018-04-09 10:03] imolorhe commented on #265
Hey, the font is part of the theme.

[2018-04-09 11:52] yuritoledo commented on #265
the GTK theme?

[2018-04-09 12:06] imolorhe commented on #265
What's GTK? I'm referring to the theme of altair.

[2018-04-09 12:15] yuritoledo commented on #265
I've changed the light to dark, and both use same font. I dont know what font is, but it dont get my ubuntu font

[2018-04-09 12:17] imolorhe commented on #265
This is the same as #228. It is not really an issue. It is more of a feature request.

[2018-04-09 12:28] yuritoledo commented on #265
Hmm ok, thanks for attention

[2018-04-10 08:31] imolorhe commented on #261
Fixed.

[2018-04-10 08:32] #261 closed

[2018-04-10 08:32] #265 closed

[2018-04-22 15:20] postmodem opened #269 "View headers of response"
The ability to set headers in the request is great, and it's why I started using Altair—I need them for user authentication.

The user authentication set up I'm currently using expires the token, etc, from your request, and returns new token information in the headers of the response, so you can use it in your next request.

As far as I can tell, there's no way for me to view headers of the respon

[2018-04-22 15:27] imolorhe commented on #269
@postmodem Hey, this is a very specific use case. I assume you should be able to get that information from the network tab in the developer tools in your browser (or electron). If it becomes a common use case though, I could consider adding it to Altair, but for now I don't think it would be used a lot.

[2018-04-22 15:37] imolorhe commented on #269
@postmodem If that's satisfactory, could you close the issue?

[2018-04-22 15:48] postmodem commented on #269
@imolorhe Thanks for the response, closing now.

[2018-04-22 15:48] #269 closed

[2018-04-22 15:54] postmodem commented on #269
Also, I wanted to note: toggling Developer Tools was exactly what I needed. Not sure how I overlooked that, seeing that Altair is an Electron app. Thanks again, @imolorhe!

[2018-04-22 16:00] imolorhe commented on #269
Happy to have helped! 😊

[2018-04-27 12:40] greenkeeper[bot] opened #270 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The engines config in 1 of your `package.json` files was too ambiguous to be updated automatically

If you’re interested in upgrading this repo to Node.js 10, you can <

[2018-05-03 14:47] grubersjoe opened #272 "Mac OS: Clicking on the dock icon creates another window"
I'm running altair in Mac OS High Sierra (10.13.2) and have a small improvement proposal: When clicking on the icon in the dock another window (instance) is created instead of focusing the current window. I think it would be better to focus the current window instead of creating another one.

[2018-05-03 15:43] imolorhe commented on #272
Oh sorry! That issue was already raised #264 and fixed. Forgot to create a release 😅Will do that now. Thanks for reporting.

[2018-05-03 15:43] #272 closed

[2018-05-07 09:21] xialvjun opened #277 "[Feature Request] Jump to Object Type beside field type"
version: chrome extension 1.7.0

let's have schema:
[code]

Current Behavior:
We search `name` in doc search bar, the search result comes, but we can only click on the field `name`, we can not jump to type `Person`.(graphiql can do it).

[2018-05-07 09:25] xialvjun opened #278 "[Feature Request] Add Fragment on type beside on field"
version: chrome extension v1.7.0

## Current Behavior
in doc, we can only `add fragment` on `field`. If only we can `add fragment` on `type`.

[2018-05-09 14:04] imolorhe commented on #277
I'll look into this.

[2018-05-09 14:07] imolorhe commented on #278
@xialvjun You need to explain this a bit more. Maybe with some examples?

[2018-05-09 14:35] xialvjun commented on #278
![](https://s1.ax1x.com/2018/05/09/CwDkSU.png)

And besides, I have a Fragment naming pattern which can be used to generate fragment.

https://github.com/graphql/graphiql/issues/673

[2018-05-09 14:42] imolorhe commented on #278
@xialvjun That highlighted section is the name of the current type. If you want to add a fragment for that type, you can add it from the parent of that type. So this requested feature already exists.

[2018-05-09 14:46] #277 closed

[2018-05-09 14:47] imolorhe commented on #277
I've added that functionality. However, I'm not going to be promoting it. It should be available in the next release.

[2018-05-09 14:49] xialvjun commented on #278
@imolorhe  But some times, it's not that convenient to find a field's parent type.
Because the `back` button at the top-left of the doc panel is just go back, not go up.

If you search in the doc, and jump to a searched field. Then press `back`, it just go back to the view when you haven't search in doc.

[2018-05-09 14:51] imolorhe commented on #278
Okay, I'll consider it but it would be of low priority since it already exists.

[2018-05-09 14:55] xialvjun commented on #278
Well, https://github.com/imolorhe/altair/issues/277 has fixed the problem in search doc. This issue can be closed.

I post two issues just because there can be two ways to solve the problem. One is add `add fragment` on  `current type`; another is `jump to searched field's parent type`.

[2018-05-09 14:57] imolorhe commented on #278
Oh great then! Closing this issue. If you're feeling adventurous, you could also create a PR for this 😄

[2018-05-09 14:57] #278 closed

[2018-05-09 16:40] jrop commented on #262
@thunder7553 See #226 for context.  @imolorhe put altair-express-middleware in response to this issue (I'll add that he was *extremely* responsive).  Is there a repo for the middleware?  Perhaps one of us can create a PR.

[2018-05-09 16:56] imolorhe commented on #262
@jrop It's the same repo. It's a monorepo. You're welcome to create a PR.

[2018-05-09 19:16] imolorhe commented on #270
This upgrade is dependent on ngx-electron#22.

[2018-05-10 12:55] hailwood opened #281 "Standalone version for cdn hosting"
## Expected Behavior
Ability to link to js/css hosted on cdnjs or similar to use in a standalone .html file.

## Current Behavior
We must download and build the package, host the js/css and then link off to it.

Being able to just link off to a CDN helps with adoption as it makes it a low-barrier entry for non-node packages that wish to include a web-based graphql gui.

For example this is all we

[2018-05-10 13:14] hailwood opened #282 "Add raw response view"
## Expected Behavior
A button should be present to render the raw response in an iframe rather than as encoded in the json attribute "text"

## Current Behavior
If the response returned is not valid json then it gets encoded and put in a "text" attribute in a json object that is displayed.

## Context
When debugging servers will often return html based error pages with entire stack traces etc, bei

[2018-05-10 15:16] imolorhe commented on #282
I don't think that is a normal case. Most API servers respond with data and errors in JSON objects, and other servers that don't can usually be tuned to return data as JSON. Especially for GraphQL servers, data is usually returned as JSON.

Also I wouldn't consider adding an iframe to the app.

[2018-05-11 08:30] imolorhe commented on #281
@hailwood You can already do that with altair as well. There is also an npm package that does the same thing if you use express: https://www.npmjs.com/package/altair-express-middleware

An equivalent HTML file like the one you pasted above can be gotten from https://cdn.jsdelivr.net/npm/altair-express-middleware@1.0.1/dist/index.html:

[code]

[2018-05-11 08:30] #281 closed

[2018-05-12 18:56] imolorhe commented on #282
Closing this issue then.

[2018-05-12 18:56] #282 closed

[2018-05-15 14:40] useless-stuff opened #286 "Trim url in the address bar"
Because I love copy and paste stuff, sometimes, I spend a bit of time with the error "Invalid URL".
After a while, I discover that there is a white space in the URL bar and I just feel so stupid...

[code]

Altair is awesome! thank you for doing that.

[2018-05-15 14:42] imolorhe commented on #286
Thanks for reporting that? PRs are welcome. 😊

On Tue, May 15, 2018, 4:40 PM Atipico <notifications@github.com> wrote:

--
Regards,
Samuel
http://about.me/sirmuel

[2018-05-20 06:53] ellis opened #290 "Longer history, maybe 100 items"
**Is your feature request related to a problem? Please describe.**

I have complex queries with several variants that I need to execute.  The 10-item history isn't very useful for this use-case, so I still need to manage the history outside of Altair.

**Describe the solution you'd like**

A longer history would be fantastic so that I don't need to maintain an external history.  A further helpful

[2018-05-20 10:39] imolorhe commented on #290
100 history items?!! 😱You could use the desktop apps though, those have longer history counts. I think 25. I could probably make that one larger. I restricted the size of the history because of storage constraints in the browser.

[2018-05-20 13:38] ellis commented on #290
I see.  I'll check out the desktop app.

[2018-05-20 13:38] #290 closed

[2018-05-20 17:26] #286 closed

[2018-05-20 17:28] imolorhe commented on #139
Can't seem to get a russian translator. 😔

[2018-05-20 17:28] #139 closed

[2018-05-20 17:39] imolorhe commented on #202
Closing because of inactivity.

[2018-05-20 17:39] #202 closed

[2018-05-20 19:16] #180 closed

[2018-05-22 17:51] terion-name opened #293 "Docs overlaying query results is a very inconvenient decision"
Working with API requires docs to be overeyes all the time. With current behaviour it is impossible. Docs should be in third column, not in overlay (or this should be configurable)

[2018-05-22 17:52] terion-name opened #294 "Columns resizing"
It would be very convenient to be able to resize columns

[2018-05-23 11:46] imolorhe commented on #293
Hello @terion-name, that's the current layout of the app. What is your workflow like? Maybe we can brainstorm of a different layout that can be switched with based on that workflow, if it's a common one.

I see you also created a different issue (#294) for resizing columns, and I'm guessing its related to this one. Resizing columns isn't something I'm considering adding at the moment.

[2018-05-23 11:46] imolorhe commented on #294
Closing this one since the conversation is consolidated in #293.

[2018-05-25 06:18] wraithy commented on #194
I just want to chime in and say that this feature is what is preventing me from using altair.

**Some thoughts**
+ Hiding the `extensions.tracing` portion of the response is a great idea if you are visualizing it anyway. [GraphQL Playground](https://github.com/prismagraphql/graphql-playground) does this by exposing a setting, which defaults to hiding that section.
+ Some deeply nested queries have

[2018-05-25 06:50] imolorhe commented on #194
@wraithy Thanks for your input. Any other usability feedback regarding this would be useful. Also, is there any example project I could use to visualise and develop this feature?

@wraithy A screenshot of the tracing visualization would be nice, to give me a better picture of what you mean by large tracing visualizations. The examples I've seen are not that big.

[2018-05-25 10:02] terion-name commented on #293
@imolorhe as an API-consumer when I work with an API I need to see the docs all the time (see the types, interfaces, etc). Autocomplete is good, but it does not solve the problem — it's still a guesswork. That's simple and common. And in current layout this is impossible. GraphiQL provides this kind of layout — it is far more convenient.

[2018-05-28 04:28] mokeyish opened #299 "What is Bad introspection data? when I tried to reload docs."
**Describe the bug**
It cause an error `Bad introspection data`, when I tried to  reload docs.

[2018-05-28 04:35] mokeyish commented on #299
@imolorhe  Can you print the error?  so that I can find the cause of the error.
* src/app/services/gql.service.ts
[code]

[2018-05-28 09:21] imolorhe commented on #299
@mokeyish I'd look into that. You could also create a PR to log `err`.

[2018-05-28 11:27] luandro opened #300 "Responsive design"
**Is your feature request related to a problem? Please describe.**
Design doesn't fit with mobile. I have a use-case where I'll render a `webview` in my mobile app where altair is served.

**Describe the solution you'd like**
Maybe make the mobile version simpler such as [GraphiQL](https://graphql.github.io/swapi-graphql/) and just add a few break-points so that the screen maintains is size.

[2018-05-28 11:29] imolorhe commented on #300
How would the mobile layout look like?

[2018-05-28 11:41] luandro commented on #300
### Altair Responsive Design 📵

- The left side-bar ("Prettify", "Compresss", etc.) and "Configuration" button could be hidden under a hamburger menu in the navbar

- Get rid of the logo in the navbar after a certain breakpoint

- Make the navbar tabs responsive, or just get rid on them within certain breakpoint, leaving only the hambuger menu

- Make the url search ("Post", "Docs", "Send Request"

[2018-05-28 15:28] #299 closed

[2018-06-04 20:26] Vinlock opened #304 "Allow overriding of the Origin header (Postman allows this)"
**Describe the bug**
When attempting to set the `Origin` header in the Altair app it still ends up being `altair://applications`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Set Headers**
2. Set `Origin` to a custom domain.
3. Save
4. Send Request
5. Check dev tools for `Origin` header that is sent.

**Expected behavior**
`Origin` header is set to the custom header when the reques

[2018-06-06 05:58] MCSH opened #305 "Allow setting operationName"
In graphQL, you can define multiple queries and mutations at once and then while executing you can send the parameter "operationName" to set which operation you want to execute.

For example, the body.query could look like this:
[code]

And then set `body.operationName` to either `add_new_project` or `projects`.

I suggest adding a field somewhere to set this, or do as graphiql does, which opens a

[2018-06-06 10:18] imolorhe commented on #305
Thanks for reporting this! I'd look into it as soon as I can

[2018-06-06 10:23] imolorhe commented on #304
Thanks for reporting this! I'd look into it as soon as I can

[2018-06-07 11:58] filipncs opened #306 "Show interface implementations"
Looking at the doc browser, there is no way to see an overview of available interface implementations. In most editors this is shown when looking at the interface type, like for unions. It is also seems to be impossible to search for interface implementations by name, if they aren't used as a direct return type.

I think this is the only feature from other graphiql clients I'm missing in the exten

[2018-06-07 12:02] imolorhe commented on #306
Thanks for reporting this! I'd look into it as soon as I can. If you could create a demo repo showing the issue, it would help me resolve it faster.

[2018-06-07 23:04] mike-engel opened #307 "Prerequest scripts"
**Is your feature request related to a problem? Please describe.**
For authenticated graphql queries, it's frustrating to have to periodically get a new authorization token from the server (cookie-less) to make those authenticated requests.

**Describe the solution you'd like**
Something like postman's prerequest scripts would be awesome. This is a general JS code block that runs before each reque

[2018-06-08 05:59] jedwards1211 opened #309 "Move variables to a split pane instead of a dialog"
I love Altair so far!  But one of the things I miss from GraphiQL is having the variables section visible below the query section.  Having to open and close the dialog is less convenient.

[2018-06-08 06:00] jedwards1211 commented on #305
@MCSH what is the point of doing that in practice?  I'm a little confused why that capability exists, since it entails sending extra bytes to the server that never get used.  Unless I misunderstand something?

[2018-06-08 06:03] jedwards1211 commented on #293
I think the layout of GraphiQL is pretty much ideal, Altair just has the advantage that it works offline and I don't have to add any code to my app to use it.

[2018-06-08 06:33] MCSH commented on #305
We use JWT for authentication and authorization.

The best practice is sending it in the header (the other option being sending it as a parameter in every query / mutation - which I don't like) using the Bearer schema.

There could be other uses as well. @jedwards1211

[2018-06-08 06:50] imolorhe commented on #305
@MCSH Wouldn't the header option work for you?

[2018-06-08 06:53] imolorhe commented on #309
@jedwards1211 There's a lot of things going on in the UI. Having several panes makes the UI a lot busier than it should be, and less functional in some cases. I'm trying to make the best use of the real estate by having things like variables and headers in dialogs rather than keeping them open.

[2018-06-08 06:58] imolorhe commented on #307
@mike-engel Sure. It sounds like it has a viable use case. I'm not really keen on having script blocks that would be entered by the users and executed (poses a major security issue, plus the CSP we use wouldn't even allow it) but we could have the functionality that you would normally written in the pre script to be included in altair. Let me know what you think.

[2018-06-08 07:26] imolorhe commented on #293
GraphiQL has less features using up real estate on the screen. Altair has several other features making space management a bigger deal.

[2018-06-08 10:38] imolorhe commented on #304
@Vinlock This functionality would only be available while using the electron app. It is not possible to set the origin headers in a normal web environment because it is a [forbidden header](https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name).

[2018-06-08 10:38] #304 closed

[2018-06-08 10:38] #306 closed

[2018-06-08 13:07] MCSH commented on #305
I'm so sorry. I got confused. I was testing way too many graphql implementations that I confused this one with another one. The header option works fine in altair...

I'm not sure about point of this in production, I seriously doubt I'm gonna use a graphiql implementation in production other than to demo the API (or test it) in which case it is really handy if I didn't have to type entire queries

[2018-06-08 18:32] jedwards1211 commented on #309
@imolorhe I see.  I agree with keeping headers in dialogs because I think most people use headers for things common to every request like authentication, and they won't need to change the headers often.  Variables on the other hand will often differ from request to request, plus it would be nice to be able to visually compare the variables with the query at the same time.

GraphiQL allows collapsi

[2018-06-08 18:37] jedwards1211 commented on #293
@imolorhe what's your screen resolution?  On large screens it's more convenient to show many things without overlapping, so an option to toggle overlapping would be a win-win for both large and small screens.

[2018-06-08 20:28] mike-engel commented on #307
@imolorhe Thanks for the quick response! Unfortunately I don't see a way to implement this without a custom script. If I understood your question wrong, please let me know. Postman gets around this a little bit by providing a custom API, but that won't cover all cases. Authorization is implemented in so many ways it'd be hard to abstract it enough to be useful I think.

As an example, here's what

[2018-06-09 16:46] JJPell opened #310 "Add a tabs/spaces size setting"
I love this graphql client but my eyes are begging for more indentation.
They are used to 4 spaces not 2!

[2018-06-10 23:38] estaub commented on #293
FWIW, I just checked Altair out and found the doc-popup + no column resizing very unwieldy.  Back to graphiql for me.

[2018-06-11 08:44] imolorhe commented on #310
Thanks for reporting this! I'd look into it as soon as I can. PRs are welcome too!

[2018-06-11 08:49] imolorhe commented on #309
@jedwards1211 I think the most used panes are more specific to each developer scenario. For example, some developers need to set headers for each request because of authentication tokens, and so they would use the headers more than the variables. I'm not saying the current layout is the best but I am trying to accommodate everything in a way that works for everyone. Would having keyboard shortcuts

[2018-06-11 08:53] imolorhe commented on #307
I thought that could be the case too. I think this would still need some thought though. For one, I'm not very comfortable with having user-defined scripts. Secondly, I doubt the CSP altair uses would allow executing code using `eval()`, and the CSP is enforced by Mozilla and the likes for a justifiable reason.

I'm also open to suggestions and possible workarounds for this scenarios too! 😊

[2018-06-12 00:05] #293 closed

[2018-06-12 00:05] #294 closed

[2018-06-12 00:05] #310 closed

[2018-06-12 04:27] mike-engel commented on #307
@imolorhe Would you be able to point me to the CSP for altair? There doesn't seem to be on on the web app version, but I may be missing something.

As for the other issue, a couple thoughts. We could provide an isolated API somehow that restricts what the user can do (make a request, grab a property off the return, set that to a variable, etc.). Another option would be to see how sites like codepe

[2018-06-12 07:32] JJPell commented on #310
Awesome, thank you so much!

[2018-06-12 08:31] imolorhe commented on #293
@estaub If GraphiQL works for your use case, you should continue using it. There is no need to use another GraphQL tool in that case.

[2018-06-12 08:52] imolorhe commented on #307
@mike-engel The CSP is used by the extension. https://github.com/imolorhe/altair/blob/5356ff5860a44bed7cd9d32c3167be3ad3ad4b6f/chrome-ext-files/manifest.json

Side question: You prefer the web app to the extension? Why?

[2018-06-12 09:11] DaniloCaruso opened #312 "No scrollbar on Docs card"
I found a problem with the newer version (1.7.3) of Altair Chrome Extension , when you open the Docs card there isn't the scrollbar to scroll the list of Methods
i put an overflow-y:scroll on app-doc-viewer component to work, i don't know if it helps.

Steps to reproduce the behavior:
1. Open Altair
2. Click on 'Docs' with a big list of Methods
3. see that isn't impossible to scroll down

 - Ubunt

[2018-06-12 09:12] imolorhe commented on #312
Thanks for reporting this! I'd look into it as soon as I can.

[2018-06-12 09:20] #312 closed

[2018-06-13 21:07] mike-engel commented on #307
@imolorhe Ah ok. It looks like that might only be used by the extension, and not the other versions.

As for the other thing, I've never been a fan of extensions for tools like this (basically web apps). I much prefer to the the web app if available, or download the client for my OS. In my team's specific case, we have to download the client because of mixed protocol issues during development (can

[2018-06-13 21:39] imolorhe commented on #307
@mike-engel They wouldn't use CSPs, and if they do, it wouldn't be strict.

[2018-06-15 10:31] moon0326 opened #314 "Pre-fill nested object fields"
**Is your feature request related to a problem? Please describe.**
No, it's not

**Describe the solution you'd like**
When I click "Add Query", Altair pre-fills fields for the topmost object. It would be nice to pre-fill nested object fields as well.

Example: I have a mutation that returns the following response. When I add the mutation, Altair pre-fills error and error_count, but not fields for

[2018-06-15 10:33] imolorhe commented on #314
@moon0326 That functionality already exists. If you want it to prefill nested fields, increase the value of "Add Query Depth Limit" in the settings.

[2018-06-15 10:33] #314 closed

[2018-06-15 10:36] moon0326 commented on #314
@imolorhe oh..that's such a nice one!! Thank you so much. I wasn't aware of it. 👍

[2018-06-15 10:37] iliabylich opened #315 "JS error when trying to send a request"
**Describe the bug**

I'm using Altair to send a simple GQL request to my local server and getting a JS error. DevTools doesn't show any HTTP requests when I click "Send request"

**To Reproduce**

I send POST request to `http://localhost:3011/graphql`, I have a custom header `Authorization: Bearer ...jwt token...", the query is
[code]

I have more types/queries available, all of them have documen

[2018-06-15 10:41] imolorhe commented on #315
Hmmm.. strange. There are only two calls to `trim()` in the code. Are you sure you have a URL set?

[2018-06-15 10:42] imolorhe commented on #315
If I could get more context, maybe I could figure out the issue. At what point does the error appear?

[2018-06-15 10:45] iliabylich commented on #315
I've just realized that when I open a new tab and copy URL/query everything works fine. So it's not about a localhost, it's about a stale tab, I've opened it like a month ago. Is there any cache using local storage or something like that? That's basically a breaking change that forces me (and maybe someone else) to re-configure opened tabs.

When I click "Send request" button on a stale tab.

[2018-06-15 10:45] imolorhe commented on #314
@moon0326 I should point out that depending on the size of your schema, the add query functionality might have some lag if you set the value to a higher number, which is why I have the default recommended value set at 3. If your schema isn't very large (or your query doesn't have deeply nested fields), you should be fine with increasing the value.

[2018-06-15 10:54] imolorhe commented on #315
@iliabylich Oh right! So it's a regression bug. I'm not sure I would want to fix it, considering I've handled most of the recent upgrade regression issues already. Sounds like this is from a really old version. I'd still add checks for the query value before calling the `trim()` method, but wouldn't really be doing anything more than that.

[2018-06-15 11:08] moon0326 commented on #314
Thank you @imolorhe My schema have about 4~5 depth. I just tested a few of them and it worked just fine 👍

[2018-06-15 11:13] iliabylich commented on #315
I think it's fine as it is. Thanks a lot for Altair!

[2018-06-15 11:14] imolorhe opened #316 "Add keyboard shortcuts"
https://github.com/jaywcjlove/hotkeys
https://github.com/ccampbell/mousetrap

Considering adding keyboard shortcuts to Altair.

`Shift+Ctrl+H` - Toggle header dialog
`Shift+Ctrl+V` - Toggle variable dialog

Let me know if there are any more useful shortcuts I could add, or if some of these ones need to be changed.

[2018-06-15 11:17] imolorhe commented on #309
@jedwards1211 I've created an issue to handle keyboard shortcuts in Altair. #316

[2018-06-15 15:46] jedwards1211 commented on #309
@imolorhe yeah keyboard shortcuts would help!

[2018-06-18 14:32] azapps opened #317 "Do not show changelog after update"
**Is your feature request related to a problem? Please describe.**
I really like Altair, but it really annoys me every time it updates and opens a new tab with the Changelog.

**Describe the solution you'd like**
I would prefer to not see the changelog automatically but instead have an option to view it if I want to see it.

**Describe alternatives you've considered**
Other options
* Add a setting

[2018-06-21 00:09] vnenkpet opened #318 "Is GET request even working?"
I tried using Altair for a graphql GET endpoint (as it's read only), but it apparently doesn't send any query that way into the app. I cannot find any configuration related to that (e. g. how to send the query, name of the query param in the request etc) in the app. I am not sure whether this is a bug or I'm missing something.

[2018-06-21 08:45] imolorhe commented on #318
@vnenkpet It's a bug. Thanks for reporting it.

[2018-06-21 15:42] faludigabor commented on #315
Hey ,

I seem to have the same issue . Restarted chrome completly but no luck..
Chrome : v67.0.3396.87 x64
I beleive Altair is also the latest . I got stuck on this .

tx,
gabor

[2018-06-21 16:01] imolorhe commented on #315
@faludigabor Can you try your query here and let me know if you are still getting the error: https://altair-gql.sirmuel.design/

[2018-06-21 19:22] januszhou commented on #315
I saw the same error too, then I clear the local storage, everything back to normal

[2018-06-21 21:37] maziey93 commented on #316
@imolorhe How about one to send the query without actually having to select the `send request` button, just like sequel pro does with sql queries, maybe `Shift+Ctrl+R` ?

[2018-06-22 05:47] imolorhe commented on #316
@maziey93 That already works with `Cmd+Enter`. Or it doesn't work for you?

[2018-06-22 06:29] #318 closed

[2018-06-22 06:49] #317 closed

[2018-06-22 06:50] imolorhe commented on #317
@azapps I've added options in the extension. In the next update, you would be able to go into the extension management page and disable the changelog option. 😇

[2018-06-22 06:53] imolorhe commented on #307
@mike-engel Any other ideas/suggestions on this?

[2018-06-22 12:29] imolorhe commented on #315
@faludigabor @januszhou Are you getting the exact same error? Or is it something else?

[2018-06-22 16:56] januszhou commented on #315
I think it's the exact same error, but I can't reproduce it after clear local storage.

[2018-06-22 18:00] mike-engel commented on #307
@imolorhe Only thing I can think of at this point is to allow arbitrary scripts on all platforms that aren't the extension. From what I've seen, they don't have any CSP rules, so there wouldn't be any limitation. For extentions, the ability to write pre-request scripts would have to be disabled

[2018-06-25 07:16] azapps commented on #317
Thank you ;)

[2018-06-29 13:30] maziey93 commented on #316
@imolorhe Actually it works 🙈. I just tried I hadn't used the app in a while

[2018-07-06 13:09] mikelax opened #326 "Modal Windows in Dark Mode on Mac OS Client don't have enough contrast"
**Describe the bug**
While viewing the mac OS client, in Dark Mode when I display a modal window (ie. Settings) there isn't enough contrast between the modal and the reduced opacity of the main window.

The Light mode looks better, I think mostly due to the fact that the modal has a drop shadow.

**To Reproduce**

1. Download the mac OS client
2. Go to Settings, change the Theme to `Dark`
3. Notic

[2018-07-07 14:13] jaredc opened #327 "Ability to pick which query or mutation to run from multiple named queries in current window."
Nice work on this tool, it's my favorite of all that I've tested out so far!

When using another GraphQL client such as GraphiQL, if you have a body like:

[code]

and you try to send the query, a drop-down menu will let you choose between First and Second. When using altair, there is no prompt and the server may respond with an error message (ie: "Must provide operation name if query contains mul

[2018-07-07 14:37] #326 closed

[2018-07-07 14:40] imolorhe commented on #327
Thanks for reporting this! It's already reported in #305 though. I'm still trying to figure out the best way (UX-wise) to do it. I wouldn't mind suggestions.

[2018-07-07 14:41] imolorhe commented on #327
Closing this in favor of #305.

[2018-07-07 14:41] #327 closed

[2018-07-08 13:40] jaredc commented on #305
Thx for directing me to this request, @imolorhe .  Sorry I did not realize that there was already a change request open for this functionality.

Regarding UX suggestions for how to accomplish this, I'd like to see a dropdown picker appear underneath the 'Send Request' button when it's detected that there is more than one named query in the window, and then you'd click the one that you'd like to su

[2018-07-08 15:50] #305 closed

[2018-07-08 15:51] imolorhe commented on #305
I'm going with the dropdown functionality for now. Further improvements can be made to it later on. PRs are also welcome too!

[2018-07-09 07:14] imolorhe commented on #270
Upgraded.

[2018-07-09 07:14] #270 closed

[2018-07-09 10:56] azapps commented on #317
Even after some updates I cannot see the option in the settings dialog:
![image](https://user-images.githubusercontent.com/485429/42446683-7752173a-8377-11e8-9eda-af8fc338129e.png)

[2018-07-09 10:57] imolorhe commented on #317
@azapps It's in the extensions options page

[2018-07-09 10:58] imolorhe commented on #317
![whatsapp image 2018-07-01 at 7 39 07 pm](https://user-images.githubusercontent.com/4608143/42446772-c519ced6-8377-11e8-9128-51e056d1b939.jpeg)

[2018-07-09 18:00] sganz opened #329 "Doc Tab Not Fully Closed on FF"
**Describe the bug**
A clear and concise description of what the bug is.
When using Firefox and opening and closing the Doc's panel it doesn't fully close. Leaving the panel partially open.
**To Reproduce**
Steps to reproduce the behavior:
Use Firefox, open/close the docs for a valid endpoint

**Expected behavior**
Doc's panel should be non-visible

**Screenshots**
Attached

**Desktop (please comp

[2018-07-09 18:02] sganz opened #330 "Add Version Number to Settings Dialog"
Add the Altair version number in the settings dialog, makes it easier to report issues. Might be another way to get it besides getting it from the installed plugins, but not sure.

[2018-07-10 21:39] #329 closed

[2018-07-10 21:57] #330 closed

[2018-07-10 22:33] elloboblanco opened #332 "Monospaced font option!"
**Is your feature request related to a problem? Please describe.**
No problems but I find that JSON and GraphQL queries are easier to read/write in a monospaced font (what I'm used to as a developer).

**Describe the solution you'd like**
I would love a `monospaced` font inside the editor and result windows :) Even better, let me choose a system font.

[2018-07-10 23:38] imolorhe commented on #332
@elloboblanco I don't know if you have seen #228 and #265.

[2018-07-11 16:28] elloboblanco commented on #332
Oh no! I had no idea this was by design. Maybe I could feature request theme-ability on top of just "dark" or "light"?

[2018-07-12 09:18] imolorhe opened #334 "Ability to duplicate a window"
@lon-io

[2018-07-12 09:20] lon-io commented on #334
On it

[2018-07-13 08:50] imolorhe opened #336 "Export snaps to snapstore"
Setup travis CI to automatically upload snaps to the snapstore

[2018-07-13 14:43] igat64 commented on #309
@imolorhe
I really like this tool, especially the ability to add queries from docs panel.

In my daily work, I wrote a lot of queries and mutations. But when I have to set variables and sometimes a have a lot of them and before opening variables window I need to remember their names and that is hard and things become harder when I forgot some of them. Before I sand mutation I open and close this w

[2018-07-14 21:04] first-timers[bot] opened #337 "Removed graphql from window.component.ts"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-07-14 21:57] #336 closed

[2018-07-15 14:17] nada-adel-mohamady commented on #337
hello

[2018-07-18 12:37] #334 closed

[2018-07-18 14:25] chrisharrison opened #341 "Ability to have multiple profiles (creating environments)"
**Is your feature request related to a problem? Please describe.**
When I switch between working in development environment vs staging/production I have to go through all my tabs updating the endpoint and headers (for access tokens etc).

**Describe the solution you’d like**
Ability to have multiple "profiles" where endpoint and headers could be applied to all tabs.

**Describe alternatives you’ve

[2018-07-18 14:31] chrisharrison opened #342 "Ability to have more than 10 tabs"
**Is your feature request related to a problem? Please describe.**
When I want to create an 11th tab, I'm restricted from doing so.

**Describe the solution you'd like**
Ability to have more than 10 tabs.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2018-07-18 18:18] imolorhe commented on #341
Can you define what a profile is.

[2018-07-18 19:16] chrisharrison commented on #342
You can't have more than 10 tabs on the Mac OS desktop version.

On Wed, 18 Jul 2018, 19:17 Samuel, <notifications@github.com> wrote:

[2018-07-18 19:21] chrisharrison commented on #341
All of my tabs have an access token in. Updating that access token across
10 tabs is a labourisous process.

Also if I have 10 active tabs that I'm working on but I also need to have
another tab for a different environment (e.g. staging) I now need 20 tabs.
Having a "profile" type feature reduces the amount of tabs I need to have
open at any one time.

Definition of a profile: some settings (i.e.

[2018-07-18 21:43] imolorhe commented on #342
Oh right. I'd increase the limit in the desktop apps.

[2018-07-18 21:46] imolorhe commented on #341
How do you propose this profile is set and used? Thinking from the user flow, how would you go about it, and also considering the UI as well. Is there any application that you can refer to  about the profile functionality?

[2018-07-18 23:32] #316 closed

[2018-07-19 00:08] imolorhe commented on #342
Closed in 14067b4c050451b5e4d42adf8d6e3ee81a66f4df

[2018-07-19 00:08] #342 closed

[2018-07-21 21:38] #198 closed

[2018-07-24 07:57] imolorhe commented on #194
Still active.

[2018-07-24 22:38] imolorhe commented on #337
Yes you can.

On Tue, Jul 24, 2018, 11:25 PM Jeff Schmitz <notifications@github.com>
wrote:

--
Regards,
Samuel
http://about.me/sirmuel

[2018-07-25 16:09] Schmitzie commented on #337
The steps say:

Should I be added to the repository?

[2018-07-25 16:42] imolorhe commented on #337
You would need to create a PR to be a contributor.

On Wed, Jul 25, 2018, 5:09 PM Jeff Schmitz <notifications@github.com> wrote:

--
Regards,
Samuel
http://about.me/sirmuel

[2018-07-26 13:22] qm3 commented on #337
Hello, I am a first-time contributor and would like to be a part of this project. Is this issue still assigned to someone else? If not I am happy to claim it!

[2018-07-26 15:45] Schmitzie commented on #337
@imolorhe Pull request made

[2018-07-26 23:56] #175 closed

[2018-07-27 01:00] bpollock-vida opened #347 "Safari, Mac, Chrome (after first time) cannot send request"
**Describe the bug**
I cannot get any requests to send with the client. This is true universally for Mac and safari and in chrome it actually went through once, but only that one time. New windows or modifying query didn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the app or visit the web app
2. Enter https://www.graphqlhub.com/graphql
3. Enter query
query {
  reddit {

[2018-07-27 06:18] imolorhe commented on #347
Hello @bpollock-vida I can't reproduce the issue you are having. I used the same query above and ran it, ran it again, modified it then ran it again, and it loaded all the time. Could there be some other reason why it wasn't working for you? Maybe a network issue? Proxy issue?

[2018-07-27 06:19] imolorhe commented on #347
Also, the shortcut for sending the request without clicking the green button is **Cmd+Enter**

[2018-07-27 08:39] damiangreen commented on #347
I'm getting this from the desktop client also.

[2018-07-27 11:18] imolorhe commented on #347
@damiangreen Can you please give more context. I can't seem to reproduce the issue.

[2018-07-27 17:40] bpollock-vida commented on #347
As of this message, the send request button works. It did not all yesterday with different graphql endpoints, maybe there was something on your end that was failing silently.

There isn't anything special with my network configuration.

[2018-07-27 17:40] #347 closed

[2018-07-27 20:30] imolorhe commented on #347
Glad to hear that, but I didn't make any updates to the app. Also the app runs locally on your machine, and not on any server.

[2018-07-27 22:40] bpollock-vida commented on #347
Like I said, maybe your app silently fails in some cases when it encounters issues. Clicking that button or pressing cmd+enter didn't cause any visual change in the UI.

[2018-08-02 06:02] imolorhe opened #355 "Add translation link under language dropdown in settings"

[2018-08-09 00:49] SimonCropp opened #357 "IntrospectionQuery still goes through POST even if GET is selected"
![image](https://user-images.githubusercontent.com/122666/43871799-a68c64a8-9bc1-11e8-96b1-13b5847755c3.png)

 * version 1.7.8.246
 * Windows Server 2016

[2018-08-09 06:08] imolorhe commented on #357
Thanks for reporting this! I'd look into it as soon as I can.

[2018-08-09 06:29] #357 closed

[2018-08-09 06:35] #355 closed

[2018-08-09 06:47] imolorhe commented on #300
@luandro I'm not sure I'd be able to add all the points (especially since I wouldn't recommend anyone using a tool like this on mobile, or maybe there's some use case I don't know about), but some of them are already there right now. I'd just make a note of the other things I think can be potentially implemented:

**At mobile breakpoint:**
- [ ] Hide altair icon
- [ ] Use icon instead of text for

[2018-08-09 06:58] SimonCropp commented on #357
@imolorhe awesome. thanks. is there an ETA on the next release this will be included in?

[2018-08-09 07:13] imolorhe commented on #357
@SimonCropp By the weekend.

[2018-08-15 22:04] imolorhe opened #367 "Push notification service for extension"

[2018-08-21 08:19] gohelkiran30 opened #371 "File upload Request"
I am using below graphql package for uploading images.
https://github.com/Ecodev/graphql-upload

The package works proper and altair shows correct schema documentation

The query looks something like this in altair

mutation{
    testUpload(text: "test", file: ______)
}

My question is how can I specify a file input type from the tool?

[2018-08-21 09:13] imolorhe commented on #371
@gohelkiran30 I'm not sure I understand your question. Also are you sure it's not better to ask the question to the folks over at the graphql-upload package?

[2018-08-21 09:17] gohelkiran30 commented on #371
The graphql back-end is already ready and I can use Curl to execute the request.  I want to use the altair tool for sending files, which I am unable to understand how can I send a file object using this tool

[2018-08-21 09:31] imolorhe commented on #371
Any data you can send with a JSON request to the server would work using altair. If you can structure your request as a JSON payload, then I can help you figure it out. Altair can't handle it if it can't be structured in a JSON format.

[2018-08-22 23:58] sganz opened #372 "Request URL not submitting Query after initial Cut/Past of URL"
**Describe the bug**
When creating a new tab by the Add new tab button (or tab as it be). I copy a valid URL (via cut and past) to the URL edit. Then copy a simple query to the editor and try to send the request.

First time nothing happens. Doc can be updated and view, but can't execute a query. If I close down Altair and reopen and press the Send The Request button works fine.

Seems to be just

[2018-08-23 11:32] imolorhe commented on #372
Thanks for reporting this! I'd look into it as soon as I can.

[2018-08-29 17:10] imolorhe commented on #372
@sganz I've been unable to reproduce the issue. Can you see if you can reproduce it again, and let me know the exact steps you took? Thanks.

[2018-08-29 17:11] imolorhe commented on #371
I'm assuming this question has been answered, since I haven't heard back from you.

[2018-08-30 03:36] gohelkiran30 commented on #371
no, its not resolved yet. I can't use this extension for graphql file uploads. I want to send a file as variable with mutipart/formdata, which I cannot do now. I have to use a curl command from console. It will be a nice feature to add  file upload support as a variable

[2018-09-03 13:30] eamigo86 commented on #371
Hi @imolorhe, thanks for this amazing tool. I have the same issue that @gohelkiran30 when try to upload a file as binary with **multipart/form-data**. When the file has small size i can use perfectly a base64 string but when the file size begins to grow up, the best choice to upload file is as binary through **multipart/form-data**.

The insomnia tool allow this.

[2018-09-06 08:29] DaniloCaruso opened #375 "Errors in console, and requests are not executed"
I found a problem with the newer version (1.8.0) of Altair Chrome Extension ,
when i run the extension in console i found

and then all request that i made are not executed, only the referesh button made a request.

I don't know if both problems are linked.

Steps to reproduce the behavior:

Open Altair
Open console to see the error.
try to request something.

Windows 10
Chrome  68.0.3440.106
thnx

[2018-09-07 14:59] DaniloCaruso commented on #375
thank you imolorhe, opening in a new tab resolve the problem.

[2018-09-09 16:39] capaj opened #376 "add automatic conversion to named query"
**Is your feature request related to a problem? Please describe.**
I often find myself converting a concrete query/mutation into a named query/mutation with variables. This is tedious.

**Describe the solution you'd like**
I would like if there was a button which would convert any query from a concrete query into a named query with variables.

**Describe alternatives you've considered**
alternativ

[2018-09-09 16:57] capaj opened #377 "Import fails when using ES6 modules in typescript"
**Describe the bug**
when using ES6 modules in typescript, I get error TS2306: File '.../altair-express-middleware/build/index.d.ts' is not a module.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to run this:
[code]

in typescript 3.0.3

**Expected behavior**
It should import. It doesn't.

[2018-09-09 17:04] capaj opened #378 "when a field has been used in the query already, it should not be offered in autocomplete anymore"
**Describe the bug**
It's not a bug strictly speaking, just an improvement upon existing feature

**To Reproduce**
Steps to reproduce the behavior:
look at the screenshot and try it on your own

**Expected behavior**
a field is not offered once it is in the query already

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com

[2018-09-09 17:10] capaj opened #379 "a new window should be prefilled with a target url from the current window"
**Is your feature request related to a problem? Please describe.**
I was preparing several queries to be showcased and entering a url every time is tedious

**Describe the solution you'd like**
just use the current window target

[2018-09-09 19:16] imolorhe commented on #379
Sounds like an easy UX win. :) I'd look into making that change.

[2018-09-09 19:50] imolorhe commented on #378
@capaj This is an issue that should be resolved in the graphql autocompletion service.

https://github.com/graphql/graphql-language-service/issues/190

Once it is, it should work as expected. 🙂

[2018-09-09 19:53] imolorhe commented on #377
Thanks for reporting this! I'd look into it as soon as I can.

[2018-09-10 16:25] pozhega opened #380 "Prettify exported SDL"
Exported .gql SDL is one linner, it would be nice to have a formatted and prettyfied output.

[2018-09-10 21:32] sganz commented on #375
Seeing similar. Here is the console error from FireFox on Windows 10, Altair 1.8.0 Lots of chatter in the logs when it happens. This is like the other issue that I ran into with copy/paste and couldn't fire off requests. Opening a new tab initially didn't help. Had to kill all the tabs to get back to one then queries started working.

Not sure if that give any more clues.

Sandy

-----
Console sho

[2018-09-11 15:18] igat64 commented on #309
Dear @imolorhe,

Is it planned to move the variables window in front of the eyes?

[2018-09-12 12:10] maxr96 opened #381 "Updating Altair to Angular 6 and RxJS 6"
## Expected Behavior

Altair works with Angular 6 and RxJS 6

## Current Behavior

Altair works only with Angular 5 and RxJS 5

## Context

I would like to embed Altair in my project, which currently uses the newest versions of Angular and RxJS. Since a lot of changes were made for both frameworks and they are not backwards compatible, I would like to now if there is a plan to update the project t

[2018-09-12 14:09] imolorhe commented on #381
This requires packages used by altair to be upgraded, which they haven't. You can always use the rxjs-compat package to help.

[2018-09-14 13:51] maxr96 commented on #381
Yes, I understand that. So if there is now plan to do it now, I will try to do it on my own. Using rxjs-compat will make the app size grow, so I don't want to do that.

[2018-09-14 15:18] imolorhe commented on #381
@maxr96 The packages haven't been upgraded, which is why I haven't. There are plans to upgrade but until the used packages support rxjs, there is no way altair can be upgraded either (unless the rxjs-compat package is added, which would still lead to the increased app size you were referring to).

[2018-09-17 14:07] appsolutegeek opened #383 "Ability to export a collection of queries - similar to postman ?"
THe export / import works great. Is a feature planned to allow us to export a collection of queries instead of one by one.

This concept is similar to what POSTMAN does.

Cheers

[2018-09-18 19:19] greenkeeper[bot] opened #384 "An in-range update of subscriptions-transport-ws is breaking the build 🚨"
## The dependency [subscriptions-transport-ws](https://github.com/apollostack/subscriptions-transport-ws) was updated from `0.9.14` to `0.9.15`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsubscriptions-transport-ws-0.9.15).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2018-09-18 22:43] imolorhe commented on #380
I'm not sure there's a utility for this in graphql, and it doesn't look like a necessary functionality. PRs are welcome though if you would want to work on such functionality, but the priority for me implementing this would be low.

[2018-09-18 22:45] imolorhe commented on #383
There is already an issue created for this (#214). Closing this issue as a duplicate.

[2018-09-18 22:45] #383 closed

[2018-09-18 22:46] #378 closed

[2018-09-18 22:50] imolorhe commented on #309
@igat64 Yeah there are.

[2018-09-20 08:19] GlennMatthys opened #388 "Allow query result/subscription result window to be cleared"
Over time a lot of information can pile up in the result window, especially in the case of subscriptions.

**Describe the solution you'd like**
A way to clear the result window, perhaps using a button.

**Describe alternatives you've considered**
Opening new window, but that requires setting up the URLs and queries again (and perhaps some other settings).

[2018-09-20 15:10] imolorhe opened #389 "Add snap link in download page"

[2018-09-20 15:10] imolorhe opened #390 "Rebuild the side menu"
One flex wrapper.
https://dribbble.com/shots/4405796-Mail-client-app/attachments/1001877
https://dribbble.com/shots/4394669-Email-inbox-application-UI/attachments/999852

Responsive for mobile
https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793

[2018-09-21 01:06] #367 closed

[2018-09-21 01:06] #379 closed

[2018-09-21 01:06] #388 closed

[2018-09-21 01:06] #309 closed

[2018-09-21 01:06] #389 closed

[2018-09-21 01:06] #390 closed

[2018-09-21 05:58] GlennMatthys commented on #388
That was fast. Nice! Thanks.

[2018-09-21 13:21] #384 closed

[2018-09-23 13:29] vrobik opened #395 "Prettify"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when [...] i press prettify button 😢
Usually, i change filters in my queries and sometimes this filters is unreadable, prettify put it in one line
[here](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEBHArnATgTwAQDmcMAwgIYC2ADmQJYFQAUAJAGa3xYBqZANpkjwBtAGK1enHvzgBlMHzJYAungC8eADogtAGjzMIrVgGdiggJKw1eAAx7mxi

[2018-09-23 13:52] vrobik commented on #341
Maybe it can look like this:
Profiles page
- you can create/edit/delete profile
- each profile should have URL + Headers
- only one can be active at the same time

Settings in windows or a checkbox somewere ( Use default profile ), if you want use profiles or uncheck to have same functionalities from window

[2018-09-23 14:03] imolorhe commented on #341
So if I understand correctly, a profile would only set the value of URL and headers? And the profile would be applied to a window, to override the current settings of the window with the profile settings (which can still be changed by the user as they would normally be able to).

[2018-09-23 14:11] imolorhe commented on #395
Nice! I didn't realize that prettier works with GraphQL queries. I'll consider adding prettier.

[2018-09-23 19:42] vrobik commented on #341
Yes,
I'm not sure if @chrisharrison see it like this but this flow should cover his needs,
maybe in some cases, it will be better to have two checkboxes for default profile URL and default headers separate but this was first what comes into my mind 😃

[2018-09-24 20:30] imolorhe commented on #136
Gotten apple developer certificate

[2018-09-24 21:12] imolorhe commented on #380
@pozhega Are you using a windows PC? I've just checked the exported SDL on my laptop, and it is properly formatted, so it might be a windows-specific issue (the whole \n \r issue) if you're on a windows machine.

[2018-09-24 21:13] #380 closed

[2018-09-24 21:13] #395 closed

[2018-09-24 21:14] imolorhe commented on #380
I've added an extra prettify step, which should hopefully solve the issue for you in a windows machine as well.

[2018-09-24 22:42] #375 closed

[2018-09-26 15:04] imolorhe commented on #194
https://github.com/kbrandwijk/graphcool-gateway-apollo-engine-demo#advanced-example

[2018-09-27 15:08] greenkeeper[bot] opened #398 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.11.0` to `10.11.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-10.11.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devD

[2018-09-29 12:45] imolorhe opened #404 "Add check for update option in electron menu"
https://github.com/electron-userland/electron-builder/blob/docs/encapsulated%20manual%20update%20via%20menu.js

[2018-09-29 12:58] todo[bot] opened #405 "Remove condition when all users have upgraded to v1.6.0+"
https://github.com/imolorhe/altair/blob/e2102f3499c8da04a2ecdf0635694bdeb45bdd71/src/app/containers/window/window.component.ts#L78-L83

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in e2102f3499c8da04a2ecdf0635694bdeb45bdd71 when #402 was merged. cc @imolorhe.

[2018-10-01 12:22] vrobik opened #406 "Small UI bugs"
**Describe the bug**
1 - Docs cover settings popup
2 - dropdown's in dark theme have white text color

**Screenshots**

![image](https://user-images.githubusercontent.com/3286128/46288031-249b0580-c58d-11e8-9cb2-7a8fad81f0a9.png)
![image](https://user-images.githubusercontent.com/3286128/46288040-29f85000-c58d-11e8-9c74-c1214d28ab0a.png)

[2018-10-01 12:43] imolorhe commented on #406
Hey @vrobik what OS are you using? I can reproduce the first issue on my mac but I can't see the second issue.

[2018-10-01 12:52] vrobik commented on #406
Hi @imolorhe i use extension in chrome v.69.0.3497.100 in windows 10

[2018-10-01 13:06] imolorhe commented on #406
Thanks. I'll look into them. 🙂

You could also create a PR to fix them if you would like to.

[2018-10-02 12:02] kurisutofu commented on #214
Hi, here are some thoughts.

* It would be nice to have 2 buttons (or one with dropdown) to have the option to "save" or "save as". "Save" would work the same was as now if the query is not in a collection but if in a collection already, it would overwrite it without prompt. "Save as" would always prompt. This way it could be used to copy the query to another collection.
* A way to delete a query

[2018-10-02 12:05] imolorhe commented on #214
@kurisutofu How do you mean by "scoping headers, variables and subscriptions per collection"? Currently a query comprises of the actual query, headers, variables and URL attached to it, so when they are added to a collection, they are stored in the same way too.

[2018-10-02 12:14] kurisutofu commented on #214
@imolorhe , I just noticed it was true ... I'll update the comment ;)

[2018-10-02 12:42] kurisutofu commented on #214
Hi,

Another one.

* Saving a query with the same name in the same collection does not overwrite the existing query and creates duplicate. Added to the inability to remove a query, this means we need to have duplicates or write the full query from the get-go.

[2018-10-02 13:16] imolorhe commented on #214
@kurisutofu I am not really sure I understand the last point. Are you asking if having a query in a collection would overwrite another query with the same name in that collection?

[2018-10-02 17:25] #406 closed, assigned to nobody

[2018-10-04 21:43] imolorhe commented on #214
@ivan-kolmychek The delete tasks have been done. They would be available in the next version.

[2018-10-06 01:00] #404 closed

[2018-10-06 01:03] #405 closed

[2018-10-08 09:30] nuria-fl opened #414 "Alt + space disables text input and makes the text disappear"
**Describe the bug**
I'm using the Electron app. When I'm typing a query, instead of pressing `control + space` to autocomplete, I often press `alt + space` by mistake. This causes all the text in the area to disappear, I'm unable to type anymore, and I cannot find any way to reverse it. I need to close the tab and open a different one, neither force reloading or restarting the app seems to fix th

[2018-10-08 23:43] #414 closed

[2018-10-09 08:35] carloditan24 commented on #214
@imolorhe It would be nice to sort the names of the queries per collection. This would be useful for query collections that follow a certain workflow for their GraphQL application.

[2018-10-09 17:20] bsr203 opened #416 "Header is not set for subscription"
Hi.
I set the header through `set headers`, and I could see that it is set for graphql query, mutations (POST request).  But, with the same session/window, if I try a subscription request, header is not set. If I don't validate the request at server (don't check Auth header), then everything works. That indicates, subscription query from altair is fine except no header set (as i also see through c

[2018-10-09 21:12] #300 closed

[2018-10-10 12:35] imolorhe commented on #416
Thanks for reporting this! I'd look into it as soon as I can.

[2018-10-11 05:54] 0xdevalias commented on #416
Just hit this issue myself trying to subscribe to an AWS AppSync API protected with an API_KEY.

Was hoping that Altair would handle it, as [graphql-playground](https://github.com/prisma/graphql-playground/issues/853) couldn't either.

[2018-10-11 06:18] 0xdevalias opened #417 "Add AWS AppSync SDK support (MQTT over subscriptions, Header based auth, etc)"
**Is your feature request related to a problem? Please describe.**

It would be good to have full support for AWS AppSync subscriptions.

**Describe the solution you'd like**

Initially described in https://github.com/imolorhe/altair/issues/416#issuecomment-428829788

Since AppSync seems to not only use non-standard HTTP header based auth for websockets, as well as MQTT over websockets for subscri

[2018-10-11 08:31] imolorhe commented on #417
I'd keep this as blocked for now and work on #416. If the implementation of #416 fixes it, then you can close this, although it looks like the AWS AppSync has a very different implementation from apollo's subscription-transport-ws implementation so this might still need to be revisited but I can't promise it would have high priority at this point.

I guess there will always be custom subscription

[2018-10-11 08:32] imolorhe commented on #416
@0xdevalias Thanks for the contextual information.

[2018-10-11 08:50] imolorhe commented on #416
@bsr203 How are you using subscriptions with headers?

[2018-10-11 13:30] imolorhe commented on #416
@bsr203 From the conversation here, https://github.com/apollographql/graphql-subscriptions/blob/master/.designs/authorization.md, It appears you can't set the header in the initial request. Unless I'm missing something.

[2018-10-11 14:46] bsr203 commented on #416
@imolorhe thanks for the link. Sorry that I guessed it should work with initial POST request. I will look into any of the option which can be implemented outside the HTTP header can be done in my case. thanks again.

[2018-10-11 20:17] 0xdevalias commented on #416
My understanding of that is that it depends on where you’re needing to make the request from. But that the standard browser API’s on their own don’t support custom headers for it, so would probably give more headaches down the line.

Given that reason, I’m kind of confused/surprised why AppSync went that way.. I guess since it probably makes use of ApiGateway, and that’s just how it used Auth, so

[2018-10-12 12:31] bencebalogh opened #418 "Clear history"
I had a bug in my graphql api and Altair wasn't able to send the query, the query ended up being `null` in the history and as a result I wasn't able to send any other query, because it called `trim` on `null` in the logic. I fixed this by clearing the local storage from the console, I think it'd be nice to have a button for clearing history from the UI.

I think it'd be nice to add a button to the

[2018-10-12 13:01] #418 closed

[2018-10-12 23:46] 0xdevalias commented on #416
For AppSync, the simplest way would be to use the SDK and have a simple UI or similar way to say ‘this is an AppSync api’, and plug in the appropriate config.

I put together a PoC repo to manually play with it since none of these tools work:

* https://github.com/0xdevalias/poc-aws-appsync

Has notes on how to implement/etc. But basically the main chunk of code is just:

* https://github.com/0xde

[2018-10-15 13:31] jodinathan opened #420 "should have an execute button and executed message"
I am very new to graphql. Having a gui client is very helpful and important.
As I am very new to it, I don't know if I am doing the stuff correctly or not.
Would be very helpful to have a "execute query" button and also, a message when you try to execute and something is wrong.
For example, I am trying to query by executing cmd+enter:
[code]

but nothing happens and I have no idea I am wrong or is

[2018-10-15 13:35] imolorhe commented on #420
@jodinathan Using Cmd+Enter while the editor is focused should send the request. Alternatively you can always click the green button ❇️beside the URL box.

[2018-10-15 13:41] jodinathan commented on #420
there is no green button like that.

[2018-10-15 13:42] imolorhe commented on #420
@jodinathan I'm looking at it in the screenshot you sent 😄

[2018-10-15 13:42] imolorhe commented on #420
It has the "Send Request" text in it.

[2018-10-15 13:42] jodinathan commented on #420
I click and nothing happens

[2018-10-15 13:45] imolorhe commented on #420
@jodinathan Are you sure? I just ran the same exact query with the same URL and got result.

<img width="1438" alt="screen shot 2018-10-15 at 3 44 45 pm" src="https://user-images.githubusercontent.com/4608143/46954589-47e7a980-d091-11e8-8516-bd13fb26fb8b.png">

[2018-10-15 13:51] jodinathan commented on #420
I restarted the app and it worked. Weird.
but thanks =]

[2018-10-15 13:51] #420 closed

[2018-10-19 19:58] #377 closed

[2018-10-19 19:59] imolorhe commented on #262
@thunder7553

[2018-10-19 20:25] dexterns88 opened #423 "can't test http server"
Any option to enable testing for http server?

[2018-10-19 20:28] imolorhe commented on #423
@dexterns88 Testing HTTP server? How do you mean?

[2018-10-19 21:39] imolorhe commented on #262
@thunder7553 Options are now used.

[2018-10-19 21:39] #262 closed

[2018-10-19 23:13] imolorhe commented on #262
Added in `altair-express-middleware@2.0.3`.

[2018-10-23 22:06] cortex opened #426 "Querying from Firefox extension doesn't work."
**Describe the bug**
Querying from Firefox extension doesn't work

Loading schema works, but when I click the Send Request button nothing happens. In the Network Monitor, I can see a request being send to Google for tracking, but no request to the configured GraphQL server.

When I use the Altair web client at https://altair-gql.sirmuel.design/ in the same browser, running queries works fine.

**T

[2018-10-24 06:03] imolorhe commented on #426
@cortex Do you see any logs in the console when you click the button?

[2018-10-28 00:49] greenkeeper[bot] opened #430 "An in-range update of karma-jasmine-html-reporter is breaking the build 🚨"
## The devDependency [karma-jasmine-html-reporter](https://github.com/dfederm/karma-jasmine-html-reporter) was updated from `1.3.1` to `1.4.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fkarma-jasmine-html-reporter-1.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2018-10-28 12:19] imolorhe commented on #381
@maxr96 How are you using altair with your application?

[2018-10-28 15:48] BrendanBall commented on #341
In [postman](https://www.getpostman.com/) they have environments which is what you use to switch between dev/staging/prod etc. However in postman it is more generic as your environment is simply a set of variables that you can use anywhere in your request via templating. E.g you can template headers, urls, params, request body for e.g template in your username and password in a login post.

[2018-10-29 14:16] dexterns88 commented on #423
When I try to test graphql on http link get error , but when send request to https, working well.

[2018-10-29 14:21] imolorhe commented on #423
Are you using the web app or an extension, or the electron app?

[2018-10-30 20:17] #381 closed

[2018-10-30 20:18] todo[bot] opened #436 "Deprecate?"
https://github.com/imolorhe/altair/blob/ded3e27ad26ced83ef051a547f29b53e73b7335a/src/scss/_layout.scss#L35-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in ded3e27ad26ced83ef051a547f29b53e73b7335a when #431 was merged. cc @imolorhe.

[2018-10-31 22:51] imolorhe commented on #426
Closing this issue since I haven't heard back. Feel free to reopen if the issue still persists.

[2018-10-31 22:51] #426 closed

[2018-11-01 20:31] dexterns88 commented on #423
Tried with the web app, extension it's the same.

[2018-11-02 00:32] zefexdeveloper opened #438 "Change the font size"
It would be nice to be able to change the font size (it's too small).

[2018-11-03 17:06] imolorhe commented on #438
@zefexdeveloper Really? Too small?

[2018-11-04 21:56] zefexdeveloper commented on #438
@imolorhe Yes, I have sight issues and most of GraphQL clients allow to change the font size.

[2018-11-04 21:59] zefexdeveloper opened #440 "Allow complete schema download"
It would be nice and a feature you can't find in other client is to allow the user to download the schema.

That is how you can do:

https://github.com/octokit/graphql-schema

This is one example of how you can download GitHub schema.

There's also https://github.com/graphql-cli/graphql-cli with `get-schema`

[2018-11-05 14:43] zefexdeveloper commented on #440
Oh that is right, thank you

[2018-11-07 20:08] imolorhe commented on #423
@antraks @dexterns88 It would be helpful to see a demo with the issue. I can't seem to reproduce it. Could you also check in the dev console if there is any errors generated there? That might be helpful in figuring out the issue.

Thanks.

[2018-11-08 21:31] capaj commented on #376
It's my usual development workflow.
1. Try a query and if it works
2. Rewrite to named with variables
3. Copy it and paste it in vscode for use in my app

So this would automate 2. Step

[2018-11-09 19:56] #371 closed

[2018-11-14 22:21] #436 closed

[2018-11-15 00:52] #440 closed

[2018-11-16 19:21] todo[bot] opened #452 "Figure out how to transition CSS gradients for the button hover effect"
https://github.com/imolorhe/altair/blob/dbfcec2eac5f5a23e80832c7303d40c080004100/src/scss/_buttons.scss#L39-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in dbfcec2eac5f5a23e80832c7303d40c080004100 when #450 was merged. cc @imolorhe.

[2018-11-16 19:31] #438 closed

[2018-11-16 19:32] imolorhe commented on #438
Fixed in v1.9.3.

[2018-11-17 21:22] capaj commented on #376
currently the client has this compress button:
![image](https://user-images.githubusercontent.com/1305378/48665880-0181d200-eab7-11e8-8c19-171de2de6228.png)

which I believe is much less useful feature than conversion to a named query, but I understand people have different needs. Thanks for not closing this.

[2018-11-18 09:05] imolorhe commented on #376
@capaj While I agree with you that the compress functionality doesn't appear to be the most useful feature and is a low priority task as well, it had a number of things going for it:

- It was a simple one-click feature that does one thing irrespective of any constraints
- It didn't require much though around any edge cases
- There was already a library providing the functionality that we could ju

[2018-11-27 09:32] vrobik opened #462 "Variables need scroll"
**Describe the bug**
Variables need scroll

**To Reproduce**
Steps to reproduce the behavior:
1. Go to variables
2. Paste multi-lines object
3. Scroll not appear and variables cover query/mutation section

**Expected behavior**
Variables section should have max-height 50-60% and should have a scrollbar

**Screenshots**
![bu](https://user-images.githubusercontent.com/3286128/49071795-6d8ed380-f237-

[2018-11-27 11:06] imolorhe commented on #462
This looks easy enough to fix! 😄 PR? Or I'd get around to it as soon as I can.

[2018-11-29 09:49] Laniman opened #463 "Search result returns too many matches"
**Describe the bug**
Search in documents does not work correctly. The search result returns too many matches.

**To Reproduce**
Steps to reproduce the behavior:
1. Open chrome extension
2. Enter URL 'https://graphql.brandfolder.com/graphql'
3. Click on 'Reload docs'
4. In input 'Search docs' enter 'pageInfo'
5. In dropdown select first option
6. in 'Search result' section too many matches

**Expec

[2018-11-29 10:19] imolorhe commented on #463
Looks like a bug in the search functionality. Will look into it.

[2018-12-01 11:02] imolorhe commented on #423
I'm going to close this issue as non-reproducible since there isn't enough context for reproducing the issue.

[2018-12-01 13:35] imolorhe commented on #416
.

[2018-12-01 14:19] imolorhe commented on #416
Implementing this with the approach defined by [apollo graphql subscriptions](https://github.com/apollographql/graphql-subscriptions/blob/master/.designs/authorization.md#implementation-possibility) for the SubscriptionServer, using the `onConnect` callback to validate the subscription connection request as implemented [here](https://www.apollographql.com/docs/graphql-subscriptions/authentication.

[2018-12-01 14:38] imolorhe commented on #376
@capaj Is it okay for Altair to randomly name the queries? That would make it a one click process, and wouldn't need a dialog for that.

[2018-12-01 17:37] greenkeeper[bot] opened #471 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It **might not

[2018-12-02 16:51] #471 closed

[2018-12-02 16:58] imolorhe commented on #194
https://www.apollographql.com/docs/engine/features/query-tracing.html

[2018-12-02 18:35] imolorhe opened #472 "Add logger enabled by flag"
Currently all actions are logged even in production for potential debugging purposes. We should create a simple console.log wrapper that would only log if a debug flag is enabled. This way, the logging can be easily enabled by the user as required.

Flag: `__ENABLE_DEBUG_MODE__`

https://stackoverflow.com/a/32928812/3929126
https://transitory.technology/console-log/

[2018-12-03 23:48] vcfvct commented on #151
@imolorhe , hey man, according to what you mentioned above

Is it implemented and is there any way I can turn on this? Having some cors issue for now.

Thanks.

[2018-12-03 23:56] imolorhe commented on #151
@vcfvct That was only done in the electron apps, not the extensions. Are you using the extension app?

[2018-12-04 00:17] vcfvct commented on #151
@imolorhe , Appreciate for the prompt response!
yes, i am using the chrome extension. The server i am calling is checking the `origin`, and seem that the extension is sending `Origin: chrome-extension://flnheeellpciglgpaodhkhmapeljopja` to the server which is not valid. Same error for the electron which send `altair://-` as origin.
Any ideas to resolve this? Is it possible i can set custom origin

[2018-12-04 00:21] imolorhe commented on #151
@vcfvct Yes that was added since v1.9.6 https://github.com/imolorhe/altair/commit/2dfb1f0a4feb4ae05b1954e55e866618a3c80345#diff-c0c493a650eced91e37cce968b79723eR12

You will have to specify the origin header as you would any other header in your application. The app would extract that and send it to the server along with your request, so everything should be fine.

[2018-12-04 00:39] vcfvct commented on #151
@imolorhe Got it! How can I miss that part. 👍 It works fantastically!!
Any specific reason you did not implement it in chrome extension? seems that according to [this chrome doc](https://developer.chrome.com/extensions/webRequest), extension can also modify headers.
Thanks!

[2018-12-04 00:52] imolorhe commented on #151
@vcfvct I haven't actually looked at that until now. Looking at it however, it seems there are several nuances that would need to be considered, and the chrome extensions are more security conscious so several headers are not provided.

At this point I think it makes sense to limit this functionality to the desktop application. This is one of several potential areas where the desktop environment p

[2018-12-04 00:54] imolorhe commented on #151
@vcfvct If you think you can get the extensions to conform without much complexity in implementation and business logic details, please do take a stab at it! 😄

[2018-12-04 02:17] vcfvct commented on #151
@imolorhe , yes, seems that they are putting more and more restrictions as version grows. For now the electron app fulfill all my need. Will see how complex it is to make extension work elegantly once I get some extra free time. 🙂

Again, thanks for making this great tool! You the man!

[2018-12-12 23:10] teja24nex opened #480 "Can we have a feature to get the CURL for the request we make through Altair"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-13 16:54] imolorhe commented on #480
Thanks for reporting this! I'd look into it as soon as I can.

[2018-12-13 16:54] #423 closed

[2018-12-13 16:56] imolorhe commented on #417
@0xdevalias Does the fix for #416 work for you?

[2018-12-16 15:00] kurisutofu opened #485 "Close other tabs"
It would be nice to be able to have the option to "close all other tabs" and "close all to the right" like many electron applications.

[2018-12-16 15:07] kurisutofu opened #486 "Saving query in collection with tab name"
When saving a query to a collection (or not), I think it would be useful to have it automatically named to the tab name by default (but keep it editable).

For the moment, it uses the original tab name, the one used when the tab was added but not the one it is using after being renamed.

![alatair_tab_query](https://user-images.githubusercontent.com/742894/50055256-b16a5e00-018f-11e9-8719-92d48922

[2018-12-16 15:11] kurisutofu opened #487 "Automatic update deleted all collections and queries"
**Describe the bug**
When Altair auto updated, all my collections and queries were deleted.

**Expected behavior**
When Altair updates, the collections should still be here.
If the update relates to collections or queries, a proper migration process should be in place.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version 1.9.6

[2018-12-16 15:14] kurisutofu opened #488 "Ctrl+W shuts down application instead of tab"
**Describe the bug**
When using keyboard shortcut Ctrl+W, it should close the current tab, as mentioned in the menu.

![altair_ctrl](https://user-images.githubusercontent.com/742894/50055308-a49a3a00-0190-11e9-9010-97ebeef846a1.png)

However, it closes the application.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new tab
2. On keyboard, press Ctrl+W

**Expected behavior**
Tab close

[2018-12-16 15:18] kurisutofu opened #489 "Windows tooltip showing alongside css tooltip"
**Describe the bug**
When hovering above icons, the CSS tooltip shows but less than a second later, the tooltip from windows (I guess) is showing too.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover over an icon and wait

**Expected behavior**
Only the CSS tooltip shows.

**Screenshots**
![altair_tooltip](https://user-images.githubusercontent.com/742894/50055368-3d30ba00-0191-11e9-9c55

[2018-12-16 22:12] imolorhe commented on #486
Hey @kurisutofu I can't reproduce this issue. I was able to confirm that the correct window name is autofilled in the collection dialog. Could you please check again that this actually happens?

[2018-12-17 20:15] imolorhe commented on #487
This would be difficult to reproduce. I'd keep it open until the next version is released.

[2018-12-17 20:42] imolorhe commented on #488
Hey @kurisutofu, I would look at this as soon as I can get a windows PC to reproduce the issue. On a mac, it behaves normally.

[2018-12-18 02:03] #472 closed

[2018-12-18 02:03] #485 closed

[2018-12-18 02:03] #489 closed

[2018-12-18 02:04] #376 closed

[2018-12-18 02:04] #480 closed

[2018-12-18 09:18] kurisutofu commented on #486
HI,

Please see below.
When I save, it proposes "Windows 2" instead of "This is my tab".

![altair](https://user-images.githubusercontent.com/742894/50143917-286b3800-02f1-11e9-903a-f4566b1e6879.gif)

[2018-12-18 10:24] greenkeeper[bot] opened #492 "An in-range update of core-js is breaking the build 🚨"
## The dependency [core-js](https://github.com/zloirock/core-js) was updated from `2.6.0` to `2.6.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fcore-js-2.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a direct dependency of this project, and **it

[2018-12-18 19:36] #492 closed

[2018-12-22 17:03] imolorhe commented on #487
@kurisutofu Does this still happen?

[2018-12-28 14:06] imolorhe opened #511 "Throttle pane resize"
Increase the throttle duration for the pane resize functionality.

[2018-12-29 05:11] kurisutofu commented on #487
@imolorhe  Have you done an update recently? If so, it is not happening anymore.

[2018-12-29 05:13] kurisutofu commented on #485
@imolorhe Does itm ean it was implemented? I don't see it ...

[2018-12-29 10:36] imolorhe commented on #485
@kurisutofu Yes it has.

[2018-12-29 10:37] imolorhe commented on #487
Use the update option in the menu

[2018-12-30 10:15] imolorhe commented on #487
Ah I think I understand what happened now. Autoupdate has only been implemented for macOS, not for windows. You said that Altair automatically updated but there is no automatic update in the windows version of Altair. Perhaps you installed the new version of the app?

[2019-01-02 05:08] kurisutofu commented on #487
@imolorhe I haven't installed a new version ... I don't know what happened then ..

[2019-01-02 06:31] musrep-mmaughan opened #515 "Descriptions and Type in autocomplete."
**Describe the bug**
The autocomplete popup does not show field descriptions or data Type. I include this as a bug because basic graphiql supports this.

**To Reproduce**
Steps to reproduce the behavior:
1. Press <ctrl><space> before any field in a quey
2. See error

**Expected behavior**
Show selected field description and data Type in autocomplete somewhere. Same popup, second popup, wherever.

[2019-01-03 15:38] JacobT14 commented on #341
Just leaving my two cents, I have a whole bunch of queries that when we deploy I like to just run through and spot check things with to make sure speed etc are still performing right.  Right now in altair that would equate to a 3/4 windows(one for local, stage, and prod), with collections holding all the queries I use.  However, it is a pain to switch from the "local" window to "stage", as I now h

[2019-01-07 18:02] bpollock-vida opened #516 "Enumerations not handled as parameters"
**Describe the bug**
I cannot pass in an enumeration as a parameter. For Example:

mutation {
  someName {
    someUpdate(enumParam:COMPLETE)
  }
}

Fails to execute because Altair error: "Looks like your variables is not a valid JSON string."
However, if I make it a string, Altair won't execute because it asks for it as the enum type.

This query in the default GraphiQL interface executes without

[2019-01-08 15:37] imolorhe commented on #516
@bpollock-vida that error message shows up if you have variables set up that is not a valid json string. Can you check that you don't have any variable set (if you're not using it) or that the string is valid.

[2019-01-08 15:38] imolorhe commented on #487
@kurisutofu how did you get the new update of the app on Windows? 🤔

[2019-01-09 17:32] bpollock-vida commented on #516
That must have been it. In a new window things work as expected.

[2019-01-09 17:32] #516 closed

[2019-01-10 15:54] Isigar opened #519 "More tabs"
Hello, i love using you app but i have serious problem with it... I have multiple tabs with lots of queries and at linux desktop app lagging scrolling at body but its not main my problem i need more tabs... Maybe scrolling or make it half-height and two lines of tabs or something like this.

Thanks for response

[2019-01-16 12:22] Isigar commented on #519
@imolorhe Now I don't use any of it... Because I start the app and its empty all tabs cleared, history same and no collection at all...

[2019-01-16 12:25] imolorhe commented on #519
@Isigar Are you saying none of the tabs or queries you had in the app before closing it is showing after the app is closed and reopened? What app version are you using? What app type is it? Chrome or mozilla extension? Linux, windows, mac?

[2019-01-16 12:30] Isigar commented on #519
Okey i will try but not know maybe after few hours i will have some time for it.

[2019-01-17 01:15] greenkeeper[bot] opened #526 "An in-range update of @angular/cli is breaking the build 🚨"
## The dependency [@angular/cli](https://github.com/angular/angular-cli) was updated from `7.2.1` to `7.2.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40angular%2Fcli-7.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@angular/cli is a direct dependency of t

[2019-01-17 03:26] YWNA-Leon opened #527 "Docs can not work with JWT token string in header"
Using a GraphQL server with JWT token in HTTP header.
When I specify the authorization in the header setting, it will work when sending request.
But the Docs function will just ignore the header setting and can not get the

I think for the solution, we can apply the header settings to Docs function.
Send the IntrospectionQuery with the HTTP header settings.
Then it can works well.

[2019-01-17 09:06] imolorhe commented on #527
Thanks for reporting this! I'd look into it as soon as I can.

[2019-01-18 08:13] #515 closed

[2019-01-18 21:54] imolorhe commented on #527
@YWNA-Leon I just checked and the headers are being sent with the introspection query (for fetching the docs). Please can you check that there is no other reason why it doesn't work?

[2019-01-19 10:27] imolorhe opened #530 "Add video tutorials to youtube"
Areas of concentration:

- [ ] Querying server, making subscription query
- [ ] Using headers
- [ ] Using variables
- [ ] Using docs, show SDL, search, add query/fragment
- [ ] Updating settings
- [ ] Keyboard shortcuts
- [ ] Manage windows (new, duplicate, close, rename, rearrange)
- [ ] Using AGQ files (drag and drop, import/export)
- [ ] How to translate to local language (for translators)
- [

[2019-01-19 10:41] #488 closed

[2019-01-19 10:41] #511 closed

[2019-01-20 11:03] imolorhe commented on #341
I've decided it is better to implement this using the environments approach used by postman.

There would be an environment options that would list out available environments. The environments would essentially be a list of variables with values. Then within the interface, the variables can be used in place of the actual values.

[2019-01-20 11:12] vrobik commented on #341
Also you can check how it is implemented in "insomnia", they also have some env's stored as objects and you can use it everywhere

[2019-01-20 12:08] imolorhe opened #532 "Change tooltip"
Current tooltip is too clunky. Use a CSS-only tooltip if possible.

https://www.npmjs.com/package/ngx-popper

[2019-01-25 08:54] FluorescentHallucinogen opened #534 "Is it possible to integrate GraphiQL Explorer or something very similar to Altair?"
@imolorhe I really like Altair's [Add queries and fragments from documentation](https://github.com/imolorhe/altair#add-queries-and-fragments-from-documentation) feature.

But today I've just discovered GraphiQL Explorer plugin (https://github.com/OneGraph/graphiql-explorer).

Read the rationale in the ["How OneGraph onboards users who are new to GraphQL"](https://www.onegraph.com/blog/2019/01/24/H

[2019-01-25 10:42] imolorhe commented on #534
@FluorescentHallucinogen Looks like a brilliant idea. It is definitely something that can be included in Altair. I'm only worried about the UI/UX bit of it (PS: I'm not a designer 😅) and how this can be placed alongside the currently existing functionalities without them appearing dissonant.

[2019-01-25 22:14] #526 closed

[2019-01-26 13:09] #532 closed

[2019-01-26 13:09] todo[bot] opened #535 "Deprecated. Moved to url box. Cleanup."
https://github.com/imolorhe/altair/blob/21d1ba3cb5fe17bcaed8ddfdee3dda1f83a900ae/src/app/containers/app/app.component.ts#L300-L303

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 21d1ba3cb5fe17bcaed8ddfdee3dda1f83a900ae. It&#x27;s been assigned to @imolorhe because they committed the code.

[2019-01-26 16:06] imolorhe opened #537 "Implement File upload"
Following the demand for the file upload functionality, this is to be added following Jayden's specification here: https://github.com/jaydenseric/graphql-multipart-request-spec

A user can add files in the variables pane, providing a file name. The file name should follow GraphQL variable naming conventions as it would be used within the mutation query (for handling the upload) as a variable.

Whe

[2019-01-26 16:27] imolorhe opened #538 "Improve lerna workflow"
`lerna publish from-git`

// `lerna publish --skip-npm --conventional-commits`

// `lerna publish --force-publish=*`

Publish to npm from CI instead of locally.

Start versioning from 2.0.4.

[2019-01-26 16:28] imolorhe opened #539 "Add contributor mentions in docs"

[2019-01-26 19:04] vrobik commented on #341
Hi @imolorhe , thanks for Env's

but i'm stuck on how should it be used 😄

![image](https://user-images.githubusercontent.com/3286128/51791452-f381b900-21ab-11e9-8b2f-abef0c835421.png)

my question is how can i use my 'base_url' in URL field,

![image](https://user-images.githubusercontent.com/3286128/51791486-91758380-21ac-11e9-985b-d9713fc709e6.png)

i try a lot of strings with **.base_url** in

[2019-01-26 19:36] imolorhe commented on #341
Ah.. you use them within double curly braces `{{env_var}}`. Sorry about the lack of documentation on it. I've updated the post about it also with this information. https://sirmuel.design/altair-becomes-environment-friendly-%EF%B8%8F-f9b4e9ef887c

Feel free to clap and share! 😄

[2019-01-26 22:11] JacobT14 commented on #341
@imolorhe
It seems that it isn't working in headers?

![image](https://user-images.githubusercontent.com/26117887/51793361-886cbe00-217c-11e9-83ea-3effb321db52.png)

![image](https://user-images.githubusercontent.com/26117887/51793367-97ec0700-217c-11e9-883b-e7f572a0b360.png)

![image](https://user-images.githubusercontent.com/26117887/51793374-af2af480-217c-11e9-8724-1632d8067a52.png)

[2019-01-26 22:15] imolorhe commented on #341
@JacobT14 Thanks! That was an oversight! Working on fixing it!

[2019-01-26 22:16] JacobT14 commented on #341
No problem!  Just didn't know if I was missing something!  Just BTW a nice little additional touch would be some sort of autocomplete when you start typing {{
:) Just an idea!

[2019-01-28 01:10] #537 closed

[2019-01-28 01:10] #538 closed

[2019-01-28 01:10] #341 closed

[2019-01-28 20:38] #539 closed

[2019-01-29 10:11] strelcov opened #543 "Not working App Version: 2.0.4"
In App Version: 2.0.4 nothing work. There is js error in developer console. Last version Chrome

[2019-01-29 10:58] imolorhe commented on #543
@strelcov Thanks for mentioning it! Would fix it soon.

[2019-01-29 11:16] imolorhe commented on #543
@strelcov The problem was because of a changed state. I'm fixing that now, but you can get it to work by just duplicating the window (by right clicking the window name) or creating a new window. That should refresh the state for you. Sorry about the trouble.

[2019-01-29 11:26] #543 closed

[2019-01-30 08:32] klawingco opened #545 "Importing agq file seems not working"
**Describe the bug**

Importing Queries in .agq file is not working.

Tested on both Chrome extension and Electron App.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Graphql Query, and export it
2. Delete the query and try to Import the generated .agq file
3. Queries are not imported

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scre

[2019-01-30 09:48] imolorhe commented on #545
Thanks for reporting this! I'd look into it as soon as I can.

[2019-01-31 05:57] imolorhe commented on #545
@klawingco Yeah the export functionality is erroneously encoding the string. I'm still trying to figure out why I encoded the JSON response.

[2019-01-31 06:31] #545 closed

[2019-01-31 06:33] imolorhe commented on #545
@klawingco I have pushed a fix to handle the encoding. Thanks again for mentioning it.

**Tip:** To enable debug mode (with the error messages logged to the console), set `__ENABLE_DEBUG_MODE__ =  true` in your console.

[2019-02-01 19:39] #535 closed

[2019-02-02 12:17] nsonaniya2010 opened #549 "Cookie header Doesn't set"
**Describe the bug**
`Cookie` header doesn't set from client application.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'set headers' section in client application
2. try to set header 'Cookie' with some value
3.Forward the request, you will see that cookie header is not set.

**Expected behavior**
Cookie header should be set, but it is not setting.

**Desktop (please complete the fo

[2019-02-02 12:31] imolorhe commented on #549
@nsonaniya2010 The `cookie` header isn't one of the allowed headers to set from the desktop apps.

https://github.com/imolorhe/altair/blob/staging/electron/window.js#L18

[2019-02-02 12:39] imolorhe commented on #549
It's also a forbidden header to set according to the specs

https://fetch.spec.whatwg.org/#terminology-headers

https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

Why would you want to be able to change the cookie header?

[2019-02-02 12:43] nsonaniya2010 commented on #549
`Cookie` header needs for `authentication` purpose.

[2019-02-02 12:45] imolorhe commented on #549
Wouldn't you rather have your authentication headers (`X-auth-token`, '`authentication`) set rather than trying to update the cookie header?

[2019-02-02 12:47] imolorhe commented on #549
I'm curious though. What is your use case that requires you to use cookies as the authentication mechanism? I can only assume it's for the purpose of sharing the session, which is domain-specific. Then a followup question would be, why not include altair in a specific route like `/altair` in the application you're working with.

[2019-02-02 13:05] nsonaniya2010 commented on #549
there is no header like 'X-auth-token'.
Although example of application is `gitlab`, graphql.

[2019-02-04 01:50] klawingco commented on #214
I'm almost done creating a Feature request for exporting collection but it seems already mentioned here.
It'll be a great help. Let me have a tactical dot here incase of updates :+1:

[2019-02-04 09:56] imolorhe commented on #214
@klawingco I added that initially but no one mentioned it so I wasn't sure if anyone wanted it. Good to know someone is interested in it 😄

[2019-02-05 21:32] imolorhe commented on #549
Creating a `X-auth-token` header for authentication is a normal practice when authenticating with API servers. For Gitlab's GraphQL API, you can authenticate by providing the `HTTP_PRIVATE_TOKEN` header or adding `private_token` to the query string of the API.

Using session should be for when you're working from the same domain as the API.

[2019-02-06 07:57] vrobik commented on #341
Hi @imolorhe

it will be great to have a possibility to use env's like nested object, something like :
`{
  "superviser": {
    "prefix": "Bearer ",
    "token_hash": "12345"
  }
}`
and use it like {{superviser.prefix}}{{superviser.token_hash}}

also remark what if i use somethig from env's in **Set headers** like {{hash}}, after first request it will be replaced with content of that var, and next

[2019-02-06 12:45] imolorhe commented on #341
@vrobik Noted. Would fix the header environment variables issue in the next version.

[2019-02-08 13:00] joseluisq opened #557 "Preloading indicator screen is not providing enough information about request action"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated because server request are normally asynchronous that implies time for server response. So there is no indicator that tell me if my request is performing. It feels like if the UI it's frozen during requests or when I perform many "Send Request" clicks with the same query.

**Describe the solution you'd like**

[2019-02-08 13:07] imolorhe commented on #557
@joseluisq Hey, I'm not sure I understand your question. Don't you get a loading screen when sending requests?
<img width="1439" alt="screen shot 2019-02-08 at 2 06 18 pm" src="https://user-images.githubusercontent.com/4608143/52480008-c28d8500-2baa-11e9-8d02-63a7409a1b23.png">

[2019-02-08 14:44] joseluisq commented on #557
Yes, but actually I'm using v1.9.8 (1.9.8.2669) but I did never noted that.

[2019-02-08 14:46] imolorhe commented on #557
It doesn't show in v1.9.8?

[2019-02-08 14:48] joseluisq commented on #557
Altair Desktop: v1.9.8 (1.9.8.2669)
Mac: Mojave v10.14.2

[2019-02-08 14:52] joseluisq commented on #557
Hey, I can see it now in my local, but it's faster, almost imperceptible.

[2019-02-08 14:54] joseluisq commented on #557
The point is, if I perform the same request I don't see any loading indicator.
Can you do something about it?

[2019-02-08 14:56] imolorhe commented on #557
But you said you saw it in your local and it was fast. If the server is fast to respond, why does the loading screen need to show?

[2019-02-08 14:58] imolorhe commented on #557
Could you try the same request here: https://altair-gql.sirmuel.design/ if that works for you? I'm not sure I fully understand the issue you are referring to.

[2019-02-08 15:02] joseluisq commented on #557
Maybe I have not explain me properly, I don't note the performing action (even if it's local) in the UI.

One example sending the same request (the same local server) but using Postman:
![image](https://user-images.githubusercontent.com/1700322/52486233-e658c700-2bba-11e9-994f-17a93805e59a.png)

[2019-02-08 15:04] imolorhe commented on #557
Okay so if I understand correctly, the loading screen isn't sufficient indicator that the request is being sent, and you would prefer an indicator on the request button?

[2019-02-08 15:06] joseluisq commented on #557
Yeah 😄👍

Tell me if I need to move this to some other side.

[2019-02-08 18:07] imolorhe commented on #557
Do you have this issue using the keyboard shortcut for sending the request? Can you also try by clicking the "Send Request" button?

[2019-02-09 12:08] joseluisq commented on #557
Using the shortcut and pressing the button.
I think a loading button-based it's not bad idea instead of locking the entire screen.

[2019-02-10 19:03] greenkeeper[bot] opened #559 "An in-range update of @beyerleinf/ngx-dnd is breaking the build 🚨"
## The dependency [@beyerleinf/ngx-dnd](https://github.com/beyerleinf/ngx-dnd) was updated from `6.0.0-test.1` to `6.0.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40beyerleinf%2Fngx-dnd-6.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@beyerleinf/ngx-dnd

[2019-02-12 17:09] corbanb opened #564 "Enhanced Collections"
**Is your feature request related to a problem? Please describe.**

I am always frustrated when a collection doesn't share environment variables. It would be great to share JWT tokens across tabs and manage collections in groups instead of them being mixed together. See: Insomnia app or Postman

I am always frustrated when I have to retype fragments. It would be sweet if fragments were able to be

[2019-02-13 09:38] #549 closed

[2019-02-13 22:12] fvieira opened #567 "Submitting request with Ctrl+Enter doesn't work from variables section"
This is pretty annoying as you can't edit variables and submit without either clicking the query section first or clicking the button.

[2019-02-13 22:17] fvieira opened #568 "Ctrl+Enter provides no feedback and only updates results after moving the mouse"
I was stuck a long time trying to understand what I was doing wrong, since submitting the query using the button worked perfect, but using Ctrl+Enter while on the query section seemed to do nothing for a long time.
That's when I understood the request was being made, but the interface didn't update until I moved the mouse.

[2019-02-13 22:19] imolorhe commented on #568
Hello @fvieira, this has been fixed already and would be released in the next version. There was an issue with the UI updating with any shortcuts.

[2019-02-13 22:20] imolorhe commented on #567
Thanks for reporting this! I'd look into it as soon as I can.

[2019-02-13 22:20] #559 closed

[2019-02-13 22:20] fvieira opened #569 "While in dark theme, numbers in the variables sections are also dark and hardly readable."
Title should be self-explanatory, let me know otherwise.

[2019-02-13 22:21] imolorhe commented on #569
Thanks for reporting this! I'd look into it as soon as I can.

[2019-02-13 22:22] fvieira commented on #568
Oh, sorry, I couldn't find it in any issue... You can close this if it's a duplicate.

[2019-02-13 22:23] imolorhe commented on #564
@corbanb Hey, are you having issues with using the environment variables across the windows in the app?

[2019-02-13 22:23] imolorhe commented on #568
No it's fine. The issue wasn't raised. I noticed it and fixed it myself. 🙂

[2019-02-13 22:31] imolorhe opened #570 "Export collection functionality"

[2019-02-14 09:44] beholdr commented on #332
So sad this is by design. The monospaced font in programmers tools is not just cosmetic preference, it's usability option. It's so easy to add custom font-family and font-size (for those of us who has bad vision). I thought I found an ideal tool for GraphQL but alas.

[2019-02-14 10:49] imolorhe commented on #332
So you want a customisation option for font family?

[2019-02-14 10:55] beholdr commented on #332
Yes, it would be cool.

[2019-02-16 06:58] avifatal opened #575 "Embedding as npm package"
Hi,
I have an angular app and I would like to embed altair inside as a component.

something like:
 `<altair [schema]="schema" [query]="'{page{id,name,slug}}'" />`

Possible?
Thanks

[2019-02-16 06:59] imolorhe commented on #575
I'm still trying to figure out if Angular allows it. Do you have any pointers?

[2019-02-16 07:03] avifatal commented on #575
As far as I understand you need to publish it as npm and create entry component like my example.. no?
Thanks

[2019-02-16 07:04] imolorhe commented on #575
I'd look into it further. I don't really think it is that straightforward with angular.

[2019-02-16 07:05] avifatal commented on #575
Lets say that I want to embed your public app inside my app. as an iframe. is it possible to pass queries from the outside somehow?
thanks

[2019-02-16 07:06] imolorhe commented on #575
Currently it's not possible.

[2019-02-16 07:07] avifatal commented on #575
thanks

[2019-02-16 07:09] imolorhe commented on #575
It is possible if you're using express with the altair-express-middleware package however.

[2019-02-16 07:10] avifatal commented on #575
I have a .net core server... overcomplicated for me. thanks

[2019-02-16 07:39] imolorhe commented on #575
You can create a simple .net package for it then 😄 Or you can use the assets in [altair-static](https://www.npmjs.com/package/altair-static) directly, via jsdelivr.com: https://www.jsdelivr.com/package/npm/altair-static?path=build%2Fdist

You can use https://cdn.jsdelivr.net/npm/altair-static@2.0.7/build/dist/index.html as a reference to build your HTML page for the app.

[2019-02-16 09:52] imolorhe commented on #527
Since no reply, and without more context, I am closing this issue.

[2019-02-16 09:52] #527 closed

[2019-02-16 09:53] imolorhe commented on #487
Closing this as not reproducible.

[2019-02-16 09:53] #487 closed

[2019-02-16 10:12] #569 closed

[2019-02-16 10:12] #332 closed

[2019-02-16 10:12] #557 closed

[2019-02-16 10:12] #567 closed

[2019-02-16 10:12] #570 closed

[2019-02-16 21:23] joseluisq commented on #557
:+1:

[2019-02-16 23:32] #568 closed

[2019-02-19 18:08] imolorhe commented on #575
Closing this as it is not within scope at the moment, and there is an alternative solution.

[2019-02-19 18:08] #575 closed

[2019-02-24 10:39] imolorhe opened #587 "Implement X-GraphQL-Event-Stream for updating schema when server changes"
As mentioned in the [PostGraphile feature page](https://www.graphile.org/postgraphile/v4-new-features/), the `X-GraphQL-Event-Stream` header can be set to allow the GraphQL server notify Altair of changes to the schema. This would be very helpful in allowing developers work without needing to refresh the docs everytime they change the schema on the server.

From the PostGraphile [source code](http

[2019-02-25 22:08] #587 closed

[2019-02-26 09:39] benjie commented on #587
🎉

[2019-03-01 12:33] imolorhe opened #595 "Improve settings autocompletion"
Figure out the autocompletion implementation required in the settings modal.

Figure out using separate instances of the codemirror module in different files.

[2019-03-01 12:35] imolorhe opened #596 "Reset application. Clear all data."
A button to reset the application state completely, clearing all data stored in localstorage and indexedDb (and any other local storage mechanism used).

[2019-03-01 12:41] simhnna opened #597 "Run query/mutation where the cursor is located when pressing Ctrl+Enter"
We are considering to move from graphiql to altair and would really miss the ability to run queries that I'm currently editing (ie the cursor is located inside that query) using Ctrl+Enter like graphiql and graphql-playground do

[2019-03-01 12:43] imolorhe commented on #597
@simhnna That is already possible with Altair.

[2019-03-01 12:43] imolorhe commented on #597
Although I see it is bound to Cmd+Enter, and not Ctrl+Enter.

[2019-03-01 12:44] imolorhe commented on #597
Actually it is bound to both options 😄

[2019-03-01 12:53] simhnna commented on #597
not in https://altair-gql.sirmuel.design/ and not in the chrome plugin with version 2.1.0

[2019-03-01 12:55] simhnna commented on #597
I guess I wasn't clear enough in the issue description, so I updated it.

[2019-03-01 13:25] imolorhe commented on #597
Are you setting multiple queries? Because with one query it works fine. With two queries it would need you to specify one of the queries. Can you show your query?

[2019-03-01 13:46] simhnna commented on #597
Yes I'm using a document with multiple defined queries:

[code]

I want to be able to run the first one if I have the cursor anywhere in the first query, the second anywhere in the second one.

If I don't have the cursor anywhere I guess I would expect the last one to be executed

[2019-03-01 13:49] imolorhe commented on #597
Hmmm I see. So the issue is sending a request for the query where the cursor is in a multi query request, basically setting the `operationName` based on the current query (query with the cursor).

[2019-03-01 13:52] brenomeneghetti opened #598 "Environment variables are breaking on "Set Headers" modal"
**Describe the bug**
The environment variables are kinda broken on the Headers configuration. The variable value is over the variable key and the variable value doesn't update after it's broken.

**To Reproduce**
Steps to reproduce the behavior:
1. First define one environment variable (like a jwt)
2. Click on "set headers" and use the variable in any of the inputs
3. Execute a request using the h

[2019-03-01 13:52] imolorhe opened #599 "Specify how to use variables in environment manager"
Add a little useful tip on how to make use of the variables `{{variable}}` in the app.

[2019-03-01 13:54] imolorhe commented on #598
I thought this issue was fixed already. I guess I didn't test it properly enough. Thanks for reporting. I will look into it as soon as possible.

[2019-03-01 14:04] simhnna commented on #597
yeah. It's really nice once you get used to it :-)

[2019-03-02 13:32] imolorhe opened #602 "Integrate spectron"
https://electronjs.org/spectron

https://dzone.com/articles/write-automated-tests-for-electron-with-spectron-m

[2019-03-02 13:36] imolorhe opened #603 "Document keyboard shortcuts"
https://atlassian.design/server/components/keyboard-shortcuts/

Including electron-specific section.

[2019-03-02 14:13] imolorhe commented on #564
Closing. Not enough information.

[2019-03-02 14:13] #564 closed

[2019-03-02 14:14] #598 closed

[2019-03-02 14:14] #599 closed

[2019-03-02 14:16] #214 closed

[2019-03-03 09:23] Sparow199 opened #605 "[Ctrl+Shift+Enter] to autofill all fields at cursor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
[GraphiQL  feature implementation](https://github.com/graphql/graphiql/blob/master/src/components/QueryEditor.js)

**Additional context**
[Already, issue is opened on GraphQL Playground](https://github.

[2019-03-03 09:38] imolorhe commented on #605
@Sparow199 What exactly is the feature request? Altair already has autocompletion.

[2019-03-03 11:03] #603 closed

[2019-03-04 00:52] jaydenseric commented on #537
Wow, this is great work 😍

[2019-03-04 01:05] jaydenseric opened #608 "File variables can look empty when they're not"
**Describe the bug**
File variables can look empty when they are not.

**To Reproduce**
Steps to reproduce the behavior using Alitair Mac app version 2.1.1 (2.1.1.3199):
1. In a tab, prepare a mutation that has an `Upload` scalar type argument.
2. Open the "VARIABLES" tray.
3. Create a new file variable name and choose a file using the "Choose File" button. The filename displays next to the button

[2019-03-04 07:05] rivancic commented on #519
Hello I don't know if my request is related. Maybe this functionality already exists and I can not find it.

I would like to have multiple different "Projects" and tabs would be then the queries for this specific project. As I am working on GraphQL applications in multiple different projects I would like to keep them separate. Basically I want to group windows by the project. Only one set of windo

[2019-03-04 07:11] imolorhe commented on #519
@rivancic Wouldn't the collections help you?

[2019-03-04 07:14] rivancic commented on #519
@imolorhe I am not aware of the collections. Is this existing functionality?

[2019-03-04 07:17] imolorhe commented on #519
Yeah it is

[2019-03-04 07:28] rivancic commented on #519
I have a Linux version of 2.0.8. Do I need to update to get collections?
Or can you help me with some screen-shot if this functionality already exists?

[2019-03-04 07:42] imolorhe commented on #519
@rivancic You can find collections at the bottom left corner of the app. Thinking about it, it might not solve your issue but I would need to better understand your problem.

If I understand you clearly, you want to be able to have multiple Altair instances with different sets of windows for different projects which you are working on simultaneously, or maybe you can elaborate on your use case.

P

[2019-03-04 07:43] imolorhe commented on #608
Thanks for reporting this! I'd look into it as soon as I can.

[2019-03-04 07:56] rivancic commented on #519
@imolorhe No its exactly what I was searching for.

But man is this collections icon/functionality hidden. Its a nice UI, but it was just not intuitive for me. I prefer that at least all of the basic available actions are listed in the top menu bar. Its easier to find if something when you are new to the tool.

Thank you very much.
Its still my preferred GraphQL IDE and now I like it even more.

[2019-03-04 08:01] imolorhe commented on #519
What happens when I close the app, how does Altair determine which instance to save?

[2019-03-04 08:47] Sparow199 commented on #605
@imolorhe , when i have:
 { user |<-(current cursor position)  } -> CTRL + ENTER will add all availlable fileds in user type. It's faster than add queries  and types from documentation tab, i think that it's more intuitif when you occasionally users in your APIs.
Thanks !

[2019-03-04 10:19] Sparow199 opened #609 "Add support for headers injection in Altair static"
Actually, we can't inject Headers keys at startup in Altair statics.

Add the option to config class

[2019-03-04 12:03] razvan-jiganie-bizcuit opened #610 "Add AWS IAM v4 authentication support"
**Is your feature request related to a problem? Please describe.**
It's a bit frustrating to manually create AWS IAM authorisation headers (using Postman to generate headers right now).

**Describe the solution you'd like**
New menu item (like headers or variables) allowing you to select authorisation type and input required fields.

**Describe alternatives you've considered**
Can't think of a bet

[2019-03-04 18:17] imolorhe commented on #610
Don't you think that's a very specific case for a general purpose application to have?

[2019-03-04 19:29] razvan-jiganie-bizcuit commented on #610
My particular use case for an app like altair is to use it as a development tool. Having the option to automatically generate the necessary headers for protected endpoints would allow me to work with altair alone, without having to keep yet another app around (postman for example). So yes, implementing just aws iam is a specific case, but maybe supporting the most popular authentication options (b

[2019-03-05 20:21] rogerkmp2 opened #611 "Possible breaking changes in Chrome version"
**Describe the bug**
After applying updates today on Ubuntu 18 I can no longer run any graphql query in the application.

**To Reproduce**
Steps to reproduce the behavior:
Run any graphql query

**Expected behavior**
Results to be shown

**Console Error**
[code]

**Desktop (please complete the following information):**
Google Chrome | 72.0.3626.121 (Official Build) (64-bit)
Revision | da3787ba355f

[2019-03-05 20:52] imolorhe commented on #611
@rogerkmp2 Can you show the error? `Invalid window ID provided.` is just a warning but wouldn't break the app. You can set `__ENABLE_DEBUG_MODE__ = true` in your console to see more debug messages.

[2019-03-05 21:33] rogerkmp2 commented on #611
The only error I see is as follows:
[code]

It only appears once on the first try, so I assumed the issue was related to the warning.

[2019-03-05 21:38] imolorhe commented on #611
A couple of questions:

- does the error appear when you try to send a request?
- when last did you open the altair extension?

[2019-03-06 00:24] Trevor-L opened #612 "Show currently selected environment"
**Is your feature request related to a problem? Please describe.**
It would be helpful to be able to see the currently selected environment without clicking the environment button.

**Describe the solution you'd like**
The current environment (if set) should be visible on the UI.  Ideally, to the left or under the environment button.

Nice work so far.

[2019-03-06 05:53] Sparow199 opened #613 "Simplify query modification"
When I modify a saved query, i should always create a new one in order to save the changes. It'll be better to verify if the query exist when we click on the save button, if the response is true then modify it else prompt for new query add.
Thanks 🎉

[2019-03-06 07:02] imolorhe commented on #613
@Sparow199 I'm not sure I know the context for your question. Are you referring to when saving a query to a collection? Exporting a window?

[2019-03-06 07:24] imolorhe opened #614 "Store current and previous versions for debugging"
It would be useful to store the current app version and the previous app version locally to make it easier to spot backward compatibility bugs with the data.

[2019-03-06 08:26] Sparow199 commented on #613
![altairsave](https://user-images.githubusercontent.com/22281426/53866396-c8338a80-3ff1-11e9-986d-761364320a61.PNG)

I have already the current query in my collection, after a modification i need to save changes not to create a new query.

[2019-03-06 15:10] rogerkmp2 commented on #611
Yes, it happens on the first request only.

It was working yesterday morning, I applied patches updating chrome, and after restarting the OS it stopped working.

Even when I click "Send Request" while pointing to a server that is not running I still see no error in the UI and no change in the UI at all. The only indication of failure is the `TypeError: Cannot read property 'trim' of null` in the d

[2019-03-06 15:13] imolorhe commented on #611
But do you recall the previous version you were using before you updated?

[2019-03-06 18:56] imolorhe commented on #613
Ah right. So an option to save the query in the collection.

[2019-03-06 18:59] imolorhe commented on #611
The simplest solution would be to clear local storage but that is not ideal, but I would need to know the previous version you had to understand the regression. The only thing I think could have caused it hasn't been updated in a while.

[2019-03-06 19:03] imolorhe commented on #611
Or you can duplicate the window that has the issue.

[2019-03-06 19:12] imolorhe commented on #612
If you don't mind throwing some UI suggestions my way on how this would look 😄

[2019-03-06 20:09] rogerkmp2 commented on #611
Closing all the windows and reopening them solved the issue.

Thanks!

[2019-03-06 20:09] #611 closed

[2019-03-07 01:37] jaydenseric opened #617 "Support Koa"
**Is your feature request related to a problem? Please describe.**
I struggling to work out how to serve Altair using `altair-static` via a custom route in a Koa app.

**Describe the solution you'd like**
Official Koa middleware that would allow Alitair to be served via a custom route in a Koa app.

[2019-03-07 08:33] imolorhe commented on #617
@jaydenseric Nice to see someone trying to build around Altair 🙂What challenges are you facing with using `altair-static`?

This is how `altair-express-middleware` uses `altair-static`. Maybe this would help: https://github.com/imolorhe/altair/blob/0a454c81de01623fafc79ebbae173ee80177551f/packages/altair-express-middleware/index.ts#L15-L17

[2019-03-07 22:54] Trevor-L commented on #612
Of course!  Something like this with tighter padding 😄
![altair-env-mock](https://user-images.githubusercontent.com/651769/53995134-58a4c480-40f1-11e9-9e36-89a975e83f43.jpg)