[2019-03-08 02:55] jaydenseric commented on #617
I worked out how to get it working with `koa-router`. Here is what I arrived at:

[code]

To publish generic middleware you probably wouldn't want to assume the presence of `koa-router`.

[2019-03-08 06:13] BrendanBall commented on #612
I really need this. I often switch between environments so I really need to see at a glance that I'm on the correct environment without having to click somewhere first. Postman just has a simple select drop down, so the above suggestion looks more than adequate.

[2019-03-08 07:20] imolorhe commented on #617
Nice! When are you going to publish the koa middleware npm package?
To fix the need for the forward slash at the end of the URL, I am going to update `altair-static` to accept a `baseURL` which would be used as the base for relative URLs. That should take out the need for

[code]

[2019-03-08 18:59] ravikanthreddy89 opened #623 "Unable to query local GQL server running behind nginx with self signed certs"
**Describe the bug**
I'm running a GQL server on local machine. All my local node apps are sitting behind local nginx server. Nginx is setup with self signed certificates. All GQL app playgrounds are accessible from crhome, but requires me to accept the warning about self signed certificate.
However, not sure how to make altair accept the self signed cert. Tried chrome extension, but that din't wo

[2019-03-08 19:08] imolorhe commented on #623
Sorry I don't know how to handle this issue. Maybe use the endpoint with the http version rather than the https.

[2019-03-08 21:18] ravikanthreddy89 commented on #623
👍

[2019-03-08 21:18] #623 closed

[2019-03-09 14:39] #597 closed

[2019-03-09 14:39] #608 closed

[2019-03-09 14:39] #596 closed

[2019-03-09 14:39] #609 closed

[2019-03-09 14:39] #612 closed

[2019-03-09 14:39] #613 closed

[2019-03-09 14:39] #614 closed

[2019-03-09 15:00] #602 closed

[2019-03-09 16:07] imolorhe opened #626 "Comment on this issue to add your translation contributions 🎉"
Github contributions only show code contributions but we also have awesome people contributing translations for Altair. It would be awesome to be able to acknowledge them on the repo as well.

If you would like to contribute to translations, you can use this: https://altair-gql-translate.surge.sh/.

We use [crowdin](https://crwd.in/altair-gql) to manage the translations.

A preview of the contribu

[2019-03-09 18:26] imolorhe opened #628 "Migrate docs to just-the-docs"
Migrate current docs theme to [just-the-docs](https://pmarsceill.github.io/just-the-docs/). It has customisation options that should be sufficient for our purposes, and also offers other useful features.

[2019-03-11 11:02] Sparow199 opened #631 "Can't click on `Environments...` on 2.1.2"
Click is not enabled but switching environments works:
![NotWork](https://user-images.githubusercontent.com/22281426/54119281-3cf13500-43f5-11e9-9a73-d005a5a9c459.PNG)

I need to click on Docs tab to get `Environments...`  work.
![Works](https://user-images.githubusercontent.com/22281426/54119283-3d89cb80-43f5-11e9-98e4-b03b8c80f8a7.PNG)

Thanks

[2019-03-11 12:17] imolorhe commented on #631
Looks like a bug a little z-index can fix. 😄 PR anyone?

[2019-03-11 21:54] brenomeneghetti opened #632 "Set base headers from environments"
**Is your feature request related to a problem? Please describe.**
The headers of all my queries/mutations are the same most of the time and Altair keeps one set per tab which is kinda frustrating when you start to add your entire query/mutation list on it.

**Describe the solution you'd like**
It would be good to be able to define one set of headers per environment or even one set of headers for

[2019-03-12 07:43] imolorhe commented on #632
The solution I see involves a combination of the environments with the headers. So if you want to have a set of headers for all your requests, you add the headers to the **Global environments**.

[code]

Then Altair would include that as part of the headers while sending the requests.

[2019-03-12 07:58] imolorhe commented on #626
@all-contributors Add @DaniloCaruso for translation

[2019-03-12 08:02] imolorhe commented on #626
@all-contributors add @IgorSzymanski @kporten for translation.

[2019-03-12 08:03] imolorhe commented on #626
@all-contributors add @kporten for translation.

[2019-03-12 08:04] imolorhe commented on #626
@all-contributors add @disjukr for translation.

[2019-03-12 10:02] Sparow199 opened #637 "When i open a query from existing collection, introspection query is always executed"
**Describe the bug**
This issue was detected with the last biuld of Altair(v2.1.2)

[2019-03-12 13:52] simhnna opened #640 "[Feature Request] Ctrl+Click to open docs"
Plain graphiql has the feature to ctrl+click on a part of query/mutation to open the docs at the relevant position.

It would be nice if altair also was capable of doing this.

[2019-03-12 15:08] imolorhe commented on #637
@Sparow199 Is this a bug? If you open a query, the introspection query needs to be sent to get the schema for that query.

[2019-03-12 15:39] Sparow199 commented on #637
@imolorhe , the introspection query needs to be executed at startup, when we switch environments or on modified service URL. The GraphQL schema  doesn't change often.

[2019-03-12 16:00] imolorhe commented on #637
@Sparow199 The schema for queries in the collection shouldn't be made at startup. They should be made only if the query is opened.

For queries that are already open in a tab, those would have already been loaded by the time they were opened, but not for others in the collection.

[2019-03-12 17:03] Sparow199 commented on #637
You are right for the startup behavior. But I think that single load on
collection opening will be better no ?

On Tue, Mar 12, 2019, 17:08 Samuel <notifications@github.com> wrote:

[2019-03-12 19:03] imolorhe commented on #626
@all-contributors add @IgorSzymanski for translation.

[2019-03-12 19:30] imolorhe commented on #626
@all-contributors add @kporten for translation.

[2019-03-12 19:32] imolorhe commented on #626
@all-contributors add @disjukr  for translation.

[2019-03-12 19:41] imolorhe commented on #637
@Sparow199 I don't think so either. Collections are made to accommodate loads of queries. We even store them in indexedDb for this reason. Now imagine if I have up to 50 or 100 queries in my collections. It wouldn't make any sense to fetch all the schemas for all the queries and store them in memory when they probably wouldn't even be used.

Assume if all I want for now is just to use one query. I

[2019-03-12 22:53] mbao01 commented on #631
I would love to pick this up but I can't replicate the issue on these browsers (Firefox, Opera, Chrome). Everything seems to work fine @Sparow199 @imolorhe

[2019-03-12 23:18] imolorhe commented on #631
@mbao01 The problem happens when you have the dropdown over the query result. For that to happen, you would need to create some environments to make the dropdown long enough to get to the query result.

The same problem happens to the settings dropdown as well. The part of the dropdown over the query result isn't clickable.

[2019-03-13 09:56] mbao01 commented on #631
Awesome. I've successfully replicated the issue and have corrected the behavior. I'll open a pr

[2019-03-13 13:53] DaniloCaruso opened #646 "Add Query\Mutation Buttons inside search result"
Is it possible to add a search inside the docs section, but that mantain the "add query"/"add mutation" button?

When you have a very long list of query or mutation, with similar name it's difficult to find the right entity to use without search, but if you search , you lost the possibility to use the add ... button.

I'd like a general search that only filter the list below. A dynamically filtere

[2019-03-13 19:38] brenomeneghetti commented on #632
I think this approach is better than setting the headers on every tab. It would be perfect if we could use the env variables to set the headers but it seems good enough as you proposed.

[2019-03-13 22:11] #631 closed

[2019-03-13 22:18] imolorhe commented on #646
I'll look into this as soon as I can.

[2019-03-14 03:25] jaydenseric opened #648 "Support markdown in descriptions"
**Is your feature request related to a problem? Please describe.**
Other clients such as GraphiQL and GraphQL Playground render description markdown, which is incredibly useful for documenting code (using backticks) or linking to further documentation.

**Describe the solution you'd like**
Markdown content in field and value descriptions should render as HTML in the documentation explorer.

**Desc

[2019-03-14 03:44] polarathene opened #649 "[Wishlist]: Add Flatpak as alternative to Snaps for Linux"
Just adding a wishlist issue here for Flatpak packaging for Linux distribution. If it garners enough thumbs up from others maybe it can also be supported?

[2019-03-14 17:39] ankitjena opened #652 "Unable to pass multiline queries as initial query"
**Describe the bug**
Unable to pass multiline queries as initial query

**To Reproduce**
Integrating altair-express-middleware in apollo-server and passing a multiline string to initialQuery

**Expected behavior**
Multiline query should appear when opening the altair IDE

[2019-03-14 22:33] imolorhe commented on #652
Hmmm.. the fact that a string is multline shouldn't affect it. Do single line queries work well for you?

[2019-03-14 22:46] imolorhe commented on #626
@allcontributors Please add @kurisutofu for translation.

[2019-03-14 22:49] imolorhe commented on #626
@allcontributors[bot] Please add @Claercio for translation

[2019-03-14 22:53] imolorhe commented on #626
@allcontributors[bot] Add @janjaromirhorak for translation

[2019-03-14 22:55] imolorhe commented on #626
@allcontributors[bot] Add @pcharbon70 for translation

[2019-03-14 22:55] DaniloCaruso commented on #646
Thnx @imolorhe

[2019-03-14 22:59] imolorhe commented on #626
@allcontributors[bot] Add @juca-cruz for translation

[2019-03-15 09:33] Sparow199 opened #661 "Add search functionality in Json result"
**Is your feature request related to a problem? Please describe.**
Can't search word in Json response result.

**Describe the solution you'd like**
Develop search functionality like GraphiQL.

**Additional context**
Add CTRL+F shortcut to this feature

Thanks !

[2019-03-15 09:35] Sparow199 opened #662 "Json result syntax highlighting not work on root keys"
![json](https://user-images.githubusercontent.com/22281426/54422072-fa3d9e80-470d-11e9-936c-8f7cb22765ee.PNG)

[2019-03-15 10:00] ankitjena commented on #652
Yeah single line query work. But if I have to pass something like:
[code]
It doesn't work, and the url isn't set either when opening in the browser.

[2019-03-15 11:12] imolorhe commented on #662
@Sparow199 Can you explain?

[2019-03-15 11:16] imolorhe commented on #661
I am assuming you are using the desktop apps?

[2019-03-15 11:18] imolorhe commented on #637
@Sparow199 I'm closing this issue. Feel free to comment if you feel the issue isn't resolved.

[2019-03-15 11:18] #637 closed

[2019-03-15 11:21] #626 closed

[2019-03-15 11:23] imolorhe commented on #652
I'll look into this issue.

Can I see the code snippet of how you pass the query to Altair?

[2019-03-15 11:25] imolorhe commented on #617
The `baseURL` has been added in `v2.1.2` so you should be able to set the `baseURL` and it should work fine without needing the leading slash at the end of the URL.

Still anticipating the release of your koa package! 😊

[2019-03-15 11:34] Sparow199 commented on #661
Yes, GraphiQL override browser ctrl+f shortcut and give us a fine grained
search tool based on regex.

On Fri, Mar 15, 2019, 12:16 Samuel <notifications@github.com> wrote:

[2019-03-15 11:39] Sparow199 commented on #662
![Graph](https://user-images.githubusercontent.com/22281426/54428930-5957df00-471f-11e9-9525-d7d7ca1bac1b.PNG)

[2019-03-15 11:39] Sparow199 commented on #662
I'm using Altair Electron application.

[2019-03-15 13:37] ankitjena commented on #652
Yes sure, Like this
[code]

[2019-03-15 13:41] vecernik commented on #605
+1

[2019-03-16 01:20] imolorhe commented on #646
I'm going with the implementation of adding the button the the query details view. So after searching for a query and clicking it from the results, you can click the **Add query** button for that query, and not just its fields.

[2019-03-16 03:44] imolorhe commented on #640
Do you use this on a Windows, Mac, or Linux machine? I can't get it to work for me on my Mac.

[2019-03-16 06:12] imolorhe commented on #640
I still can't figure out how you have the ctrl+click working, but I have implemented it nonetheless. It would be available in the next version.

I also added a shortcut `Ctrl+D` for it (which I could test) that does the same thing.

[2019-03-16 07:01] #646 closed

[2019-03-16 07:01] #652 closed

[2019-03-16 07:01] #661 closed

[2019-03-16 07:01] #662 closed

[2019-03-16 07:01] #632 closed

[2019-03-16 08:21] ankitjena commented on #652
Thanks. Have you released this fix?

[2019-03-16 11:07] #628 closed

[2019-03-16 12:03] imolorhe commented on #652
Yes

[2019-03-18 08:50] simhnna commented on #640
I'm running windows. Thanks for tha change. the Ctrl+D is working. The ctrl+click isn't working on windows, because it conflicts with the "multiple cursors" feature of codemirror. It doesn't look like this can be disabled though...

[2019-03-18 09:09] DaniloCaruso commented on #530
@imolorhe maybe i can help you with some of this, but i think it's not a quick thing...

[2019-03-18 09:58] imolorhe commented on #530
@DaniloCaruso That's totally fine. I don't think it would be a quick thing either 🙂Thanks for wanting to help out!

[2019-03-18 10:00] imolorhe commented on #640
@simhnna I'm confused, how did you see the Ctrl+Click working on GraphiQL if the multiple cursors feature would have been conflicting with it? If possible, can you share a link to the GraphiQL where you were able to use the Ctrl+Click feature?

[2019-03-18 17:33] imolorhe opened #666 "Use a fork of just-the-docs for better customization of docs"
The current available customization options provided by just-the-docs is too limited for Altair's use case and there is need to use a fork to add more Altair-specific customization options.

[2019-03-19 09:32] Sparow199 opened #669 "Add sorting feature to collection section"
I think that giving basic sorting options on the collection section will be very useful.
Thanks :)

[2019-03-19 14:38] brenomeneghetti opened #670 "Global header is causing exception"
**Describe the bug**
If you set headers in the Global variables it returns an exception and breaking the Altair

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Environments'
2. Set any headers information at Global environment
3. Try to execute any query without specific header
4. See error

**Expected behavior**
The query should use the global headers from Global environment

**Scree

[2019-03-19 18:22] grrttedwards commented on #332
What is the outcome of this? It was added to a completed milestone and not implemented.

I'm moving off of Altair because of the lack of this font family configuration.

[2019-03-19 18:41] imolorhe commented on #332
@grrttedwards Shouldn't you just ask about it, or even try looking at the commit that closed this issue, rather than jumping into conclusions.

There is no reason why you should limit yourself to Altair. There are many other options to choose from.

[2019-03-19 19:14] imolorhe commented on #670
@brenomeneghetti Sorry that was because of a silly mistake on my part 😅 I've fixed it now. Would be available in the next version.

[2019-03-19 19:21] imolorhe commented on #670
Closed in c7e2a63bd443837c57f8a5e4bb1d9886aa2f7e0d

[2019-03-19 19:21] #670 closed

[2019-03-19 19:50] imolorhe commented on #669
Sorting based on what criteria?

[2019-03-19 20:15] Sparow199 commented on #669
Nice question, by alphabetical order, by add or modified date... If you
have any other suggestions, don't hesitate to let me know.
Thanks

On Tue, Mar 19, 2019, 20:50 Samuel <notifications@github.com> wrote:

[2019-03-19 22:02] simhnna commented on #640
I'm trying this [here](https://graphql.github.io/swapi-graphql/). I checked on windows and linux which both have the ctrl+click to open the docs.

The multiple cursors are not a feature of graphiql. It seems to be a feature of codemirror which is used in altair.

[2019-03-19 22:16] imolorhe commented on #640
@simhnna That does the multiple cursor for me still.

[2019-03-20 11:05] sayduck-daniel opened #674 "Subscriptions and graphql-ruby"
Graphql subscriptions not working as expected.

We are running a GraphQL API server on rails with `graphql-ruby` gem and we find difficulties to test them with altair.

Our server keeps receiving:
[code]

While the app stays stuck on: `wss://development-cable.ngrok.io/cable` and nothing happens there.

Are we doing something wrong here?

[2019-03-20 11:18] MobileAndyB opened #675 "Chrome extension - broken layout"
Since extension update yesterday (18th March 2019) the layout of the application is broken.
* The environment selector and settings menu are broken and will not open.
* It seems as if there is a duplicate set of the query and response panels open on the right

OS - Chrome OS 72.0.3626.122
Device - Pixel Slate

![Screenshot 2019-03-20 at 11 11 38 - Display 1](https://user-images.githubusercontent.c

[2019-03-20 12:21] imolorhe commented on #675
@MobileAndyB Hey,

When last did you use the Altair chrome extension?

It looks like the data is stale and broken. The logs don't seem to point to any one thing.

The easiest solution would be to clear the application data and start with a blank slate.

If you could access the settings dialog, there is an option to do that there.

If you can't access the settings dialog, you can just clear the loc

[2019-03-20 12:28] imolorhe commented on #674
Hey,

It doesn't look like anything is broken. 🤔 Altair uses the [subscriptions-transport-ws](https://www.npmjs.com/package/subscriptions-transport-ws) package to handle the subscriptions via websockets. I'm assuming `graphql-ruby` follows the same implementation. If so I think everything should work well.

[2019-03-20 12:33] MobileAndyB commented on #675
I'd been using it when the extension was updated.
I've cleared localstorage and indexedDb from dev tools and its fine now.
Lost all my collections though.

Thanks
Andy

On Wed, 20 Mar 2019 at 12:21, Samuel <notifications@github.com> wrote:

[2019-03-20 12:41] sayduck-daniel commented on #674
It seems Altair keeps calling the server once it’s upgraded.

[2019-03-20 12:48] imolorhe commented on #674
In the developer tools console are there any errors?
I'm there network tab, does it keep retrying the subscription URL?

[2019-03-20 14:10] imolorhe commented on #675
Oh sorry about that. Maybe I should have suggested only the localStorage first before the indexedDb storage. The collections is stored in the indexedDb, separate from the other data stored in the localStorage.

[2019-03-20 14:20] MobileAndyB commented on #675
Its fine, I can rebuild them

On Wed, 20 Mar 2019 at 14:10, Samuel <notifications@github.com> wrote:

[2019-03-20 17:56] elenigen opened #676 "Displaying all the settings"
**Is your feature request related to a problem? Please describe.**
It's not obvious to find the settings options from the UI, it's written "Press ctrl+space to show hint", but you have to add first manually the comma and the double quotes + position the cursor to access the menu.

[code]

**Describe the solution you'd like**

From the UI, you could display all the default values in the settings, n

[2019-03-21 10:59] sayduck-daniel commented on #674
I wasn't aware of a developer console.

Now that I checked: yes there are some errors:

<img width="673" alt="Screenshot 2019-03-21 at 12 56 45 PM" src="https://user-images.githubusercontent.com/38907720/54747942-e811a380-4bd8-11e9-8e0e-de3b05bb3702.png">

FYI: this exact subscription works in our React app. I'm not sure what is not working here. We use:
- the subscription code
- the same graphql

[2019-03-21 22:19] imolorhe commented on #676
This issue ties in with #595

[2019-03-21 22:20] #675 closed

[2019-03-22 10:28] imolorhe commented on #674
@sayduck-daniel How do you use the GraphQL subscriptions in your React app? Do you use Apollo for that? Or a different library? I'm trying to understand the subscription implementation.

[2019-03-23 09:36] imolorhe commented on #669
Which of the sorting options do you "need"? It sounds like a nice to have but not something you need at the moment.

[2019-03-23 09:53] imolorhe commented on #640
Thanks for the useful information.

[2019-03-23 10:35] #640 closed

[2019-03-23 10:35] #666 closed

[2019-03-23 10:35] #676 closed

[2019-03-23 16:11] Sparow199 commented on #669
Really, I need sorting by names asc desc, by added or modified date.

On Sat, Mar 23, 2019, 10:36 Samuel <notifications@github.com> wrote:

[2019-03-24 09:02] #669 closed

[2019-03-24 16:57] guptaavi commented on #605
@imolorhe I see this issue is closed but I can't seem to make it work in version 2.1.4 of the Chrome extension. In which app version will this feature be available? Thanks!

[2019-03-24 17:00] Sparow199 commented on #605
I think there is a problem with release process.

On Sun, Mar 24, 2019, 17:57 guptaavi <notifications@github.com> wrote:

[2019-03-24 17:55] imolorhe commented on #605
It should be available. You need to set the cursor over the parent field and press Ctrl+Shift+Enter for it to work. That's how it works for now.

[2019-03-24 17:56] imolorhe commented on #605
I'll add a gif showing how it works here later.

[2019-03-24 18:48] sayduck-daniel commented on #674
@imolorhe [graphql-ruby-client](https://graphql-ruby.org/javascript_client/apollo_subscriptions#apollo-2--actioncable)

[2019-03-24 18:53] imolorhe commented on #674
I'll try to create a simple project with that to see how it works. Although looking at the link you provided, it seems it makes use of pusherjs which I'm not familiar with and don't know if it follows the same Graphql subscription specification.

[2019-03-24 21:32] imolorhe commented on #605
![2019-03-24 10 26 33 PM](https://user-images.githubusercontent.com/4608143/54886109-79f10900-4e84-11e9-8161-85bbc8e9867c.gif)

There's a little bug caused by the code for this running outside the angular zone, which I missed (it only shows in production). I would fix that in the next version, but the bug doesn't prevent it from working. You just have to perform another event (like move the mouse,

[2019-03-24 21:49] imolorhe commented on #617
@jaydenseric Would you publish this as a package, or you would prefer if I published it myself?

[2019-03-24 23:42] guptaavi commented on #605
@imolorhe  Thank you! It does work if I perform another event (arrow key) after pressing Ctrl + Shift + Enter. This is a real time-saver! Is it by any chance possible to "recursively" expand fields in all nested types? I understand this could cause problems with cyclic dependencies but maybe this can be limited with a max depth of recursion? Thank you for this great product! Love it!

[2019-03-25 00:14] imolorhe commented on #605
@guptaavi That is a next step in the iteration. One of the concerns I have now has to do with what shortcut to use for that. Ideally you would want to have both, considering you wouldn't always want to recursively fill all fields. As for the depth level, it would use the same `addQueryDepthLimit` used for the `ADD QUERY` functionality today.

[2019-03-25 01:01] sayduck-daniel commented on #674
Look closely on the link I got you, it is compatible with pusher, ably, ActionCable and others, but the one we use is the standard ActionCable that comes with rails.

[2019-03-25 01:03] sayduck-daniel commented on #674
You should start looking from this point :

[2019-03-25 15:21] Sparow199 opened #686 "Sorting collection not work on 2.1.4"

[2019-03-25 15:23] imolorhe commented on #686
How does it not work? It sorts the collections based on the specified option. Do you get an error?

[2019-03-25 15:40] Sparow199 commented on #686
There is no GUI refreshing when I switch between different sorting options.
I got no error messages.

On Mon, Mar 25, 2019, 16:23 Samuel <notifications@github.com> wrote:

[2019-03-25 15:42] Sparow199 commented on #686
I tried to reboot Altair, same thing, there is no sorting result on GUI.

On Mon, Mar 25, 2019, 16:39 Moncef AOUDIA <mf.aoudia@gmail.com> wrote:

[2019-03-25 15:45] imolorhe commented on #686
I can't seem to reproduce the issue you are referring to.

![2019-03-25 16 44 22](https://user-images.githubusercontent.com/4608143/54933662-60e86680-4f1d-11e9-82b6-fe474bdadb74.gif)

[2019-03-25 17:59] Sparow199 commented on #686
I'm sorry 🙏, I'm talking about the sorting of queries inside of
collection, this is was feature that was requested. Thanks

On Mon, Mar 25, 2019, 16:45 Samuel <notifications@github.com> wrote:

[2019-03-26 18:03] FluorescentHallucinogen commented on #534
Here's my vision:

![Explorer](https://user-images.githubusercontent.com/7892779/55021846-83a47900-500a-11e9-8e88-5f8c3d22f9a9.png)

[2019-03-26 22:33] imolorhe commented on #534
@FluorescentHallucinogen Isn't that the design of Playground's upcoming explorer? 😏

[2019-03-27 05:24] FluorescentHallucinogen commented on #534
@imolorhe

You're partially right, this is a slightly modified by me version of Explorer tab from Playground v2 concept.

See https://github.com/OneGraph/graphiql-explorer/issues/10 for more info. :wink:

[2019-03-27 08:58] FluorescentHallucinogen opened #690 "[Autocomplete] Improve UX and Feature Discoverability"
Here's my vision:

![autocomplete](https://user-images.githubusercontent.com/7892779/55061534-0f5aeb80-5085-11e9-9837-cc01572a55f8.png)

1. Add displaying the type to the right of each field.
2. Add displaying at the bottom the description of current field.
3. Add at the top an "Insert required fields" item.
4. Add at the top an "Insert all fields" item.
5. Add displaying the hotkeys to the right

[2019-03-27 09:02] imolorhe commented on #534
Okay alright. I am still figuring out the best way to integrate GraphiQL explorer, considering it is a React project. Still researching around potentially creating a web component from it, and using that within Altair. Also trying to figure out the best way to allow addition of features like this into any instance of Altair without adding it into the main Altair app.

[2019-03-27 09:03] imolorhe commented on #534
Alternatively I would have to build it from scratch within Altair instead of using the one from OpenGraph, which isn't going to be ideal.

[2019-03-27 09:10] imolorhe commented on #690
Awesome! Neat ideas.
You should consider the themes and how this would fit into the general design. For example, I am not sure how an autocomplete with large border radii like that would look in the app.

Maybe having the design of the autocomplete within the context of the app would help, as opposed to having it as a standalone design. 🙂

PRs are welcome!

[2019-03-27 09:22] FluorescentHallucinogen commented on #605
@imolorhe

IMO, the current behavior is very unintuitive and has low [feature discoverability](https://medium.com/@Belhawary/feature-discovery-vs-feature-discoverability-3e6a1c939f56). The situation is similar to GraphiQL. Do you know that [GraphiQL has the autocomplete feature](https://twitter.com/alexey_rodionov/status/1106620753850626050) for years? How users learn about the `Ctrl+Shift+Enter`

[2019-03-27 09:30] imolorhe commented on #605
@FluorescentHallucinogen I didn't know the autocomplete feature was in GraphiQL already! 😮Nice find.

I agree that there's a lot that can be done to improve the UX for a lot of the features currently available on Altair. At the moment I've updated the docs to try to include even more information about what can be done in Altair and also started including the keyboard shortcuts in the settings dial

[2019-03-28 00:01] jaydenseric commented on #617
You've been very encouraging! It's probably best for the community though for all the different middlewares to be available side by side with `altair-express-middleware` in the main repo.

[2019-03-28 09:20] Sparow199 opened #691 "Sorting queries inside a collection"
This is the the right feature request, not sorting collection only.

[2019-03-29 11:05] sayduck-daniel commented on #674
@imolorhe any news on this issue?

[2019-03-30 00:21] imolorhe commented on #674
Unfortunately I haven't been able to set up a demo project with graphql-ruby (I don't work with ruby so it's not a very easy task). Perhaps you could help setting up the demo project and I can look at that?

[2019-03-30 00:21] imolorhe commented on #617
Alright.

[2019-03-30 00:48] #691 closed

[2019-03-30 00:48] #605 closed

[2019-03-30 13:23] VictoryShima opened #697 "Add an explanation as to why so many permissions are required for Firefox add-on"
Currently needed permissions for the Firefox Add-On are very heavy and it would be nice to add to the documentation an explanation as to why all those permissions are required.

[2019-03-30 13:44] sayduck-daniel commented on #674
Hi @imolorhe

I created a sample project with:
- Rails
- graphql-ruby
- 1 basic query
  - `hello` just to test if graphql is working
- 2 mutations
  - `createStatus` gives you a random id to subscribe to
  - `updateStatus` triggers an event on this id
- 1 subscription
  - `statusChanged` send a welcome message and then sends an event when you call `updateStatus`

Find it here https://github.com/Sa

[2019-03-30 14:09] imolorhe commented on #674
Awesome! I will take a look.

[2019-03-30 14:15] imolorhe commented on #697
[code]

These are the permissions required by Altair. I would assume they are all self explanatory.

`"http://*/", "https://*/",` for triggering the extension from anywhere.

`tab` for opening the tab for the extension.

`storage` for storing extension options.

`notifications` for push notifications.

[2019-03-30 15:36] imolorhe commented on #674
@sayduck-daniel The subscription URL `ws://localhost:3000/cable` returned 404. In the README you have it as `http://127.0.0.1:3003/cable` but subscriptions need to be websocket URLs (with the ws:// protocol).

[2019-03-30 16:05] imolorhe commented on #674
Going through the graphql-ruby docs, I can see that the GraphQL subscription implementations used by Altair and graphql-ruby are different, and are not compatible.

graphql-ruby provides a special [javascript client](https://graphql-ruby.org/javascript_client/overview) for using subscriptions on Ruby, which doesn't use the same protocol implementation for Apollo's [GraphQL subscription proposal](h

[2019-03-30 16:05] #674 closed

[2019-03-30 16:13] imolorhe commented on #674
Implementing the Apollo GraphQL subscription interface on the graphql-ruby subscription server implementation could be an alternative way to go. I'm not sure what would be required but I can imagine that it should be possible to create such an intermediary adapter which would just make all other client implementations work (including Altair).

[2019-03-30 18:54] sayduck-daniel commented on #674
Ok, thanks for trying. I opened an [issue](https://github.com/rmosolgo/graphql-ruby/issues/2210) on graphql-ruby's Github

[2019-03-30 22:43] VictoryShima commented on #697
Fair enough, I was wondering why it required the access to all websites data but seems like the permissions really require that for sending requests.

Thanks!

[2019-03-30 22:43] #697 closed

[2019-03-31 20:11] imolorhe commented on #626
@allcontributors[bot] Please add @victormihaita for translations.

[2019-03-31 20:34] victormihaita commented on #626
Thanks guys :)

[2019-04-01 09:45] Sparow199 opened #700 "Add close all tabs option"

[2019-04-01 09:48] imolorhe commented on #700
<img width="372" alt="Screen Shot 2019-04-01 at 11 47 43 AM" src="https://user-images.githubusercontent.com/4608143/55318863-05196280-5474-11e9-97cf-43ab03428766.png">

[2019-04-01 10:38] Sparow199 commented on #700
Just add close all opened tabs in this menu above.

On Mon, Apr 1, 2019, 11:48 Samuel <notifications@github.com> wrote:

[2019-04-01 10:39] imolorhe commented on #700
You can't close all the tabs. There always has to be at least one tab, which is why there is the option to **Close others**

[2019-04-01 10:47] Sparow199 commented on #700
It's just combine between close and close others in sme command. Thanks 🎉

On Mon, Apr 1, 2019, 12:37 Moncef AOUDIA <mf.aoudia@gmail.com> wrote:

[2019-04-01 10:48] Sparow199 commented on #700
Feel free to close this issue 🙏🎉

On Mon, Apr 1, 2019, 12:39 Samuel <notifications@github.com> wrote:

[2019-04-01 12:21] imolorhe commented on #700
Altair always requires that there is at least one tab open at any given time. If you have only one tab, you can't close that tab either.

[2019-04-01 12:21] #700 closed

[2019-04-01 14:18] Sparow199 opened #701 "Newest and oldest sorting in collection queries don't work"
**Describe the bug**
Updating to version 2.1.5

**To Reproduce**
Steps to reproduce the behavior:
1. Update to v2.1.5 or import a collection

**Expected behavior**
Clean sorting function

**Screenshots**
![bug](https://user-images.githubusercontent.com/22281426/55334511-b7175580-5499-11e9-8655-b2306ad2bf9c.gif)

[2019-04-02 06:54] imolorhe commented on #701
@Sparow199 Does it happen by default or it happens with some of the sort options?

[2019-04-02 07:47] Sparow199 commented on #701
I think that by default and when you choose sorting by date options. It's
also randomly disappear.

On Tue, Apr 2, 2019, 08:54 Samuel <notifications@github.com> wrote:

[2019-04-02 18:32] FluorescentHallucinogen commented on #534
Fixed some things:

![explorer-fixed](https://user-images.githubusercontent.com/7892779/55427037-d2b05800-558e-11e9-8bd1-e80e68e06d6b.png)

[2019-04-02 18:54] FluorescentHallucinogen commented on #690
@imolorhe Just found you've already implemented the 1 and 2 feature from my list. :+1:

[2019-04-02 19:09] FluorescentHallucinogen commented on #690
What about displaying the type details of current field at the bottom if the field has no description? Currently, Altair displays the "Self descriptive" for most fields (all fields that have no description).

![type-details](https://user-images.githubusercontent.com/7892779/55429348-ef02c380-5593-11e9-956d-60ecd414eda6.png)

[2019-04-03 09:26] janflyborg opened #703 "UI is completely broken in Firefox 66.0.2 for 2.1.5"
The UI is totally garbled in the latest release for Firefox. Please see the attached screenshot.
This is on macOS 10.14.4.

![Screenshot 2019-04-03 at 11 22 53](https://user-images.githubusercontent.com/12851853/55468239-3c6a4980-5603-11e9-8156-8baca4f162e4.png)

[2019-04-03 14:00] janflyborg commented on #703
The browser more or less hangs when I open the console, but I could spot an endless number of lines with this:
`ERROR TypeError: "n.gqlSchema is null`

[2019-04-03 14:09] imolorhe commented on #703
Okay. I'm guessing your previous version was 2.1.4?

[2019-04-03 14:16] janflyborg commented on #703
I guess so. The add-ons are automatically updated by Firefox, so I'm usually not really aware of which version of each extension I'm using (as long as they are working), but I was using the previous version before this happened.

[2019-04-03 14:41] imolorhe commented on #703
Any chance you got the file along with the line number and column no? The only new change between the two versions involving `gqlSchema` is https://github.com/imolorhe/altair/compare/v2.1.4...v2.1.5#diff-a228932054c67ca1f10b86334c27fb0aR265 but I haven't been able to reproduce the issue. The line no:column no would help me narrow it down better.

Note: You can easily fix it now by clearing your lo

[2019-04-03 14:45] janflyborg commented on #703
I have already downloaded the standalone version of Altair, so let's first fix this issue and then I can delete the local storage... 😀

This is the complete error:
ERROR TypeError: "n.gqlSchema is null" main.81280f8f66c4fddd066b.js:1:1100610

[2019-04-03 14:46] imolorhe commented on #703
This is another potential reason for the error: https://github.com/imolorhe/altair/blob/82e9db794c071722181e6387dbb51db826d054a6/src/app/components/doc-viewer/doc-viewer/doc-viewer.component.html#L44

[2019-04-03 15:19] imolorhe commented on #703
Unfortunately even the line number didn't help to find the exact error. I would add extra checks in the code as a measure to potentially fix this.

[2019-04-04 07:34] janflyborg commented on #703
So I guess I can clean my local storage now and we'll wait for it to happen again when you have the extra checks put into place?

[2019-04-04 07:40] janflyborg commented on #703
So I guess I can clean my local storage now and we'll wait for it to happen again when you have the extra checks put into place?

[2019-04-04 07:42] janflyborg commented on #703
Just FYI just started my Ubuntu at work computer which now runs the latest version of Altair without any problems (also on the latest Firefox). The only difference (apart from my home machine being a Mac) is that I have not messed with the look and feel at this instance.

[2019-04-04 19:38] imolorhe commented on #703
Yes you can. The issue is related to potentially corrupted data in the storage, so it wouldn't affect most instances neither would it affect new instances.

[2019-04-04 20:31] janflyborg commented on #703
OK. Thanks for the help so far.

[2019-04-04 20:42] lwasyl opened #705 "Allow importing gql schema from local file"
Server I use has introspection disabled, but I still have `schema.gql` and `schema.json` files provided. It would be great to be able to import the schema from file and have it autocomplete queries

[2019-04-04 23:03] tmtrademarked commented on #703
I'm seeing something similar in Chrome using the Chrome extension, FWIW. I'm using Altair 2.1.5 in Chrome 73.0.3683.86 on Mac, and I get the weird gibbrish I see below. I was able to use this a few days ago, so I wonder if somehow 2.1.5 created a bad state in certain circumstances? I'll hold off clearing local storage for right now in case this is useful to help debug.

![Screen Shot 2019-04-04 at

[2019-04-04 23:04] tmtrademarked commented on #703
With debug mode on, it tells me I was using 2.1.3 previously.

[2019-04-05 08:46] imolorhe commented on #703
Is it possible that you have a specific schema from your graphQL server that makes Altair to break?

[2019-04-05 10:59] j-h-a opened #707 "Send request not working in Mojave"
**Describe the bug**

Updated Mac OSX to Mojave 10.14.4 and the client now cannot send requests using the send request button. Initially spotted with 2.1.3, re-installed with `brew` and got 2.1.5, which has the same problem.

* The documentation can be refreshed and I can see the query coming in the server logs.
* Generating a cURL query from the client and running that in terminal works just fine

[2019-04-05 12:42] imolorhe commented on #707
Is there any errors in the console?

[2019-04-05 12:44] tmtrademarked commented on #703
Certainly possible - but the same schema worked in the browser extension a few days ago, and also works in the stand alone desktop app, which makes me think that's unlikely. :-/

[2019-04-05 14:00] j-h-a commented on #707
I wasn't aware that it had a console - although I did look for one when nothing happened, I was trying to see if there was any error messages. How do I open it?

[2019-04-05 14:02] imolorhe commented on #707
`Cmd+Opt+I`. It is also likely that your issue would be fixed if you created a new window (or duplicated the current window [by right clicking the window tab and clicking Duplicate]).

[2019-04-05 14:44] j-h-a commented on #707
I've managed to find/fix it. The window was the problem. There were "invalid window id provided" messages in the log. Creating a new window alone didn't fix it - the mere existence of the first window that somehow had a corrupted/invalid id also caused the second window to not work. But killing the first window entirely and now it works.

[2019-04-05 15:45] imolorhe commented on #707
Alright then.

[2019-04-05 15:45] #707 closed

[2019-04-06 00:39] #617 closed

[2019-04-06 00:39] #690 closed

[2019-04-06 00:39] #703 closed

[2019-04-06 09:33] #705 closed

[2019-04-07 19:19] imolorhe commented on #703
v2.1.6 has been published.

[2019-04-08 00:22] jaydenseric commented on #617
Thanks for releasing the Koa middleware, I'll give it a go now :)

It would be nice to mention the koa middleware in the readme, next to the Express content:

https://github.com/imolorhe/altair#usage-with-express

[2019-04-08 06:21] imolorhe commented on #617
Yeah, good point.

[2019-04-08 09:18] joseluisq opened #714 "Query panel scroll blocked after resize panels"
**Describe the bug**
It can not scroll up or down the query panel after resize other panels. Additionally scrollbar is sticked when I use mouse wheel. The same problem was replicated to other tabs.

**To Reproduce**
Steps to reproduce the behavior:

Resize panels as capture.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Captures**

![Kapture 2019-04-08 a

[2019-04-08 09:26] joseluisq commented on #714
I'm using a Mac Magic mouse  don't know if that cause the problem. I guess your scrollbar is a customized scrollbar.

[2019-04-08 09:34] Sparow199 commented on #701
@imolorhe , the bug is still there with v2.1.6

[2019-04-08 09:36] joseluisq opened #715 "Disable resizing animation"
**Describe the bug**
Please disable resizing animation because it has a significant delay when it resizes panels quickly causing an annoying experience.

**To Reproduce**
Just try to resize the current panel.

**Expected behavior**
A plain resizing functionality should be enough.

**Altair**
- Version 2.1.5 (2.1.5.3570)

**Desktop (please complete the following information):**
 - OS: Macos 10.14.4

[2019-04-08 09:46] joseluisq opened #716 "Add retina logo for Mac"
**Describe the bug**
Add a retina logo for Mac.

**To Reproduce**
Steps to reproduce the behavior:
1. `Cmd + Tab`

**Expected behavior**
Retina logo for Mac.

**Screenshots**
<img width="652" alt="Screenshot 2019-04-08 at 11 42 56" src="https://user-images.githubusercontent.com/1700322/55714760-86807000-59f3-11e9-83c9-60de8c541fdf.png">

**Altair**
- Version 2.1.5 (2.1.5.3570)

**Desktop (please c

[2019-04-08 11:40] imolorhe commented on #714
@joseluisq Those are not scrollbars 😄 Those are the resize controls.

[2019-04-08 11:44] imolorhe commented on #701
@Sparow199 I can't reproduce the issue though. You mentioned it happens when you add a query to a collection?

[2019-04-08 11:53] Sparow199 commented on #701
I restarted Altair and the bug happen, it's random behavior. I tried with different machines, same result as in the GIF above.

[2019-04-08 12:14] Sparow199 commented on #701
@imolorhe , i think that i have an idea. My collection is old, the queries doesn't contain any sorting data (create_at, updated_at).

[2019-04-08 12:15] imolorhe commented on #701
Yeah but with the fallback of sorting with the window name it should be fine right? Are you saying the other sorting options (A-Z and Z-A) are working fine?

[2019-04-08 12:15] Sparow199 commented on #701
(A-Z and Z-A) are working fine. But when i restart, i got the same issue which is quiet strange

[2019-04-08 12:18] Sparow199 commented on #701
When i restart and open the collection tab, the issue happens  again and gain.

[2019-04-08 12:26] imolorhe commented on #701
That would be because the default sorting is the newest. I'd look into it again then.

[2019-04-08 12:27] joseluisq commented on #714
Sorry 😄 I understand but why can't I click on scrollbar behind?

[2019-04-08 12:27] Sparow199 commented on #701
I recreated all the queries, some there is no timestamps collision now. But i got exactly the same behavior as the above GIF.

[2019-04-08 12:29] Sparow199 commented on #701
Newest && Oldest sorting don't work, this is the real problem and i'm agree that at collection tab opening, it seems that Newest or Oldest is the default sorting.

[2019-04-08 12:29] imolorhe commented on #714
The scrollbar appears beside. Not behind.
<img width="252" alt="Screen Shot 2019-04-08 at 2 29 18 PM" src="https://user-images.githubusercontent.com/4608143/55724003-c4d55980-5a0a-11e9-9e3c-25679c4d80f9.png">

[2019-04-08 12:32] joseluisq commented on #714
I'm a bit confused
![image](https://user-images.githubusercontent.com/1700322/55724167-20074c00-5a0b-11e9-9264-aeba8f19ab64.png)

[2019-04-08 12:36] imolorhe commented on #714
What is confusing?

[2019-04-08 12:38] joseluisq commented on #714
The resize control looks like a scrollbar sorry.

[2019-04-08 12:40] imolorhe commented on #714
Yeah I can consider updating the resize control style to look different.

[2019-04-08 12:41] joseluisq commented on #714
Good, another point How can I show the scrollbar aside the resize control same like your screenshot above?

[2019-04-08 12:45] imolorhe commented on #714
That's easy! Just have a query that is so long, a scrollbar would have to show 😄

[2019-04-08 12:51] joseluisq commented on #714
It's strange, when I scroll in Mac (Chrome) then automatically the scrollbar appears but in your app sometimes appears but I can't catch up it by click on. It's something like the resize control is over the scrollbar.

[2019-04-08 12:52] joseluisq commented on #714
Probably both are so close to each other.

[2019-04-08 13:33] imolorhe commented on #714
I don't know about that but I think that Chrome has recently updated the scrollbar and it always shows. At least that's the case for me. It doesn't disappear anymore. Also if you're using a mouse with a wheel like the magic mouse, you wouldn't have any issues scrolling with the mouse as opposed to using the scrollbar.

[2019-04-08 13:51] joseluisq commented on #714
Yeah, the problem is not scrolling the problem is the scrollbar which is not visible along the navigation. But anyway consider to update the resize control.

[2019-04-08 19:00] j-h-a commented on #707
Is there an issue to track this, to mark this as a duplicate of? Seems like there's an issue there under the hood somewhere - if window ids can somehow become invalid. When detected, an explicit error/warning would also be useful.

[2019-04-09 05:43] imolorhe commented on #707
The invalid window id warning is not a really an issue. I'll take out that from the logs so it's not confusing. Something else must have been the problem.

[2019-04-10 18:54] FluorescentHallucinogen commented on #690
The only thing that is not clear from my image: the "Insert all fields" and "Insert required fields" items are clickable, aren't just static tips. My bad. :(

@imolorhe Thank you very much for all your work on implementing my ideas!

It seems I can implement the "Insert (only) required fields" feature myself (at first glance it looks not at all difficult) as soon as I have some free time. :wink:

[2019-04-10 19:49] FluorescentHallucinogen commented on #534
@imolorhe I've improved some things. See explanations in https://github.com/OneGraph/graphiql-explorer/issues/10#issuecomment-481835887. :wink:

![explorer-improved](https://user-images.githubusercontent.com/7892779/55908719-d6715980-5be2-11e9-98ef-ed68b76939f8.png)

[2019-04-11 04:17] azcham opened #718 "The latest chrome extension upgrade crashes after every few minutes"
**Describe the bug**
The latest chrome extension upgrade crashes after every few minutes. The CPU runs 90%+

**To Reproduce**
Steps to reproduce the behavior:
1. I have 20+ saved queries across 7 collections
2. When I run a query or change a value, the extension hangs, crashes and CPU runs 80%+

**Expected behavior**
Not crash and not hang

**Screenshots**
If applicable, add screenshots to help ex

[2019-04-11 19:48] mythmon opened #719 "When sending GET requests, Altair includes an empty body and content-type: application/json, which breaks some servers"
**Describe the bug**
When sending GET requests, Altair includes an empty body and the header `Content-Type: application/json`, which breaks some servers, including [graphene-django](https://pypi.org/project/graphene-django/). This is because the empty string is not valid JSON.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Altair
2. Set the method to GET
2. Set the server to a server t

[2019-04-12 18:52] imolorhe commented on #719
Thanks for reporting this! I'd look into it as soon as I can.

[2019-04-12 18:54] imolorhe commented on #718
Hello, is there any error in the console before the crash?

Set `__DEBUG_MODE__` to true in the console and add the information logged here.

[2019-04-15 02:32] greenkeeper[bot] opened #722 "An in-range update of ts-node is breaking the build 🚨"
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.0.3` to `8.1.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fts-node-8.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-node is a devDependency of this project. It **mig

[2019-04-15 03:42] limwcj commented on #701
I have encountered this problem now, how can I solve it, which makes me unable to use it?

[2019-04-15 08:06] soulchainer opened #723 "Add (some) REST support"
**Is your feature request related to a problem? Please describe.**

I need to work in projects where both, REST and GraphQL queries needs to be done.
Usually, at the moment, REST is only needed (in my use case) for getting an Authentication token, but there are other projects/use cases where we need to work with both, REST and GraphQL API.

I guess this is a common use case (Insomnia exists just b

[2019-04-15 22:46] greenkeeper[bot] opened #724 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `4.0.1` to `4.1.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fkarma-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It **might not

[2019-04-16 04:34] greenkeeper[bot] opened #725 "An in-range update of @webcomponents/custom-elements is breaking the build 🚨"
## The dependency [@webcomponents/custom-elements](https://github.com/webcomponents/custom-elements) was updated from `1.2.2` to `1.2.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40webcomponents%2Fcustom-elements-1.2.3).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-04-17 01:28] greenkeeper[bot] opened #727 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.13.2` to `3.13.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Flerna-3.13.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **might not bre

[2019-04-17 22:37] esambo opened #728 "Type description of nested field"
### Type description of a nested field doesn't get set and shows the parent description
The introspective GraphQL _Docs_ for a _Type_ of a nested _Field_ doesn't get set and shows the previous/parent's _description_ instead

#### To Reproduce
Given a query `getFoo` that returns a type `Foo` that has a description, and a nested field `bar` that doesn't have a description.

##### Schema
[code]

####

[2019-04-17 22:43] greenkeeper[bot] opened #729 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `11.13.4` to `11.13.5`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-11.13.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devD

[2019-04-18 05:01] greenkeeper[bot] opened #730 "An in-range update of mime-types is breaking the build 🚨"
## The devDependency [mime-types](https://github.com/jshttp/mime-types) was updated from `2.1.22` to `2.1.23`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fmime-types-2.1.23).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mime-types is a devDependency of this projec

[2019-04-19 14:54] #722 closed

[2019-04-19 14:54] #724 closed

[2019-04-19 14:54] #725 closed

[2019-04-19 14:54] #727 closed

[2019-04-19 14:54] #729 closed

[2019-04-19 14:54] #730 closed

[2019-04-22 21:10] luciannojunior opened #735 "UI broken after first time of use"
**Describe the bug**
I've opened Altair for the second time in my Chrome, and I can see that my last request is saved, but the rest of the UI is broken, with missing labels, like this:

![image](https://user-images.githubusercontent.com/18706156/56531003-ad798e80-6529-11e9-926f-faff17d9372a.png)

I've also noticed some strange console errors:
![image](https://user-images.githubusercontent.com/1870

[2019-04-23 04:38] #735 closed

[2019-04-23 04:39] imolorhe commented on #735
@luciannojunior Thanks for reporting this. You can clear the Altair data from your localStorage for now to use Altair again, until the fix is released.

[2019-04-23 04:51] imolorhe commented on #728
Hey @esambo Thanks for reporting. This would be fixed in the next release.

[2019-04-23 04:53] #728 closed

[2019-04-23 04:59] imolorhe commented on #723
Hey @soulchainer

I'm sorry but that is out of scope of Altair. There are plans to add some kind of scripting at some point, which you could potentially use to send requests, or compute values to be used within your application. However those are meant to make the requests more "dynamic". That would help in your case since you should potentially be able to get the authentication token and set it i

[2019-04-23 04:59] #723 closed

[2019-04-23 05:00] imolorhe commented on #719
Closed in 8fd75de2e0b986c84e96fd759d59423cbe157219

[2019-04-23 05:00] #719 closed

[2019-04-23 05:01] imolorhe commented on #714
Closed in c48be84b13ad33c6d362f6cc531201ade2d4a8df

[2019-04-23 05:01] #714 closed

[2019-04-23 05:01] imolorhe commented on #715
Closed in 34759a71c940f3eaad75896cfe57f5173d7b66e3

[2019-04-23 05:01] #715 closed

[2019-04-23 05:02] imolorhe commented on #701
Closed in a4eb7954d9e59b8eb380e25f57e2eafc36093530

[2019-04-23 05:02] #701 closed

[2019-04-23 05:03] imolorhe commented on #718
I'd be closing this issue soon if no further information is provided.

[2019-04-23 05:14] #716 closed

[2019-04-23 06:15] joseluisq commented on #714
👍

[2019-04-23 06:16] joseluisq commented on #715
👍

[2019-04-23 06:16] joseluisq commented on #716
👍

[2019-04-24 11:04] MrEfrem opened #740 "GraphQL schema doesn't load automatically"
**Describe the bug**
I use `altair-express-middleware`. To see a graphql schema I should click to link `Docs` and then click on refresh-arrow. Really here should be more clear way to get schema (I assumed that request to schema will be executed when I will click on `Docs` link).
After how schema was showed in UI I closed that webpage and reopened it again. Then I have saw this error message:
[code

[2019-04-24 12:27] Badyl1g opened #741 "tabSize not working"
**Describe the bug**
When I change the tabSize in settings it doesn't affect anything, the value is saved in settings, but clicking on "prettify" still uses default tabSize. The problem also occurs in Altair chrome extension.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Settings
2. Change  "tabSize" to any number
3. Click "Save"
4. Try to prettify the query

**Expected behavior**
Upd

[2019-04-24 19:25] shanebo opened #742 "URL input visual shadow bug"
**Describe the bug**
There is a huge box shadow on the url input.

**To Reproduce**
To reproduce, visit Altair on my machine 😀.

**Expected behavior**
I am expecting it to not be there.

**Screenshots**
- Light theme: https://cl.ly/7def93aaa298
- Dark theme: https://cl.ly/563b326b5d1f

**Desktop (please complete the following information):**
 - OS: macOS Mojave 10.14
 - Browser: Safari 12.0

**Add

[2019-04-24 19:48] imolorhe commented on #742
😄 Looks like the issue is peculiar to you then. Have you tried using other browsers? Chrome perhaps? Or Firefox? You could install the extensions which have better support as well, but there is no extension for Safari.

[2019-04-24 19:50] imolorhe commented on #741
Hey @Badyl1g thanks for reporting this issue.

The tab size currently doesn't affect the prettify functionality. I should be able to add that.

[2019-04-24 19:50] shanebo commented on #742
@imolorhe, yes I took a look in chrome and firefox and it doesn't have this issue. What's weird though is my colleague has the same OS/browser as me and he doesn't have this problem in Safari.

[2019-04-24 19:51] imolorhe commented on #742
Yeah I tried it in my Safari as well and I don't see the issue. Maybe you have a setting that is affecting it in a certain way?

[2019-04-24 19:53] shanebo commented on #742
@imolorhe, this is the class that's causing it:

[code]

Which is on the `<app-fancy-input>` element.

[2019-04-24 19:56] imolorhe commented on #742
@shanebo Yeah I know the styles applied on the URL box. My point is, if it works for everyone else, there is a setting on your browser that might be causing it to behave differently for you.

[2019-04-24 20:00] imolorhe commented on #742
It looks like the opacity of the box shadow is `1`, instead of `.05` in your browser. The question is why.

[2019-04-25 00:50] shanebo commented on #742
@imolorhe yes you're right. But I have no idea why.

[2019-04-25 05:31] Badyl1g commented on #741
I think it also should affect the response to make it more readable

[2019-04-27 06:18] FluorescentHallucinogen opened #745 "Refactor/transform queries features"
It would be nice to have the following query refactoring features:

* extract selected query fields to fragment
* extract selected query fields to variable

[2019-04-27 06:49] FluorescentHallucinogen opened #746 "Integrate GraphQL Birdseye"
It would be nice to integrate GraphQL Birdseye (https://birdseye.novvum.io, https://github.com/Novvum/graphql-birdseye) into Altair to represent (visualize) GraphQL API as an interactive graph.

Read more about GraphQL Birdseye here: https://www.novvum.io/post/introducing-graphql-birdseye.

GraphQL Birdseye is available as a React component, but @rohit-ravikoti [have separated](https://twitter.com

[2019-04-27 08:33] imolorhe commented on #745
Hey,

This would need more details. What is the use case? How would you propose the feature works?

[2019-04-27 08:34] imolorhe commented on #742
Maybe see if there's an update for Safari, if that would fix the dropshadow.

[2019-04-27 08:35] #718 closed

[2019-04-27 09:00] #740 closed

[2019-04-27 15:51] shanebo commented on #742
@imolorhe I'll make sure everything is up to date and let you know if that resolves it.

[2019-04-28 13:25] FluorescentHallucinogen commented on #745
I'm working on a very complex API that has large number of types and large number of fields in each type. (BTW, that's why I opened #690.) The API is automatically generated. Currently I'm working on refactoring queries in my app, and I do the same actions over and over again by hand.

1. The "Extract selected fields to fragment" works as follows:

Suppose there is the following query:

[code]

Th

[2019-04-28 13:46] FluorescentHallucinogen commented on #745
Why I extract fields to fragments?

In my real case, the queries are a bit more complicated, and the fragments are reusable:

[code]

[code]

Why I extract input fields to variables?

Because I need to not just change the values in the input, but dynamically change the shape of the query input using nested logical combinators `OR`, `AND` and `NOT` (generate the input using JS depending on what the

[2019-04-29 18:41] godly-devotion opened #747 "[macOS] App icon is not showing"
After updating Altair GraphQL Client for macOS to the latest version (2.1.7), the app icon shows the generic app icon instead of the logo. It looks like the icns file was recently updated in a commit which seems to be related to the issue.

![image](https://user-images.githubusercontent.com/1341760/56918692-b835a580-6a8c-11e9-9a98-9570ec7b88a0.png)

[2019-04-30 08:40] imolorhe commented on #747
Hey @godly-devotion, thanks for reporting this. I used an online tool to create the icns file, guessing it wasn't the best way to create the file. I would try to fix this or revert back to the previous icns file if I can't figure this out.

[2019-04-30 17:41] shanebo commented on #742
@imolorhe I updated OS X and it's now fixed. Weird.

[2019-04-30 17:41] #742 closed

[2019-05-04 07:42] FluorescentHallucinogen opened #750 "Integrate Code Exporter"
NPM package: https://www.npmjs.com/package/graphiql-code-exporter

Source code: https://github.com/OneGraph/graphiql-code-exporter

Example usage: https://github.com/OneGraph/graphiql-code-exporter-example

Running example: https://onegraph.github.io/graphiql-code-exporter-example

The motivation and thought process behind it: https://www.onegraph.com/blog/2019/05/03_Filling_in_the_GraphQL_Pipelin

[2019-05-04 19:18] amadeous opened #751 "Sign Firefox Add-on"
My Firefox recently upgraded and your extension got disabled.

Their docs recommend to ask add-on maintainers to sign their extension.

Could you please consider it ? Thanks a lot for your marvelous add-on !
https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox

[2019-05-04 19:45] imolorhe commented on #751
Thanks for reporting! 🙂

[2019-05-04 19:53] imolorhe commented on #751
@amadeous It turns out there was an issue yesterday, and the Firefox team are working on a fix for it already.

The altair firefox addon is properly signed according to the Mozilla addons guidelines and should work as expected once the underlying issue is fixed. 🙂

Again thanks for reporting! I'll keep this issue open. Feel free to close it once Firefox fixes the issue.

You can read more on the i

[2019-05-04 19:56] amadeous commented on #751
Thanks for the information and sorry for the useless issue.. :)

[2019-05-06 18:08] FluorescentHallucinogen opened #753 "[Idea] Hotkeys for dynamic depth fields autocompletion"
Currently, fields autocompletion works using `Ctrl+Shift+Enter` hotkey and `"addQueryDepthLimit"` option.

(BTW, I strongly believe that default value for `"addQueryDepthLimit"` option should be changed from 3 to 1.)

What about using `Ctrl+Shift+Enter+1`, `Ctrl+Shift+Enter+2`, `Ctrl+Shift+Enter+3`, etc. (or just `Ctrl+Shift+1`, `Ctrl+Shift+2`, `Ctrl+Shift+3`, etc.) for autocompletion with dynamic

[2019-05-07 13:18] #595 closed

[2019-05-07 14:28] nikola-kolosek opened #757 "Use the same Headers for all tabs using the same URL"
I don't like having to set the auth header manually every time I open a new tab

When I open a new tab, It should copy the headers from the previous tab, in the similar way it copies the URL.
Graphiql client has this feature.

[2019-05-07 16:52] imolorhe commented on #757
You can set the headers in the environments as shown in the screenshot below, and it would be used when the environment is active. You can also set the header in the **Global environment** and it would be used in all the tabs as well.

<img width="1085" alt="Screenshot 2019-05-07 at 6 50 29 PM" src="https://user-images.githubusercontent.com/4608143/57317718-113eb280-70f9-11e9-8e9d-fd589261b58a.png

[2019-05-08 17:48] #757 closed

[2019-05-09 08:31] #751 closed

[2019-05-10 00:54] #747 closed

[2019-05-10 09:01] nilsd commented on #315
I'm having the same problem. It's fine again after clearing local storage but the problem seems to come back after a few minutes and/or requests.

Chrome v74.0.3729.131
Altair v2.1.7

[2019-05-10 09:02] imolorhe commented on #315
@nilsd Do you see any errors in the console that can help me find the issue?

[2019-05-10 09:04] nilsd commented on #315
@imolorhe This is the error i get when clicking Send Request:

[code]

[2019-05-10 09:06] nilsd commented on #315
@imolorhe Also, the request is never sent so this is pre-network stuff. Thanks!

[2019-05-10 09:07] imolorhe commented on #315
@nilsd Yeah there's an unchecked `string.trim()` being used somewhere. Just need to pin point it. Thanks.

[2019-05-10 09:08] nilsd commented on #315
@imolorhe Wonderful, thanks!

[2019-05-10 09:11] imolorhe commented on #315
Looks like this is the culprit: https://github.com/imolorhe/altair/blob/8f7de63fed3a906cec031eabf06ea0cf35a80d92/src/app/effects/query.ts#L45

[2019-05-10 09:13] nilsd commented on #315
Nice! Is there any chance a fix could be released today? Thanks!

[2019-05-10 09:15] imolorhe commented on #315
@nilsd Unfortunately not. A release could be done over the weekend. Do you perform any action before sending the request that might cause the query to be undefined? 🤔

Just wondering because ideally there shouldn't be a case where the query is not a string.

[2019-05-10 09:16] imolorhe commented on #315
Also try setting the `__DEBUG_MODE__` to true in your console and try sending the request again. Then send me the logs you see in the console. That might help as well.

[2019-05-10 09:16] nilsd commented on #315
@imolorhe Ok no problem!

No I simply reload the page and click Send Request.

[2019-05-10 09:20] nilsd commented on #315
I don't know if this helps but this is what I see in the console when reloading the page:

<img width="736" alt="Screenshot 2019-05-10 at 11 18 59" src="https://user-images.githubusercontent.com/593315/57516739-956d8180-7315-11e9-98d1-6270811b723b.png">

[2019-05-10 09:22] imolorhe commented on #315
@nilsd Those should be non-breaking errors. These are known.

After reloading the page, set `__DEBUG_MODE__ = true` in your console, then try sending the request again. Then send the screenshot of the logs.

[2019-05-10 09:23] nilsd commented on #315
With `__DEBUG_MODE__ = true`:

<img width="402" alt="Screenshot 2019-05-10 at 11 22 41" src="https://user-images.githubusercontent.com/593315/57516916-f8f7af00-7315-11e9-822a-aad1b0b4bf13.png">

[2019-05-10 09:23] imolorhe commented on #315
Oh, it's the same thing. No other logs?

[2019-05-10 09:24] nilsd commented on #315
No other logs. It seems that the problem only occurs when loading the extension with pre-filled queries. When adding a new window and typing a query it seems to work ok, but when reloading the extension the new query produces the error.

[2019-05-10 09:26] nilsd commented on #315
So I guess there is something weird going on when the queries are loaded from local storage?

[2019-05-10 09:27] imolorhe commented on #315
How many windows do you have open? You should be able to check `data.query.query` in the logged object after setting the debug mode, and see if the value is a string or `undefined`.

**PS: To enable debug mode, you should use `__ENABLE_DEBUG_MODE__ = true`. My bad 😅

Yes it might have something to do with the local storage but need to confirm since I can't reproduce it myself.

[2019-05-10 09:38] nilsd commented on #315
Oh sorry =) I have 1 window. Here is the debug log:

<img width="1206" alt="Screenshot 2019-05-10 at 11 37 29" src="https://user-images.githubusercontent.com/593315/57517866-0ca41500-7318-11e9-8fa4-6b0d8368aa57.png">

query.query seems ok right?

[2019-05-10 09:38] #519 closed

[2019-05-10 09:40] imolorhe commented on #315
Yeah it does seem okay. Needs further debugging then. Thanks.

[2019-05-10 09:40] nilsd commented on #315
@imolorhe NP!

[2019-05-10 09:44] imolorhe commented on #315
Can you also check `data.history.list`?

[2019-05-10 09:44] nilsd commented on #315
<img width="250" alt="Screenshot 2019-05-10 at 11 44 38" src="https://user-images.githubusercontent.com/593315/57518303-04000e80-7319-11e9-8cf0-90132217e352.png">

[2019-05-10 09:45] imolorhe commented on #315
Aha! 😄

[2019-05-10 09:45] imolorhe commented on #315
https://github.com/imolorhe/altair/blob/8f7de63fed3a906cec031eabf06ea0cf35a80d92/src/app/effects/query.ts#L70

[2019-05-10 09:46] imolorhe commented on #315
@nilsd Would you like to be a contributor to Altair? This is your chance! 😄 Easy PR.

[2019-05-10 09:48] nilsd commented on #315
@imolorhe Haha, that depends! Should the null query be filtered out or should not be null in the first place?

[2019-05-10 09:52] nilsd commented on #315
@imolorhe I'll get back to you with a PR in a few hours

[2019-05-10 09:57] imolorhe commented on #315
Should not be null in the first place. So the problem seems to come from where the history item is set in the first place.

https://github.com/imolorhe/altair/blob/8f7de63fed3a906cec031eabf06ea0cf35a80d92/src/app/effects/query.ts#L71

[2019-05-10 10:06] nilsd commented on #315
It's weird becase `query` can never be null when reaching that line

[2019-05-10 10:06] imolorhe commented on #315
Yeah I noticed that too. I guess it wouldn't be an easy PR afterall.

[2019-05-10 10:07] nilsd commented on #315
Challenge accepted

[2019-05-10 18:47] derikson opened #761 "Snap Store version is outdated"
The package in the Snap Store is version 2.0.8, which is several months old. It looks like the deployment part of your Travis build may be broken.

[2019-05-11 17:45] imolorhe commented on #761
Hey @derikson,

Yes you are right. I believe the snap provider had an issue sometime ago. I would check during the next  release if the updated token fixes the issue.

[2019-05-11 17:56] imolorhe commented on #649
Hey @polarathene,

I am not aware of any standard way of deploying flatpak packages from CI (but there is a travis snap provider for publishing snaps). If you can show a way to publish electron builds as flatpak through a CI job, then I would be more than happy to make your wish come true. 😊

[2019-05-12 03:01] polarathene commented on #649
Yeah I understand. I have setup my own electron app with CI since and supporting snap is no problem, but flatpak wasn't supported by electron-builder.

[2019-05-12 15:50] derikson commented on #761
@imolorhe going back through the build history in Travis CI, I think the tagged versions fail on deploy with an error from Lerna that there are uncommitted changes in the working tree. See, for example, https://travis-ci.org/imolorhe/altair/jobs/523324317#L1850

[2019-05-12 16:00] imolorhe commented on #761
@derikson Yeah but if you go further down through the history 😄 snap already had an issue before the lerna issue. I was hoping the snap provider issue would be fixed sometime (plus I didn't really have time to look into it) but the last actual failure seems to be an authentication issue (which could have been as a result of them fixing the issue), so I have now updated the authentication token and

[2019-05-12 16:02] derikson commented on #761
@imolorhe I see. Thanks.

[2019-05-12 16:07] imolorhe commented on #315
@nilsd Any progress on this? I would be making a new release soon and want to have this bug fixed in the new release.

[2019-05-12 17:11] nilsd commented on #315
@imolorhe I'm afraid not, haven't had much time this weekend. I guess you have a better chance of figuring it out anyway :P Sorry for not getting back to you

[2019-05-12 19:52] imolorhe commented on #315
Sure no problem.

[2019-05-13 06:13] #315 closed

[2019-05-13 06:13] #741 closed

[2019-05-13 19:17] #761 closed

[2019-05-14 08:49] #610 closed

[2019-05-15 10:30] defiler commented on #549
There is Graphql python library "Graphene" which is commonly used with Django.
And Django has CSRF protection which totally needs a "csrftoken" cookie alongside with "X-CSRFToken" header.
So Altair cannot be used with csrf-protected graphene-django system at all.

[2019-05-17 09:44] imolorhe commented on #549
@defiler Setting the cookie when making the request still wouldn't help you in the django scenario. New CSRF tokens are generated for each request, so using one CSRF token would only work for one request, which in itself is not feasible. The ideal way would be to have the CSRF protection disabled for your development server **(as well as enabling all the GraphQL introspection, which you shouldn't

[2019-05-17 13:32] mxmlnglt opened #768 "Unexpected HTTP header 'Origin: electron://altair' sent by default"
**Describe the bug**
Altair sends the HTTP header `Origin` with value `electron://altair` which leads to an unwanted 403 error with "Invalid CORS request" from an local server-backed API.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a GraphQL server locally on `http://localhost:8080/graphql` with a CORS policy set to restrict request's origins to e.g. `http://localhost:8080`
2. Reques

[2019-05-18 19:11] imolorhe commented on #768
Hey @mxmlnglt, if you use a CORS protected API with the app, it would complain about **any** origin that isn't in the list of allowed origins by the set CORS policy (not even a localhost origin with a different port). The workaround you applied is the intended way to send requests to your server when it has CORS enabled on it, that workaround was intentionally implemented for this case.

[2019-05-18 19:21] #768 closed

[2019-05-20 09:41] aeb-sia opened #770 "Two clicks needed to open the documentation"
**Describe the bug**
Ctrl clicking anywhere in the query to jump to the relevant part in the documentation always takes two clicks.

It appears as if it is always one click behind. if you instead of clicking on an entry twice click on two different entries once each, you will jump to the first entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Connec to a graphql endpoint
2. ctrl click o

[2019-05-20 09:47] bruno-garces opened #771 "Add a possibility to export the environment settings to the collection file"
With the ability to define environment variables would be neat to have a way to export them to the collection files.

[2019-05-20 15:32] fabis94 opened #772 "Docs loading forever"
**Describe the bug**
The docs section is stuck loading forever. There are no errors and no other ways to debug this or find out why. Actual queries run and execute fine, so the auth headers and URL are set correctly.

**To Reproduce**
I can't provide access to this specific API, but it would be great if the docs section would tell you why it can't load the data instead of loading forever.

**Expec

[2019-05-20 21:49] imolorhe commented on #771
Hey @bruno-garces,

Thanks for your suggestion. One of the first concerns I would have with exporting environment variables is the sensitive nature of the data stored there.

[2019-05-20 21:51] imolorhe commented on #772
Hey @fabis94,

Thanks for the issue. I would look into this. One of the other ways to see the error that might be causing this is to open the Developer Tools in the app (`Cmd+Opt+I`) like you would in the browser and see the errors in the console.

[2019-05-20 21:57] imolorhe commented on #770
Hey @aeb-sia, thanks for reporting this. I think I have an idea why this is happening. I'd look into this as soon as I can.

[2019-05-21 07:32] fabis94 commented on #772
@imolorhe Doesn't say anything except a few "Invalid window ID provided" warnings

[2019-05-21 09:19] imolorhe commented on #772
Not even in the network tab?

[2019-05-21 11:40] fabis94 commented on #772
Also noticed that "Reload docs" sometimes doesn't do anything at all. When I duplicate a tab (from a tab that already has docs loaded), the new tab has empty docs and clicking Reload does nothing, I don't think it even launches a network request.

As for the original issue, it started working so I can't test it out anymore. It seems to work/not work at  random.

[2019-05-21 13:58] defiler commented on #549
Well, django does not generate new token for each request. Also the lifetime for csrf-token cookie is set to one year by default.
There are some strategies in development process which dictate for dev-server to be as much similar to production as possible.
But I've got your point, thanks =)

[2019-05-21 21:56] imolorhe commented on #772
Wow.. you exceeded the local storage quota? And on the electron app? 😮 How much data are you storing? How many windows do you have open?

[2019-05-22 06:31] abbbe opened #778 "support for "operationName" and "extensions" parameter in subscription requests (can sponsor the development)"
**Is your feature request related to a problem? Please describe.**
When issuing subscriptions request (and generic queries too) Altair does not support "operationName" parameter as well as "extensions" parameter. I would be happy to sponsor development of this feature if it can be implemented quickly.

**Describe the solution you'd like**
For example, GraphQL subscription:
[code]

GraphQL variable

[2019-05-22 07:09] imolorhe commented on #778
Hey @abbbe,

I can pass the `operationName` along with the subscription request. However I don't understand why I should pass an empty extensions object along with the subscription request. Usually the extensions are passed from the server to the client, to provide additional meta information about the request (like tracing and metrics data).

Maybe there is another use case for extensions I am no

[2019-05-22 07:23] fabis94 commented on #772
@imolorhe Not much, there must be some sort of leak or something. I just had like 5 windows open for querying the Shopify API.

[2019-05-22 07:27] zOrg1331 commented on #778
Hi @imolorhe,

This would be great. :)

We came across (probably not fully correct) server-side and client side implementations which behave like that. The reason behind this is unknown... I believe that "extensions" list is indeed optional, but sending "operationName" seems legit (at least if Altair user has requested that).

[2019-05-22 09:22] imolorhe commented on #772
In the local storage in the developer console, do you how many items do you see there?

[2019-05-22 12:13] fantua opened #779 "[UX] Wrap "Set Headers" modal into form tag"
**Is your feature request related to a problem? Please describe.**
Wrapping "Set Headers" modal into html `form` tag will allow to submit modal via press `Enter` key.

![image](https://user-images.githubusercontent.com/7703761/58173439-0f055800-7ca4-11e9-88f1-2d85445800e7.png)

[2019-05-22 13:26] imolorhe commented on #779
Hey @fantua,
Thanks for reporting this! I'd look into it as soon as I can.

[2019-05-22 13:27] imolorhe commented on #778
Cool! I would add only the `operationName` then.

[2019-05-22 16:00] abbbe commented on #778
Thanks. Any timelime for this implementation? :)

[2019-05-22 22:38] imolorhe commented on #778
Over the weekend.

[2019-05-23 08:15] abbbe commented on #778
Nice, thanks.

[2019-05-23 13:27] PachowStudios commented on #757
It would be nice if this feature was documented :)

[2019-05-23 13:33] PachowStudios opened #780 "Autocomplete popup displays incorrectly"
**Describe the bug**
The autocomplete popup appears to be squished weirdly.

**To Reproduce**
Steps to reproduce the behavior:
1. Press ctrl+space to open the autocomplete popup

**Expected behavior**
The autocomplete popup should display properly.

**Screenshots**
![image](https://user-images.githubusercontent.com/1417838/58256698-1294ef80-7d35-11e9-9488-76e566a3af67.png)

**Desktop (please compl

[2019-05-23 13:36] imolorhe commented on #757
True. Would you be willing to create a PR to update the docs for this feature (and other features)? That would help. 😊

[2019-05-23 13:38] imolorhe commented on #780
Hey @PachowStudios, I'm not even sure I know the steps to reproduce this issue 😄 Would you know of an equivalent way of reproducing this issue on the web for example, assuming that could be universal (I use a Macbook).

[2019-05-23 22:26] PachowStudios commented on #780
@imolorhe I'm only able to reproduce it using the desktop version on Windows. I don't have a Mac so I'm not sure if it happens there too. I assume it has to do with how Electron handles DPI scaling.

[2019-05-24 11:06] #530 closed

[2019-05-24 13:15] tangentlin commented on #780
I am able to reproduce it in Mac where there is a fresh installation of the client.  There is no trivial steps to see what @PachowStudios has shown.

[2019-05-24 13:17] imolorhe commented on #780
@tangentlin What settings do you have that could make it reproducible?

[2019-05-24 15:14] tangentlin commented on #780
[code]

My environment:
* Macbook Pro with Retina Display

[2019-05-24 19:17] tangentlin commented on #780
I think I can find an easy way to reproduce this by using UI against Github's GraphQL API

1. Go to your Github setting and generate an access token with all privilege, copy the token
2. Go to Altairi, start a new tab, add a new header with name `Authorization`, and value as `bearer <paste_token_here>`
3. Set the URL as https://api.github.com/graphql
4. Refresh Docs, explore the docs to ensure it

[2019-05-26 08:22] imolorhe commented on #780
I still can't reproduce it. What happens when you move through the autocomplete options?  I need to get a sense of how to possibly fix it.

[2019-05-26 08:26] #770 closed

[2019-05-26 08:26] #772 closed

[2019-05-26 08:26] #778 closed

[2019-05-26 08:26] #779 closed

[2019-05-26 08:30] imolorhe commented on #753
Hey @FluorescentHallucinogen, I've been thinking about this issue but can't help but think this is an unnecessary feature to add to Altair, and would end up using shortcut key combinations. If there are real life cases, you would mostly be using one specific combination based on how the schema you are working with is structured, and you can just set the `addQueryDepthLimit` for that.

[2019-05-26 18:13] tangentlin commented on #780
I tried 2.1.5 on my other computer, which is a Macbook Pro with Retina Display, it was displaying fine, but as soon as I have updated to 2.1.8 the symptoms come back.  The problem seems to happen with GraphQL object that has a lot of fields.

[2019-05-27 15:23] tangentlin commented on #780
Issue fix is in pull request #785

[2019-05-27 21:59] sebmor opened #786 "Mac app fails opening since last update"
I use the mac client, and since last update I get this error. The app does open but it's impossible for me to see any windows. I can't open a new tab, and when I "show all windows" on mac for that app, it says none are available.

![Screenshot 2019-05-27 at 23 55 57](https://user-images.githubusercontent.com/405407/58440593-63ad3680-80db-11e9-86df-563a61405f55.png)

[2019-05-27 22:03] imolorhe commented on #786
v2.1.9?

[2019-05-27 22:07] sebmor commented on #786
Yes, 2.1.9
![Screenshot 2019-05-28 at 00 07 36](https://user-images.githubusercontent.com/405407/58440739-a0c5f880-80dc-11e9-8891-9dbbfc687d42.png)

[2019-05-27 23:04] imolorhe commented on #786
When do you get the error? I just tested it and it works fine.

[2019-05-28 00:15] sebmor commented on #786
The error for me occurs on startup, but it does load the application after I click OK, it just doesnt show any windows.

[2019-05-29 07:53] imolorhe commented on #786
Can you try an older version of Altair?

[2019-05-29 14:29] sebmor commented on #786
I got it working after removing the cache files it was storing in ~/Library/Caches.

[2019-05-29 17:21] beardedeagle commented on #786
Another Mac issue I'm noticing, on 2.1.9 is this:
<img width="1654" alt="Screen Shot 2019-05-29 at 12 19 30 PM" src="https://user-images.githubusercontent.com/4712757/58577417-05cc3c00-820c-11e9-8029-96e49e660baf.png">
I don't know what happened, but it's completely borked. I've tried force-reloading, uninstalling and reinstalling the application, uninstalling then running `sudo find / -iname "*al

[2019-05-30 03:56] imolorhe commented on #786
@beardedeagle That issue seems to be related to some data corruption. Have you tried checking the error in the developer console? That usually gives a good pointer to what could be causing this.

[2019-05-30 04:28] beardedeagle commented on #786
I'd assume completely nuking everything from disk related to Altair would fix that. I did crack it open once but was critt'd with a wall of text of errors. I can reinstall and paste them here if you'd like.

[2019-05-30 05:32] imolorhe commented on #786
Yes I would like that 🙂

[2019-05-31 10:51] Goobs opened #793 "How to pass auth headers to subscriptions?"
**Is your feature request related to a problem? Please describe.**
I tried to pass auth headers as described here (https://www.apollographql.com/docs/graphql-subscriptions/authentication/) (I hope) into Altair's Subscription URL dialog. It allows to pass connection params in JSON format. But I can't find any description about structure of this JSON. I tried to pass there something like
[code]
Then

[2019-05-31 20:31] greenkeeper[bot] opened #794 "An in-range update of typescript-json-schema is breaking the build 🚨"
## The devDependency [typescript-json-schema](https://github.com/YousefED/typescript-json-schema) was updated from `0.38.1` to `0.38.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Ftypescript-json-schema-0.38.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

typesc

[2019-06-03 02:04] beardedeagle commented on #786
I ended up having to return that mac to work due to issues. Might have been what caused it, but I will be unable to provide that data now as I now have a windows dell machine. Apologies.

[2019-06-03 12:35] #786 closed

[2019-06-03 12:39] imolorhe commented on #793
Hey @Goobs there is no way to set headers for subscriptions, at least as far as the subscriptions implementation used by Apollo's GraphQL subscription works. Indeed the way you authenticate requests is as was described in the article you mentioned. There should be an equivalent implementation in python+graphene to be able to work with the connection params passed when a client subscribes to the Gr

[2019-06-05 10:59] aeb-sia opened #795 "Support changing headers from altair-static"
**Is your feature request related to a problem? Please describe.**
We are integrating altair into our existing express apps. When developing locally we would like to have a way to automatically authenticate altair.
I attempted to do that with initialHeaders, but they are only used when creating a new window. When I refresh an exisiting window they don't get added. I understand that this is for a g

[2019-06-05 19:55] imolorhe commented on #795
Hey @aeb-sia, so you mean the headers change each time the page is refreshed?

[2019-06-06 07:12] aeb-sia commented on #795
Yes, I want to change headers on each page reload.

[2019-06-06 07:50] strelcov opened #796 "Nothing working in chrome extension"
v.2.1.9
![Снимок экрана от 2019-06-06 10-48-22](https://user-images.githubusercontent.com/6754197/59015934-d1c6cb80-8848-11e9-8c28-a0942fac6c59.png)

[2019-06-06 14:36] #796 closed

[2019-06-06 14:37] strelcov commented on #796
clear app data is hepled

[2019-06-06 17:14] imolorhe commented on #307
Would like to explore possible CSP-compliant alternatives to enabling this feature. Initial set of functions would be:

`altair.environment.get(key)`
`altair.environment.set(key, val)`

[2019-06-06 17:54] imolorhe commented on #795
This looks like a case for #307. I would be more comfortable with providing you with the scripts so you can do whatever you want, changing the environment values however you would want, rather than explicitly providing a way to update headers.

[2019-06-06 17:59] #794 closed

[2019-06-06 17:59] #793 closed

[2019-06-07 19:20] imolorhe commented on #795
Just merged the changes for pre-request scripts. With the initial pre-request script implementation, you can set environment variables from cookies, and the environment variable could likewise be used as the value of things like headers, URLs, variables, etc. With that, you should be able to handle your dynamic header changes that you want.

[2019-06-09 17:10] lethak opened #810 "Error message "Seems like something is broken. Please check that the URL is valid" on a working server and URL"
Hi !

**Describe the bug**
an orange message appears
[code]

when trying to set or reloading the url of an endpoint in the presence of an "Authorization" header.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a query window to your endpoint
2. Setup Authorization Header with Bearer Token (this endpoint schema is only available when having a valid JWT)
3. "Reload doc"
4. Experience th

[2019-06-09 17:15] imolorhe commented on #810
Hey, it is not clear what the issue you are referring to exactly is.

- Is the issue with having two windows?
- Is the issue about using the authorization headers with the graphql requests?
- Does the issue have anything to do with collections?

[2019-06-09 17:20] lethak commented on #810
After further testing, having two query windows seems not to affect the problem at all.
I only mentioned it because I was comparing how your app was doing with public / private endpoints.

![image](https://user-images.githubusercontent.com/1705300/59162093-88e27180-8aeb-11e9-8e75-f9f7192372e7.png)

[2019-06-09 17:21] imolorhe commented on #810
So what seems to be the problem? Can you open the devtools and check the network tab? That should be able to give a better idea of what the problem is.

[2019-06-09 17:24] lethak commented on #810
No traffic on the network tab, nothing received on the server side either.

THEN, I removed all headers and now I can see traffic reaching the server (403 of course without the proper header `Authorization Bearer <token>`)

[2019-06-09 17:28] imolorhe commented on #810
And there are no errors in the console either?

[2019-06-09 17:32] imolorhe commented on #810
Also does no errors while sending the normal request?

[2019-06-09 17:44] lethak commented on #810
No error in the console beside 403.

I restarted the app and now it seems to work ... nothing changed on my server and I only played with the "set headers" window between now and then. This is weird. I am guessing you have a problem somewhere around this.

Now I can see requests made to the server, with or without headers.

[2019-06-10 06:59] imolorhe commented on #810
Probably there was something broken in the app 😕 Would close this for now though. Sorry for the trouble.

[2019-06-10 06:59] #810 closed

[2019-06-10 12:41] #780 closed

[2019-06-10 12:41] #795 closed

[2019-06-11 07:52] aeb-sia commented on #795
Thanks, works like a charm

[2019-06-11 08:16] imolorhe commented on #795
Awesome! Glad to hear that.

[2019-06-15 14:46] jkporter opened #824 "Delete query from collection not working"
**Describe the bug**
Attempting to deleted a query reports success but doesn't appear to actually do anything as query remains.

**Expected behavior**
I have two queries with the same name in the same collection but different queries and I'd like to delete one of them.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informatio

[2019-06-15 20:33] imolorhe commented on #824
Thanks for reporting this! I'd look into it as soon as I can.

[2019-06-15 22:18] alexisdray commented on #824
Just ran into the same issue:
This query won't save changes or be deleted (although UI reports success in both cases)
I've included the export of the collection in case that's helpful.

It's hard to be sure, but I believe I also had two queries originally named the same thing.

The problematic query is the first one from the collection 'createItem'
Seems to me like it's missing the 'id' property.

[2019-06-15 22:43] greenkeeper[bot] opened #826 "An in-range update of graphql-query-compress is breaking the build 🚨"
## The dependency [graphql-query-compress](https://github.com/rse/graphql-query-compress) was updated from `1.2.1` to `1.2.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fgraphql-query-compress-1.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql-query-com

[2019-06-16 06:13] imolorhe commented on #824
Is it fair to assume that the problematic queries were created when the collections feature was originally introduced?

As @alexisdray pointed out, queries in collections originally didn't have IDs before the delete functionality was created, and there was a fallback using the query name to identify the query, which was removed much later after the collections feature was developed, with the assum

[2019-06-16 06:16] imolorhe commented on #824
It probably also makes sense to add an indicator for deprecated queries, so the developers can know to recreate them.

[2019-06-16 07:03] #824 closed

[2019-06-16 07:57] greenkeeper[bot] opened #828 "An in-range update of @types/graphql is breaking the build 🚨"
## The devDependency [@types/graphql](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `14.2.0` to `14.2.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fgraphql-14.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/graphql is

[2019-06-17 07:16] #828 closed

[2019-06-17 07:16] #826 closed

[2019-06-18 17:51] PachowStudios commented on #780
Looks like that fix did the trick! Working fine on v2.2.0. Thanks guys!

[2019-06-21 20:10] jsphweid commented on #786
@imolorhe I have this exact same issue. It just stopped working. Tried similar things related to reinstall and I got nothing.

Version 2.2.0 (2.2.0.4036)
 - OS: mac osx

[2019-06-24 06:32] imolorhe commented on #786
@jsphweid Can you check the developer console for what error you are getting?

[2019-06-24 07:38] aeb-sia opened #835 "altair should render graphql responses if http status code != 2XX"
**Describe the bug**
If you send an invalid graphql query, some servers (apollo-express) return a 400 status code. Altair doesn't show the actual errors included in the response, instead it just shows a "Server Error"

**To Reproduce**
Steps to reproduce the behavior:
1. Send an invalid query

**Expected behavior**
Errors are displayed. Ideally altair should check for the presence of a json object

[2019-06-27 11:42] ghost opened #841 "Move introspection result out of local storage and reload it on page refresh"
**Is your feature request related to a problem? Please describe.**
The result of the introspection queries on our systems are rather large. They can easily be multiple megabytes in uncompressed size. Storing that in localstorage seems to slow altair down. Also our schema changes rather often and altair doesn't reload it automatically.

**Describe the solution you'd like**
Not store the schema in l

[2019-06-27 11:48] aeb-sia opened #842 "Store windows in localstorage for each url seperately"
**Is your feature request related to a problem? Please describe.**
We have multiple instances of altair deployed under the same domain name, thus all windows are shared across all instances which is not ideal. It would be nice to have them seperated. We don't have a problem with other settings being shared. (We wouldn't mind them also being seperated, but we don't need that)

**Describe the soluti

[2019-06-27 18:09] FluorescentHallucinogen commented on #745
@imolorhe Is it really `wontfix`?

[2019-06-27 18:18] FluorescentHallucinogen commented on #753
@imolorhe I'm not very strong about this, it's just an idea.

[2019-06-27 22:02] imolorhe commented on #753
Ah alright!

[2019-07-02 09:05] lenartbezek opened #845 "File upload appends null to variable list"
**Describe the bug**
When using object path to place a file upload in a list, Altair appends a `null` value to the variables.

Quick inspection led me to this line:
https://github.com/imolorhe/altair/blob/master/src/app/services/gql/gql.service.ts#L120

I'm not sure what the purpose of that `null` is, but it's breaking my file uploads because the values in list are not nullable.

**To Reproduce**

[2019-07-03 00:12] imolorhe commented on #845
Hey, it looks like you're using the `$images` as an object and not an array, which Altair doesn't account for. The dot notation for the file uploads was implemented based on the File list implementation [documented in the multipart request spec](https://github.com/jaydenseric/graphql-multipart-request-spec#file-list).

So basically Altair doesn't understand the file upload if the GraphQLType isn't

[2019-07-03 00:19] imolorhe commented on #842
Hey, a simple solution for you would be to have separate subdomains hosting the Altair application. As a supporting feature, the local storage data key in Altair could be made customizable, so you can choose what key you want to use with it.

[2019-07-03 00:26] imolorhe commented on #841
Hey, I don't think this is an option for Altair. Having the schema being large is also a reason to persist the schema in localStorage.

As for reloading the schema, Altair implements the schema reloading via the GraphQL Event Stream header as described [here](https://sirmuel.design/a-better-graphql-developer-experience-with-x-graphql-event-stream-1256aef96f24), which can be implemented on a server

[2019-07-03 00:31] imolorhe commented on #835
Hey, this is a valid point. Currently there is a check for the response status code to determine if it should show an error or not. However, I can't figure out the reason why that check is there. I'd remove the check and return the data instead.

[2019-07-03 00:33] #753 closed

[2019-07-03 00:43] imolorhe commented on #745
No it's not 😄

[2019-07-03 08:09] lenartbezek commented on #845
Apparently Altair assumes file map object paths are only in two parts:
https://github.com/imolorhe/altair/blob/staging/src/app/services/gql/gql.service.ts#L116
[code]

However, the `graphql-upload` package from the author of the spec uses `dot-notation` module to set files  into the variables, which supports nesting files anywhere within operations.
https://github.com/jaydenseric/graphql-upload/bl

[2019-07-04 16:06] enumag opened #852 "GraphQL subscriptions json error"
I'm trying to implement GraphQL subscriptions but so far it doesn't work. When I put the subscription query into Altair and click send, Altair immediately throws an error like this:

[code]

In firefox console I also see these errors:

[code]

I'm quite sure that everything sent by the server is a json so I'm not sure what's causing the problem. And I'm quite sure that the websocket is indeed runn

[2019-07-04 21:47] imolorhe commented on #852
Hey @enumag, it seems there are a couple of potential reasons why the JSON.parse error would be happening. Could you check your connection params in the subscription dialog and your variables, that they are valid JSON objects?

[2019-07-04 22:11] enumag commented on #852
Both the connection parameters and the variables were empty. I wasn't using either for testing.

[2019-07-04 22:53] imolorhe commented on #852
You should set them to an empty object, which is the default. I'll add a check for empty variables and connection params.

[2019-07-04 22:59] #845 closed

[2019-07-05 03:39] enumag commented on #852
It didn't occur to me that it was necessary to set them to `{}`. For normal queries variables are completely fine if I just leave them empty. Anyway thanks for the fix.

[2019-07-08 13:18] bag-man commented on #332
@imolorhe Could you show a configuration that uses a monospace font. From the commit it isn't clear how to set that.

[2019-07-08 13:20] bag-man commented on #332
[code]
Is how you get it working

[2019-07-08 13:47] bag-man commented on #835
I think this is still an issue. I get debug info in the JS Console and no feedback in the client:

[code]

[2019-07-10 01:00] greenkeeper[bot] opened #864 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.1` to `12.6.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepe

[2019-07-11 22:27] smindel opened #866 "operationName does not get cleared/updated"
The setting of the operationName parameter described in #305 works well, if there are multiple named operations in the query. But when I change the query to contain only one operation with a name different from the one previously selected from the drop down, the operationName parameter doesn't get updated. When I then remove the operationName from the query, the operationName parameter doesn't get

[2019-07-13 18:21] nojaf opened #868 "Add prettify shortcut"
It would be nice if I would prettify using a shortcut combo instead of clicking the button.

[2019-07-15 05:53] enumag commented on #852
Hi @imolorhe. I just returned from my vacation and tried again Altair 2.2.1. Altair seems to correctly start the websocket connection now but I still can't see any output from the subscription. In the console there is this error:

[code]

[2019-07-16 16:55] #864 closed

[2019-07-16 16:58] imolorhe commented on #866
Hey, I'll take a look at this issue soon.

[2019-07-16 16:58] imolorhe commented on #868
Hey @nojaf, what shortcut would be recommended?

[2019-07-16 17:01] nojaf commented on #868
CTRL + ALT + L would be nice as it is the same in WebStorm.
Guess people might want to configure that, as this is highly suggestive.

[2019-07-16 17:04] imolorhe commented on #835
@bag-man Doesn't that mean that there is no data returned with the error to be shown?

[2019-07-18 11:48] JohnnyCrazy commented on #835
Running into the same issue, however, it should probably be in another issue since there is no graphql error, but an HTTP one:

Firing a request which leads to an invalid status code and an undefined body is just silently ignored. There is no way to figure out what is wrong without opening the devtools. Would be nice if there is a status/error display on HTTP level somewhere in the client

[2019-07-18 12:36] JohnnyCrazy opened #874 "AUR Package published"
Hi,

FYI, I just published an AUR package for arch linux users: [community/altair](https://aur.archlinux.org/packages/altair/) since I'm using altair for some time now and really like it :+1:

It installs altair without the `AppImage` wrapper and uses a shared electron runtime, which reduces total install size.

Up to you to if you want it in the README (I can also supply a PR) :)

[2019-07-18 22:57] imolorhe commented on #852
Can you try again after setting `__ENABLE_DEBUG_MODE__ = true` in your console, and checking the logged messages there.

[2019-07-18 23:04] imolorhe commented on #874
Hey @JohnnyCrazy

Yeah do create a PR for that. It would be best if there was a way to automate updating the package whenever altair updates.

[2019-07-18 23:04] #874 closed

[2019-07-18 23:09] imolorhe commented on #868
Hmmm, I think I would go with `Ctrl+Shift+P`, so it matches up with the other shortcuts already available.

[2019-07-18 23:34] #835 closed

[2019-07-18 23:34] #866 closed

[2019-07-18 23:34] #868 closed

[2019-07-19 07:55] smindel commented on #866
Awesome, thank you!

[2019-07-19 11:36] JohnnyCrazy commented on #874
Theoretically possible, but it would either require setting up a CI Script in your repo, which works as a maintainer to that package and publishes new versions automatically via git push to AUR, or an external service.

Will have a look at it. For now, I'm watching the releases and will update the package manually, which is also just a 15sec task.

[2019-07-19 16:10] greenkeeper[bot] opened #879 "An in-range update of web-ext is breaking the build 🚨"
## The devDependency [web-ext](https://github.com/mozilla/web-ext) was updated from `3.1.0` to `3.1.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fweb-ext-3.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

web-ext is a devDependency of this project. It **might

[2019-07-20 03:30] Teeoo opened #880 "Subscribing to JWT does not take effect"
The `payload` parameter is empty when subscribing

[2019-07-20 07:11] Teeoo commented on #880
Sorry, I found the right way.

[2019-07-20 07:11] #880 closed

[2019-07-20 09:21] FluorescentHallucinogen commented on #745
Also it's sometimes useful to do the opposite:

* merge all fragments into one query/subscription/mutation
* inline all variable values into query/subscription/mutation

The first (as well as remove duplicated fields feature that is also very useful) is already implemented in [graphql-prettier](https://www.npmjs.com/package/graphql-prettier) package by @Emetrop.

[2019-07-22 08:46] enumag commented on #852
@imolorhe Nothing stands out except for "Err undefined" which is not exactly helpful.

![Screenshot from 2019-07-22 10-45-20](https://user-images.githubusercontent.com/539462/61618777-de26ac80-ac6d-11e9-968d-12b26bc2e8f5.png)

[2019-07-22 12:37] imolorhe commented on #852
Could you open the error message there? `t is undefined`

I should be able to trace where the error is coming from.

However it looks like your GraphQL subscription doesn't follow with the apollo specification, It looks like it connects and disconnects.

[2019-07-22 12:38] #879 closed

[2019-07-22 13:05] enumag commented on #852
@imolorhe There is no error message. Opening `t is undefined` only shows the stack trace I already posted [above](https://github.com/imolorhe/altair/issues/852#issuecomment-511281444).

Yes there most likely are some issues with my subscription - it's the first time I'm implementing them. But to debug and fix them I first need a GraphQL client that can handle them and show me some helpful errors.

[2019-07-22 13:36] imolorhe commented on #852
Okay. Unfortunately the error appears to be originating from within the [subscription-transport-ws](https://github.com/apollographql/subscriptions-transport-ws/blob/cf3f492f93aa1df812f630327dc5eea33999fb71/src/client.ts#L202) package itself, and I can't access that to know what the error is.

As you can see, the error object returned from the package is `undefined`. It might be worth it raising th

[2019-07-22 13:42] enumag commented on #852
Is there any way to install Altair with non-minified sources including the libraries so that I can debug what `error` is inside the function you linked?

[2019-07-22 13:45] imolorhe commented on #852
You can clone the repo and run it locally using `yarn start`

[2019-07-25 11:52] enumag commented on #852
Cloned altair did not run into the same issue. Also I was able to make the experimental subscription work finally. I guess we can close this... Thanks.

[2019-07-25 11:52] #852 closed

[2019-07-25 22:15] imolorhe commented on #852
@enumag So what was the issue?

[2019-07-26 04:41] enumag commented on #852
A combination of several server-side issues with the subsciption with Altair being unable to throw a helpful message. `Err undefined` was still in the console, just with completely different stack trace. I can try to reproduce it and post my findings here if you want.

[2019-07-26 08:51] imolorhe commented on #852
Yeah I would like that.

[2019-07-26 22:55] #771 closed

[2019-07-28 08:25] imolorhe opened #893 "Add support for graphql-config"
Load GraphQL schema from graphql-config

https://github.com/prisma/graphql-config

[2019-07-29 15:14] greenkeeper[bot] opened #894 "An in-range update of ng-zorro-antd is breaking the build 🚨"
## The dependency [ng-zorro-antd](https://github.com/NG-ZORRO/ng-zorro-antd) was updated from `8.1.1` to `8.1.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fng-zorro-antd-8.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ng-zorro-antd is a direct dependency of

[2019-07-31 16:39] greenkeeper[bot] opened #896 "An in-range update of electron-log is breaking the build 🚨"
## The dependency [electron-log](https://github.com/megahertz/electron-log) was updated from `3.0.6` to `3.0.7`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Felectron-log-3.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

electron-log is a direct dependency of th

[2019-07-31 16:46] greenkeeper[bot] opened #897 "An in-range update of electron-builder is breaking the build 🚨"
## There have been updates to the *electron-builder* monorepo:

 + - The `devDependency` [electron-builder](https://github.com/electron-userland/electron-builder) was updated from `21.1.6` to `21.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fmonorepo.electron-builder-20190731161115).

This version is **covered** by your **current version

[2019-07-31 18:52] greenkeeper[bot] opened #898 "An in-range update of @ngrx/effects is breaking the build 🚨"
## The dependency [@ngrx/effects](https://github.com/ngrx/platform) was updated from `8.1.0` to `8.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40ngrx%2Feffects-8.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ngrx/effects is a direct dependency of this

[2019-07-31 18:53] greenkeeper[bot] opened #899 "An in-range update of @ngrx/store is breaking the build 🚨"
## The dependency [@ngrx/store](https://github.com/ngrx/platform) was updated from `8.1.0` to `8.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40ngrx%2Fstore-8.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ngrx/store is a direct dependency of this proje

[2019-07-31 20:25] imolorhe opened #900 "Add integration test cases"
Add integration test cases to the electron tests, covering the common workflows. Electron tests since those also cover the integration tests for the web app as well.

- [x] User can set URL and see docs loaded automatically.
- [x] User can send a request and receive response from server.
- [x] User can send a request with keyboard shortcuts.
- [x] User can send a request with multiple queries and

[2019-07-31 22:37] greenkeeper[bot] opened #902 "An in-range update of @angular/cli is breaking the build 🚨"
## The dependency [@angular/cli](https://github.com/angular/angular-cli) was updated from `8.1.3` to `8.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40angular%2Fcli-8.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@angular/cli is a direct dependency of t

[2019-08-01 08:26] enumag commented on #852
Here is the error from console.

[code]

It was caused by something on the server side. It was sending some wrong data back to the client. Can't describe in more detail because I don't fully understand it myself. I just some parts of code that didn't make much sense and it started to work.

[2019-08-01 20:40] greenkeeper[bot] opened #903 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.8` to `12.6.9`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.6.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepe

[2019-08-02 11:56] imolorhe opened #904 "Add cookie consent to docs"
https://www.npmjs.com/package/cookieconsent

[2019-08-02 14:24] JacobT14 opened #905 "Subscriptions results are truncated when expanded"
**Describe the bug**
When using subscriptions, the data rows that come back don't wrap when expanded, and is therefore truncated

**To Reproduce**
Steps to reproduce the behavior:
Create a subscription connection with multiple fields that are returned.
Trigger the subscription
Expand the subscription result

**Expected behavior**
I would expect the result to be truncated when the row is not expane

[2019-08-02 19:15] greenkeeper[bot] opened #906 "An in-range update of @beyerleinf/ngx-dnd is breaking the build 🚨"
## The dependency [@beyerleinf/ngx-dnd](https://github.com/beyerleinf/ngx-dnd) was updated from `8.0.2` to `8.0.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40beyerleinf%2Fngx-dnd-8.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@beyerleinf/ngx-dnd is a di

[2019-08-02 20:59] imolorhe commented on #905
Hey @JacobT14, I'm still trying to reproduce the same issue. In my case, I'm able to get the text wrapped when it is expanded.

Is there any other thing that could be making yours truncated when expanded?

<img width="460" alt="Screenshot 2019-08-02 at 10 43 27 PM" src="https://user-images.githubusercontent.com/4608143/62397742-fbfde680-b576-11e9-8474-e6f4ec7bb731.png">

[2019-08-02 21:01] JacobT14 commented on #905
I realized that it only happens if Altair is not maximized. If it is about half my screen width with docs expanded this happens

[2019-08-02 21:09] imolorhe commented on #905
It still expands for me. This is mine with docs open and Altair not maximised.

<img width="328" alt="Screenshot 2019-08-02 at 11 08 30 PM" src="https://user-images.githubusercontent.com/4608143/62398941-78de8f80-b57a-11e9-900c-6dd62439b838.png">

[2019-08-03 12:03] imolorhe opened #908 "Fix context menu"
Context menu in window titles is broken.

[2019-08-05 21:08] #894 closed

[2019-08-05 21:08] #896 closed

[2019-08-05 21:08] #897 closed

[2019-08-05 21:08] #898 closed

[2019-08-05 21:08] #899 closed

[2019-08-05 21:08] #902 closed

[2019-08-05 21:08] #903 closed

[2019-08-05 21:08] #906 closed

[2019-08-06 13:17] simonrepp opened #910 "Environment variables disappear when navigating between environments during editing"
Steps to reproduce the behavior:
1. Create two environments
2. Enter content/variables in one of the two
3. Save everything
4. Go back to editing the environments (modal dialog)
5. Switch back and forth between editing either of the two environments
6. Filled out content/variables on one environment disappear

**Expected behavior**
My entered environment variables should not disappear

**Screencas

[2019-08-06 13:39] simonrepp commented on #910
Asides this really love Altair - thanks so much for your work! :+1: :)

[2019-08-06 16:33] imolorhe commented on #910
Thanks for reporting this! I'd look into it as soon as I can.

[2019-08-06 16:36] imolorhe commented on #905
@JacobT14 Another thing you can do is inspect the element and see that the styles are applied properly to `.subscription-result__list-item--expanded .subscription-result__list-item-content`. Otherwise I don't see any reason why the text shouldn't be truncated.

[2019-08-06 16:39] imolorhe opened #911 "Allow jsdeliver.com CDN in CSP"
Add https://cdn.jsdelivr.net to CSP in extension manifest.

[2019-08-06 16:44] imolorhe commented on #910
@simonrepp Looking at it again, I figured the reason. The environments are expected as JSON (not JavaScript object), and this validation is done before saving the environment variables. So in your screencast, `foo: 42` is actually not set, but is just reflected back in the editor (if you had reloaded the page for example, it would have gone). If you tried using proper JSON format (i.e. `"foo": 42`

[2019-08-06 16:47] simonrepp commented on #910
Oh that makes sense! I almost suspected something else was going on :)

Indeed a small error message pointing out it's not well formatted JSON would surely do the job!

Thanks for the quick response, looking forward to playing around with environments now! :)

[2019-08-06 21:14] imolorhe commented on #417
Reopening this issue as there's been more demand for AWS AppSync subscription support.

Useful article: https://thatcoder.space/aws-appsync-example-for-subscription-using-nodejs/

[2019-08-07 12:25] levrik commented on #307
@imolorhe I would like to write a pre-request script which authenticates with a `/auth` endpoint first and passing that to the GraphQL request as a header later. Sadly there is basically no documentation about this pre-request script functionality, so I couldn't figure out how to do it or if it is even possible at all.

[2019-08-07 18:51] imolorhe commented on #307
Hey @levrik

Sorry for not providing enough documentation for the feature at the moment. Currently there's just this article with an explanation of what is available: https://sirmuel.design/pre-requests-now-available-in-altair-graphql-client-c3b28892059c

For your use case, there is currently no functionality for making API requests (there wasn't enough motivation to go past the initial set of fun

[2019-08-07 23:30] #908 closed

[2019-08-07 23:33] imolorhe commented on #307
I've reopened this issue again for a short time to discuss any other potential functions required in the pre request script.

Next release would contain `altair.helper.request()` for making HTTP requests. What other functions would be beneficial?

Note: `altair.helpers.getEnvironment(key)`, `altair.helpers.setEnvironment(key, val)` and `altair.helpers.getCookie(key)` were already available for a w

[2019-08-08 00:25] #910 closed

[2019-08-08 06:46] greenkeeper[bot] opened #914 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.0` to `12.7.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepe

[2019-08-08 12:41] #914 closed

[2019-08-09 07:23] greenkeeper[bot] opened #916 "An in-range update of start-server-and-test is breaking the build 🚨"
## The devDependency [start-server-and-test](https://github.com/bahmutov/start-server-and-test) was updated from `1.9.2` to `1.10.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fstart-server-and-test-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

start-serv

[2019-08-09 08:25] greenkeeper[bot] opened #917 "An in-range update of @clr/ui is breaking the build 🚨"
## The dependency [@clr/ui](https://github.com/vmware/clarity) was updated from `2.1.0` to `2.1.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Fui-2.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/ui is a direct dependency of this project, and **i

[2019-08-09 08:26] greenkeeper[bot] opened #918 "An in-range update of @clr/angular is breaking the build 🚨"
## The dependency [@clr/angular](https://github.com/vmware/clarity) was updated from `2.1.0` to `2.1.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Fangular-2.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/angular is a direct dependency of this p

[2019-08-09 08:50] greenkeeper[bot] opened #919 "An in-range update of @clr/icons is breaking the build 🚨"
## The dependency [@clr/icons]() was updated from `2.1.0` to `2.1.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Ficons-2.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/icons is a direct dependency of this project, and **it is very likely causing

[2019-08-09 08:56] greenkeeper[bot] opened #920 "An in-range update of core-js is breaking the build 🚨"
## The dependency [core-js](https://github.com/zloirock/core-js) was updated from `3.1.4` to `3.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fcore-js-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a direct dependency of this project, and **it

[2019-08-10 11:47] ash0080 opened #921 "Cannot load docs when reopen the app"
**To Reproduce**
Steps to reproduce the behavior:
1.  close app with tabs open and everything ok
2. reopen app
3. wired behaviors happen, you can do anything, query mutate subscribe, but you can not see or reload the Docs

**Expected behavior**
click reload should reload the Docs

**Screenshots**
![屏幕快照 2019-08-10 19 46 39](https://user-images.githubusercontent.com/2803210/62821451-9d082500-bba7-1

[2019-08-11 08:09] imolorhe commented on #921
Hey, did the docs show for that URL at any time?

[2019-08-12 09:20] simonrepp opened #922 "Descriptions in autocomplete suggestions overlap currently selected field"
This is not really a bug nor a feature, but something in the UI that could be improved. See this tiny [screencast](https://fdpl.io/altair-feedback-autocomplete.mp4) (with audio) for a demonstration of the issue.

Thanks for your time!

[2019-08-13 15:09] #904 closed

[2019-08-13 15:13] #911 closed

[2019-08-13 15:49] #916 closed

[2019-08-13 15:49] #917 closed

[2019-08-13 15:49] #918 closed

[2019-08-13 15:49] #919 closed

[2019-08-13 15:49] #920 closed

[2019-08-13 17:25] imolorhe commented on #922
Hey, thanks for the issue. This would be a tad bit challenging to fix at the moment due to the way the autocomplete element is built, but I would look into it when I can.

[2019-08-13 19:23] simonrepp commented on #922
Cool thanks!

[2019-08-14 03:41] ash0080 commented on #921
maybe a bug from new graphql module, I will reopen it if I find the final reason

[2019-08-14 03:41] #921 closed

[2019-08-16 08:25] gt-novelt opened #927 "Security warning when installing windows version: Windows protected your PC"
**Describe the bug**
![image](https://user-images.githubusercontent.com/37072369/63153893-b24ddb00-c00f-11e9-85d7-21dc21a73213.png)

**To Reproduce**
Download windows installer and launch it.
See error

**Expected behavior**
No security warnings from windows.

**Screenshots**
see descritpion

**Desktop (please complete the following information):**
I am running _fast_ release preview of windows 10

[2019-08-16 16:53] thewunder opened #928 "2.3.0 version of snap fails to start"
**Describe the bug**
Altair 2.3.0 fails to start

**To Reproduce**
run altair from the command line

**Expected behavior**
It should start

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version 18.04.2

**Additional context**
After auto-updating to 2.3.0 altair failes to start, reverting to 2.2.2 allows it to start.

There is no command-line output and I didn't know whe

[2019-08-16 19:40] imolorhe commented on #928
Hey, sorry to hear that. Could you try opening the developer tools (likely with F12) on the app to check if you can see any errors? Or it doesn't even show the app at all?

[2019-08-16 19:40] imolorhe commented on #927
Hey, the windows app isn't signed. I assume the reason why you are getting this warning is because of that.

[2019-08-16 20:41] thewunder commented on #928
@imolorhe The app does not show at all

[2019-08-17 08:02] imolorhe commented on #928
I'm not sure what the problem could be. There is no way for me to test the snap version of the app to verify that it is working (I don't use a linux). Perhaps there is some linux dependency required in the new version? Most users have installed v2.3.0 of the snap, so I would wait to see if more people complain about the same thing. Otherwise it might be a specific issue for you, which I don't know

[2019-08-21 16:21] ksrb opened #932 "Setting to disable notifications"
**Is your feature request related to a problem? Please describe.**
I have a subscription that sends messages at regular intervals (1-2 seconds) so the notifications can become a bit... too much.

**Describe the solution you'd like**
A setting to disable notifications.

**Describe alternatives you've considered**
 In windows it is possible to disable notifications entirely for Chrome but this isn't

[2019-08-21 19:44] imolorhe commented on #932
Thanks for reporting this! I'd look into it as soon as I can.

[2019-08-22 17:09] mhs1 opened #933 "Altair uses a never provided credentials in Authorization header"
Hi,
Altair adds Authorization header with credentials that was never provided.

I have a local project, with URL protected by basic authorization mechanism -
`http://localhost/doc`

During development I saved credentials for that URL in browser (and Chrome saved it to passwords.google.com).
On the same project I have GQL endpoint, `http://localhost/graphql` which accepts mutation for user login:

[2019-08-22 17:59] imolorhe commented on #933
Hey, this is quite an interesting case. Do you have any environment variables in Altair? Can you try the same thing with the Firefox add-on (it might be a browser policy, not sure).

[2019-08-22 18:03] imolorhe commented on #933
I'm pretty sure the behavior you're experiencing is from the user agent 🙂 and Altair isn't "touching" your password.

Another thing you can do to verify this behavior is sending a fetch request (with credentials set to include) from your developer console to the same domain and see what headers are sent in the network tab.

[2019-08-22 18:30] mhs1 commented on #933
Hi, thx for quick reply.

No environment variables in Altair has been set.

I tried open developer console in new browser tab and executed:
[code]
On host was listening netcat (nc -lvvp 80). I received:
[code]
Without 'no-cors' options:
[code]

[2019-08-22 19:15] imolorhe commented on #933
Oh I meant with the credentials parameter.

That is something like:

[code]

[2019-08-23 01:19] mhs1 commented on #933
you're right! now I understand, thanks for the clarification

[2019-08-23 01:19] #933 closed

[2019-08-23 02:23] a-guerrero commented on #928
Not working on macOS Mojave 10.14.6 either.

[2019-08-23 08:11] imolorhe commented on #933
You're welcome! Just to clarify, sending the request with fetch from the console with credentials included also added the basic auth header?

[2019-08-23 08:27] mhs1 commented on #933
Yes, credentials was included.

[2019-08-23 15:23] a-guerrero commented on #928
Today this appeared:
![Screen Shot 2019-08-23 at 10 21 42 AM](https://user-images.githubusercontent.com/4641859/63603788-eedd8180-c58f-11e9-90e7-74e9a848cfde.png)

[2019-08-23 23:08] greenkeeper[bot] opened #935 "An in-range update of graphql is breaking the build 🚨"
## The dependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.5.1` to `14.5.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fgraphql-14.5.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a direct dependency of this project, and

[2019-08-26 17:47] #935 closed

[2019-08-29 13:15] greenkeeper[bot] opened #939 "An in-range update of graphql is breaking the build 🚨"
## The dependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.5.3` to `14.5.4`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fgraphql-14.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a direct dependency of this project, and

[2019-08-29 16:22] greenkeeper[bot] opened #940 "An in-range update of ngx-toastr is breaking the build 🚨"
## The dependency [ngx-toastr](https://github.com/scttcper/ngx-toastr) was updated from `10.1.0` to `10.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fngx-toastr-10.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ngx-toastr is a direct dependency of this pro

[2019-08-30 04:55] thewunder commented on #928
The issue still exists in 2.3.1

[2019-08-30 06:16] greenkeeper[bot] opened #941 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.2` to `12.7.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.7.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepe

[2019-08-31 17:31] imolorhe commented on #928
@thewunder if you could help me debug, that would be awesome! I have no idea why it's not working in linux. I tested it in Mac though. Also the Linux electron tests passed. I upgraded the version of electron so that might have something to do with it.

[2019-09-01 15:21] imolorhe commented on #307
@hfmm99 I'd consider adding that in the electron version of the app. I wouldn't want to add those extra libraries in the chrome extensions (at least not yet).

[2019-09-02 12:55] Haltarys opened #942 "Monospace font"
Could it be possible to add a monospace font ? This would make visualising indentation much easier.

[2019-09-02 12:57] imolorhe commented on #942
This functionality already exists. Check https://github.com/imolorhe/altair/issues/332#issuecomment-509222186

[2019-09-02 12:57] #942 closed

[2019-09-03 21:23] acao commented on #745
I think we can implement this in the LSP so it works in monaco/vscode/etc, but Altair will need to migrate from codemirror-graphql to the forthcoming monaco mode to use that.

[2019-09-04 20:47] hfmm99 opened #943 "Is it possible to support passing queries on URL"
**GraphiQL** supports to send queries on the URL, this is extremely useful for sharing queries to Developers or QAs, on different testing environments, and with the right variable values, all in one single click on a link.

For example http://graphiql.url?query=query%20lastNCommunities(%24top%3A%20Int)%20%7B%0A%20%20communities(top%3A%20%24top%2C%20sortBy%3A%20%7Bfield%3A%20Id%2C%20order%3A%20Desc

[2019-09-04 20:52] hfmm99 commented on #943
Or maybe using an anchor instead, something like http://altair.url#query=x&variables=y

[2019-09-04 20:56] imolorhe commented on #943
@hfmm99 Altair manages a lot more data than just the query and variables. Implementing this in this way would only end up with someone requesting for the ability to add the other data to the url as well. The better approach in my opinion would be to store the data in some remote location and only have the ID in the URL, then fetch the data when the page is loaded.

[2019-09-05 19:27] greenkeeper[bot] opened #944 "An in-range update of @clr/ui is breaking the build 🚨"
## The dependency [@clr/ui](https://github.com/vmware/clarity) was updated from `2.1.2` to `2.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Fui-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/ui is a direct dependency of this project, and **i

[2019-09-05 19:28] greenkeeper[bot] opened #945 "An in-range update of @clr/angular is breaking the build 🚨"
## The dependency [@clr/angular](https://github.com/vmware/clarity) was updated from `2.1.2` to `2.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Fangular-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/angular is a direct dependency of this p

[2019-09-05 19:58] greenkeeper[bot] opened #946 "An in-range update of @clr/icons is breaking the build 🚨"
## The dependency [@clr/icons]() was updated from `2.1.2` to `2.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Ficons-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/icons is a direct dependency of this project, and **it is very likely causing

[2019-09-05 21:42] imolorhe commented on #745
That would be a major migration but would be worth looking into once the monaco mode is completed.

[2019-09-05 21:51] acao commented on #745
Yeah its unfortunate we have to make such a jump, but after I showed the preview some of the main contributors to the original codemirror mode see how this would reduce tons of redundant code, and allow us to have closer parity with the official LSP standard, potentially being able to roll out features across the ecosystem (including vscode, atom, etc) with a fraction of the code

Here's a quick p

[2019-09-05 22:10] imolorhe commented on #745
Just went through the monaco-graphql mode and the example. Looking good so far. If I understand correctly, the LSP standard you are referring to is a standardised interface accepted by most IDEs and development environments, and is different from the interface used by codemirror, hence implementing the LSP interface has a better impact in terms of possible integration with more environments?

[2019-09-05 22:11] imolorhe commented on #745
Also you mentioned that declarations and symbol support are missing. What are you referring to by those?

[2019-09-05 22:18] imolorhe commented on #745
And after a bit of googling around, I found what I was looking for 🙂https://microsoft.github.io/language-server-protocol/

[2019-09-05 23:42] acao commented on #745
yup thats it! my bad, running errands all day, trying to make sure i can overcome this illness

our entry for the official LSP site needs updated, but thats a great start to understanding it

the monaco team says monaco-graphql is looking pretty good, just need to support webworkers and declarations, variables and it should be mostly ready. we will want to sprinkle in some more features for parity

[2019-09-07 12:43] greenkeeper[bot] opened #948 "An in-range update of rxjs-tslint-rules is breaking the build 🚨"
## The devDependency [rxjs-tslint-rules](https://github.com/cartant/rxjs-tslint-rules) was updated from `4.24.3` to `4.25.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Frxjs-tslint-rules-4.25.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rxjs-tslint-rules is a

[2019-09-07 15:44] #948 closed

[2019-09-07 15:45] #939 closed

[2019-09-07 15:45] #940 closed

[2019-09-07 15:45] #941 closed

[2019-09-07 15:45] #944 closed

[2019-09-07 15:45] #945 closed

[2019-09-07 15:45] #946 closed

[2019-09-07 21:31] acao commented on #745
https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/blogs__a11y
bingo!

[2019-09-10 17:38] greenkeeper[bot] opened #951 "An in-range update of angular2 is breaking the build 🚨"
## There have been updates to the *angular2* monorepo:

 + - The `dependency` [@angular/cdk](https://github.com/angular/components) was updated from `8.1.4` to `8.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fmonorepo.angular2-20190910170151).

This version is **covered** by your **current version range** and after updating it in your pr

[2019-09-11 07:00] greenkeeper[bot] opened #952 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.4` to `12.7.5`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.7.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepe

[2019-09-13 01:40] qonn opened #954 "Docs related request should also execute prerequest script"
## Expected Behavior
The refresh docs button and other docs related request should also call the prerequest script.

## Current Behavior
Clicking the refresh docs button does not call the prerequest script.

## Steps to Reproduce
0. Toggle the Developer Tools, navigate to `Console` tab and click the clear button
1. Add to prerequest script a simple `console.log('hello')`
2. Tick the use prerequest

[2019-09-13 15:38] greenkeeper[bot] opened #955 "An in-range update of graphql is breaking the build 🚨"
## The dependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.5.4` to `14.5.5`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fgraphql-14.5.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a direct dependency of this project, and

[2019-09-13 15:55] greenkeeper[bot] opened #956 "An in-range update of start-server-and-test is breaking the build 🚨"
## The devDependency [start-server-and-test](https://github.com/bahmutov/start-server-and-test) was updated from `1.10.0` to `1.10.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fstart-server-and-test-1.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

start-ser

[2019-09-14 19:33] #951 closed

[2019-09-14 19:33] #952 closed

[2019-09-14 19:33] #955 closed

[2019-09-14 19:33] #956 closed

[2019-09-14 20:15] #927 closed

[2019-09-14 20:15] #905 closed

[2019-09-14 20:21] #932 closed

[2019-09-15 07:28] #954 closed

[2019-09-15 07:31] imolorhe commented on #954
@qonn I've added this functionality, and it would be available in the next version.

In the meantime, perhaps you can add some more info on the use of the pre request script since you have been able to use it, to be able to help others in the community? 🙂

https://github.com/imolorhe/altair/blob/staging/docs/docs/features/prerequest-scripts.md

[2019-09-15 17:01] greenkeeper[bot] opened #957 "An in-range update of graphql is breaking the build 🚨"
## The dependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.5.5` to `14.5.6`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fgraphql-14.5.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a direct dependency of this project, and

[2019-09-15 19:15] greenkeeper[bot] opened #958 "An in-range update of sortablejs is breaking the build 🚨"
## The dependency [sortablejs](https://github.com/SortableJS/Sortable) was updated from `1.10.0-rc3` to `1.10.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsortablejs-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sortablejs is a direct dependency of this

[2019-09-16 03:05] qonn commented on #954
@imolorhe Thanks for this!, sure will do.

[2019-09-16 10:59] levrik opened #960 "Pre-request scripts not getting saved to collection query"
**Describe the bug**
When adding a pre-request script to query and saving the query to a collection, the pre-request script doesn't get saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Write a query
2. Add a pre-request script to it
3. Save it to a collection
4. Close the query and open it again from the collections view
5. Check the pre-request script; it's gone

**Expected behavior**

[2019-09-17 09:36] levrik commented on #960
@imolorhe Still the same on 2.3.2

[2019-09-17 10:02] imolorhe commented on #960
Right.. I only took care of storing it but not retrieving it from collection. Sorry.

[2019-09-18 09:50] #960 closed

[2019-09-18 15:50] imolorhe commented on #960
By the way @levrik if your use case isn't covered in the docs, you could also contribute to the docs (the docs are lacking a lot of information at the moment 😓)

[2019-09-19 10:28] evgdainovich opened #966 "Bug: Application error"
Error message: Cannot read property 'getFields' of undefined

Error stack:

[code]

[2019-09-19 16:11] imolorhe commented on #966
When did this error occur?

[2019-09-20 03:24] PachowStudios opened #967 "Color for boolean values is difficult to read on dark and dracula themes"
Booleans are really hard to read on dark themes

![image](https://user-images.githubusercontent.com/1417838/65297007-0b87bd80-db2c-11e9-8572-1c91551e764f.png)

[2019-09-20 07:35] imolorhe commented on #967
Ooooh that's really hard to see. Thanks for reporting. Would fix in the next version.

[2019-09-20 07:53] ceefour commented on #922
This issue also hits me:

![image](https://user-images.githubusercontent.com/24123/65309479-62d27000-dbb6-11e9-946b-9c69695304a6.png)

I have a GraphQL with pretty extensive descriptions but because of them the autocomplete becomes unusable in Altair.

[2019-09-20 08:00] ceefour commented on #648
How do I enable this? I'm using 2.3.3 and I still get plain text, not Markdown. See below (compared to GraphiQL):

![image](https://user-images.githubusercontent.com/24123/65309962-61ee0e00-dbb7-11e9-9011-f5b49f78bf21.png)

I do something wrong, or is it regression?

[2019-09-20 08:05] imolorhe commented on #922
Wow! That's a lot of description in your schema! 😄 Thanks for your input @ceefour. I'll consider those as well. Feel free to take a stab at this issue if you would like. I'm open to PRs.

[2019-09-20 08:44] imolorhe commented on #648
I don't think it is a regression. Most likely the markdown parser used in Altair doesn't parse the lists as expected. Other markdown syntaxes (like tilde for code) works. You can create an issue for the list syntax and I'll look into it further.

[2019-09-20 16:47] ceefour commented on #648
Not just the list syntax. Even newlines don't work. i.e. this:

[code]

becomes `A B` in Altair, instead of the proper "A" and "B" as two paragraphs.

[2019-09-20 17:55] imolorhe commented on #648
Can you verify that other things like code highlight, headings, links work? It might be an issue with the newline (cr lf)

Are you on Windows?

[2019-09-20 18:14] ceefour commented on #648
@imolorhe Yes I am on Windows 10 1903.

No Markdown works, not even bold. See comparison of test description GraphiQL vs Altair:

![image](https://user-images.githubusercontent.com/24123/65349192-0a7a8d00-dc0d-11e9-92ad-b2241335d473.png)

[2019-09-20 18:27] imolorhe commented on #648
Thanks for that. I'll look into it thoroughly now.

[2019-09-20 20:57] kengoldfarb opened #968 "Bug: Tab / Query history lost after restarting Altair"
**Describe the bug**
When rebooting altair, the tabs and queries within are lost and reset to the default. This happens _seemingly_ randomly (not every time). I've encountered this multiple times over the past few months. Most recently it happened when the app automatically updated to `v2.3.3`

**To Reproduce**
Steps to reproduce the behavior:
1. Install Altair via `.dmg` file
2. Write some querie

[2019-09-21 09:19] imolorhe commented on #648
@ceefour I'm struggling to figure out what the issue is here. I was able to verify that the descriptions are parsed as markdown (see screenshot below). The only assumption I can make now is that there is something specifically wrong with the implementation for windows machines. Could you also try to use the browser extensions, and see if the problem persists there? Also try navigating back and for

[2019-09-21 13:30] imolorhe commented on #968
Thanks for reporting this @kengoldfarb. Unfortunately I haven't been able to reproduce this issue myself so it's hard for me to figure out the problem. What version of the app did you upgrade from?

Also can you try opening the dev tools in the electron app and setting `__ENABLE_DEBUG_MODE__ = true` in the console, and let me know what information you see there.

<img width="309" alt="Screenshot 2

[2019-09-21 13:51] #967 closed

[2019-09-21 13:52] #958 closed

[2019-09-21 13:52] #957 closed

[2019-09-22 03:47] ceefour commented on #648
Test results:

* Chrome extension on Windows 10 1903

![image](https://user-images.githubusercontent.com/24123/65381954-e6f73580-dd25-11e9-84b3-fa6db45d3f16.png)

* Web page on Chrome on Windows 10 1903

![image](https://user-images.githubusercontent.com/24123/65381967-405f6480-dd26-11e9-86bb-be4385617adb.png)

* Firefox extension on Windows 10 1903

![image](https://user-images.githubusercontent.

[2019-09-23 17:31] marcos-vinicius-dev opened #970 "Bug: Application error"
Error message: Failed to execute 'setItem' on 'Storage': Setting the value of 'altair:db:9aa261cf-9b10-4adf-a316-8bdce256bc14:query' exceeded the quota.

Error stack:

[code]

[2019-09-23 17:50] imolorhe commented on #970
Hey, when did you get this error?

[2019-09-23 18:01] #970 closed

[2019-09-23 19:09] kengoldfarb commented on #968
@imolorhe Thanks for following up

<img width="557" alt="Screen Shot 2019-09-23 at 1 08 31 PM" src="https://user-images.githubusercontent.com/1094411/65454904-5858e600-de03-11e9-849f-11f9c3df48eb.png">

[2019-09-23 23:28] imolorhe commented on #968
Weird there was no major change between those 2 versions. How much data (windows, collections, history) do you have in the app before updating?

A new version has been released. Please check if the issue persists.

[2019-09-24 11:39] sherlynwong opened #972 "Collections"
![image](https://user-images.githubusercontent.com/46703334/65508464-d9e36d80-df02-11e9-858e-9f8a9559589c.png)

I have a saved collection called "Search HC".
Whenever I click it, it will open up a new tab instead of selecting the existing opened tab for me.

[2019-09-24 11:41] sherlynwong opened #973 "Close collection tab"
![image](https://user-images.githubusercontent.com/46703334/65508569-19aa5500-df03-11e9-80b1-aed8640d21fb.png)

Prompt user to save before closing it. Quite often I accidentally close the current tab when I was trying to select next tab.

[2019-09-24 14:35] evgdainovich opened #975 "Bug: Application error: Failed to execute 'setItem' on 'Storage': Setting the value of 'altair:db:e9387136-3193-46b6-9689-a865e1db34b0:introspection' exceeded the quota."
Error message: Failed to execute 'setItem' on 'Storage': Setting the value of 'altair:db:e9387136-3193-46b6-9689-a865e1db34b0:introspection' exceeded the quota.

Error stack:

[code]

[2019-09-24 17:35] imolorhe commented on #928
So you see any errors in the console after you start the application successfully? Can you also use the application after it starts?

[2019-09-24 17:38] imolorhe commented on #975
Hey, when do you get this error?

[2019-09-24 18:11] thewunder commented on #928
I get a warning on successful startup:
(node:6528) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

Yes everything works in the application once it is started.

Here are the configs generated after starting the application:
[altair_config.zip](https://github.com/imolorh

[2019-09-24 18:29] kengoldfarb commented on #968
I just installed the latest update via the "Check for Updates..." menu option and it reset my tabs again.

Is there anything in `~/Library/Application\ Support/Altair\ GraphQL\ Client` I should look for that could be helpful in your debugging? Or could blowing away that directory possibly help when I upgrade next time?

<img width="554" alt="Screen Shot 2019-09-24 at 12 24 15 PM" src="https://user

[2019-09-25 14:29] greenkeeper[bot] opened #978 "An in-range update of graphql is breaking the build 🚨"
## The dependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.5.7` to `14.5.8`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fgraphql-14.5.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a direct dependency of this project, and

[2019-09-26 09:25] evgdainovich commented on #975
2 days ago, I created this report by clicking the notification appeared with error

[2019-09-26 09:42] evgdainovich commented on #975
UPD: I started to fast and randomly click on "Add new" button and close last window in navigation bar at the same time, so i'm getting an error like in the report description and a lot of these errors in console as you can see below

![Снимок экрана от 2019-09-26 12-40-16](https://user-images.githubusercontent.com/40525880/65677814-ef6bab00-e05a-11e9-8968-2db77bdcb922.png)
**Buttons i'm clicking a

[2019-09-26 10:38] droidMakk opened #980 "BUG: closed and reopened tab."
Error message: Uncaught (in promise): TypeError: e.replace is not a function
TypeError: e.replace is not a function
    at wO (chrome-extension://flnheeellpciglgpaodhkhmapeljopja/main.fbfdb434c82286d35409.js:1:3322941)
    at e.writeValue (chrome-extension://flnheeellpciglgpaodhkhmapeljopja/main.fbfdb434c82286d35409.js:1:3325394)
    at chrome-extension://flnheeellpciglgpaodhkhmapeljopja/main.fbfd

[2019-09-28 18:33] greenkeeper[bot] opened #982 "An in-range update of ngx-markdown is breaking the build 🚨"
## The dependency [ngx-markdown](https://github.com/jfcere/ngx-markdown) was updated from `8.1.0` to `8.1.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fngx-markdown-8.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ngx-markdown is a direct dependency of this

[2019-09-29 15:12] greenkeeper[bot] opened #984 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.2.0` to `6.2.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fmocha-6.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might not brea

[2019-09-30 20:57] #982 closed

[2019-09-30 20:57] #984 closed

[2019-09-30 20:57] #978 closed

[2019-10-01 21:44] greenkeeper[bot] opened #985 "An in-range update of start-server-and-test is breaking the build 🚨"
## The devDependency [start-server-and-test](https://github.com/bahmutov/start-server-and-test) was updated from `1.10.2` to `1.10.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fstart-server-and-test-1.10.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

start-ser

[2019-10-01 22:25] greenkeeper[bot] opened #986 "An in-range update of sortablejs is breaking the build 🚨"
## The dependency [sortablejs](https://github.com/SortableJS/Sortable) was updated from `1.10.0` to `1.10.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsortablejs-1.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sortablejs is a direct dependency of this pro

[2019-10-03 16:54] #893 closed

[2019-10-03 18:17] greenkeeper[bot] opened #988 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.9` to `12.7.10`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.7.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDe

[2019-10-04 11:46] greenkeeper[bot] opened #991 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.230.5` to `1.230.6`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsnyk-1.230.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very li

[2019-10-06 22:20] vladshcherbin opened #992 "Reduce app size"
Hey 👋

First, thank you for such an awesome tool. The question I have is related to the app's size.
Freshly installed on mac os it's almost 520mb. As an example, VSCode editor is 230mb, twice less.

So why is graphql client so heavy, maybe it's possible to reduce its size?

[2019-10-07 19:25] imolorhe commented on #992
Hey, never really looked into why the bundle is so large. I always assumed electron apps have large sizes due to the nodejs runtime that is bundled with the apps.

[2019-10-07 19:38] imolorhe commented on #975
Hey, the local storage is where Altair stores the data in the chrome extension. The reason you are getting the error is because you have a lot of data stored in localStorage (or the quota you set for local storage is very low). You can try to clear out all the data stored in the localStorage of the extension (reset the application and start with a clean slate).

Alternatively, you can use any of t

[2019-10-08 01:33] greenkeeper[bot] opened #993 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.16.4` to `3.16.5`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Flerna-3.16.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **might not bre

[2019-10-08 01:58] greenkeeper[bot] opened #994 "An in-range update of ngx-markdown is breaking the build 🚨"
## The dependency [ngx-markdown](https://github.com/jfcere/ngx-markdown) was updated from `8.1.2` to `8.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fngx-markdown-8.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ngx-markdown is a direct dependency of this

[2019-10-08 16:11] vladshcherbin commented on #992
@imolorhe yep, this is why I added VSCode as an example, it's also an electron app. I also have another electron apps: Twitch (~220mb), RunJs (~190mb), Figma (~140mb), Atom (~590mb).

Interesting if it's somehow possible to reduce Altrair size as there are definitely smaller electron apps :)

[2019-10-08 18:31] yzini-eagle commented on #575
@avifatal I have a similar use case. Did you end up embedding a static iframe or did you figure out a way to import this as a module?

[2019-10-09 05:38] imolorhe commented on #992
Thanks I have found the reason for the large app size. I don't filter out the application content when packaging the app so the electron app is bundled with all the files it finds in the directory.

I'll add a files list to ensure only required files are packaged. 🙂

[2019-10-09 05:59] imolorhe commented on #992
Digging further, I think I can reduce the app size even more if I have the electron app as a separate package, instead of having it as part of the main repo.

[2019-10-09 06:57] imolorhe commented on #992
# 188.7mb ❤️

[2019-10-09 07:45] imolorhe commented on #575
@yzini-eagle what is your use case?

[2019-10-09 11:04] vladshcherbin commented on #992
@imolorhe epic 🎉

[2019-10-09 14:41] evgdainovich commented on #975
@imolorhe, Thanks a lot!

[2019-10-09 14:44] greenkeeper[bot] opened #995 "An in-range update of @ngrx/store is breaking the build 🚨"
## The dependency [@ngrx/store](https://github.com/ngrx/platform) was updated from `8.3.0` to `8.4.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40ngrx%2Fstore-8.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ngrx/store is a direct dependency of this proje

[2019-10-09 15:00] greenkeeper[bot] opened #996 "An in-range update of @ngrx/effects is breaking the build 🚨"
## The dependency [@ngrx/effects](https://github.com/ngrx/platform) was updated from `8.3.0` to `8.4.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40ngrx%2Feffects-8.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ngrx/effects is a direct dependency of this

[2019-10-09 15:25] greenkeeper[bot] opened #997 "An in-range update of @ngrx/store-devtools is breaking the build 🚨"
## The dependency [@ngrx/store-devtools](https://github.com/ngrx/platform) was updated from `8.3.0` to `8.4.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40ngrx%2Fstore-devtools-8.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ngrx/store-devtools is a dire

[2019-10-10 06:01] #997 closed

[2019-10-10 06:01] #996 closed

[2019-10-10 06:01] #985 closed

[2019-10-10 06:01] #986 closed

[2019-10-10 06:01] #988 closed

[2019-10-10 06:01] #991 closed

[2019-10-10 06:01] #993 closed

[2019-10-10 06:01] #994 closed

[2019-10-10 06:01] #995 closed

[2019-10-10 06:01] #975 closed

[2019-10-11 06:54] imolorhe opened #998 "Deprecate use of db service in query and window services"
The data stored via the db service for the query and window services is no longer used (need to verify this). We can remove the code setting and retrieving that value. This would also save up on some extra space in the storage.

[2019-10-11 06:57] imolorhe commented on #973
Hey, when you say **Prompt user to save**, how do you mean? Or do you mean to ask user **Are you sure you want to close this window?**?

[2019-10-11 07:05] sherlynwong commented on #973
Yes. With the option to save and close or just close.

Regards,
Sherlyn Wong

On Fri, 11 Oct 2019, 2:57 pm Samuel, <notifications@github.com> wrote:

[2019-10-11 07:06] imolorhe opened #999 "Add "Reopen closed tab" functionality"
Given that there are scenarios when you close a tab mistakenly, we should also add a functionality to reopen a closed tab.

Simple functionality is to store (push) the closed tab data into an array in memory (preferably in the store but not persisted), and simply pop the data out of the array when the user wants to reopen the last tab.

#### ASSUMPTION
Given that the javacsript heap size (in memor

[2019-10-11 07:08] imolorhe commented on #973
I'm still not clear on this. Is this specific to the tabs that are opened from the collection?

[2019-10-11 15:28] ballin98 commented on #999
Hi, can I work on this issue ?

[2019-10-11 19:44] imolorhe commented on #999
Hey @ballin98 👋 Feel free to take a stab at it!

[2019-10-12 09:57] imolorhe commented on #980
Hey @droidMakk, does this still happen?

[2019-10-12 10:04] imolorhe commented on #972
Thanks for reporting this! I'd look into it as soon as I can.

[2019-10-12 12:41] ubaldino opened #1001 "Bug: Application error: Cannot read property 'args' of undefined"
Error message: Cannot read property 'args' of undefined

Error stack:

[code]

[2019-10-12 13:32] imolorhe commented on #1001
When did this error occur?

[2019-10-13 07:07] imolorhe commented on #968
Hey @kengoldfarb, just to confirm,  is the Altair app stored in the Applications directory?

[2019-10-13 15:18] #998 closed

[2019-10-13 15:19] imolorhe commented on #999
@ballin98 Let me know if and when you would be working on this. Thanks.

[2019-10-13 15:23] imolorhe commented on #648
@ceefour If you are still willing to help debug this, you can clone the repo locally and try running the app locally. We use https://www.npmjs.com/package/ngx-markdown to convert to markdown.

You can see the usage of the markdown library here:

https://github.com/imolorhe/altair/blob/7f04783c814cbeb4e7da80a1575399b5bd5a4c8e/src/app/components/doc-viewer/doc-viewer-type/doc-viewer-type.component.h

[2019-10-13 15:28] imolorhe commented on #972
Hey @sherlynwong, I just realized this is the expected behavior. The query from the collection is opened and you can choose to save your changes back to the collection by clicking that option from the save dropdown. Otherwise, the query opens up like other windows and you can save it as a new query or do anything you want with it. That way it is flexible enough. 🙂

[2019-10-13 15:28] #972 closed

[2019-10-13 16:06] droidMakk commented on #980
No @imolorhe. But will re-open and give you a detailed one. Incase if it repeats. Closing it as of now.

[2019-10-13 16:06] #980 closed

[2019-10-13 20:04] imolorhe commented on #992
Assets for v2.3.4:
<img width="807" alt="Screenshot 2019-10-13 at 9 27 50 PM" src="https://user-images.githubusercontent.com/4608143/66721688-592ed780-ee05-11e9-9910-316c625d6906.png">

Assets for v2.3.5:
<img width="813" alt="Screenshot 2019-10-13 at 9 27 38 PM" src="https://user-images.githubusercontent.com/4608143/66721690-62b83f80-ee05-11e9-9897-0e40e93278a6.png">

All assets sizes decreased b

[2019-10-13 20:04] #992 closed

[2019-10-13 20:38] imolorhe commented on #534
Closing this as resolved, considering the GraphiQL explorer is now in Altair beta and can be used today 🙂

[2019-10-13 20:38] #534 closed

[2019-10-14 09:51] fdeh75 opened #1005 "Bug: Application error: e.data.query.query.trim is not a function"
Error message: e.data.query.query.trim is not a function

Error stack:

[code]

[2019-10-14 12:25] tudoramariei opened #1006 "Add Command + , shortcut for accessing the settings"
**Is your feature request related to a problem? Please describe.**
The standard for Mac applications is that the settings for an app can be opened using `Command + ,`. This is a shortcut which is quickly adopted by users and then used with pretty much every application.

**Describe the solution you'd like**
Pressing `Command + ,` would open the settings, instead of having to click on the wheel eac

[2019-10-14 18:44] RishiRich94 commented on #999
Hi, I'll try to take a stab at this if that's fine?

[2019-10-14 20:20] PachowStudios commented on #968
I also experienced the same thing after updating to 2.3.5.

Looks Altair changed its data folder to "altair-electron" in %APPDATA%. Renaming the "Altair GraphQL Client" folder to "altair-electron" restored all my data.

![image](https://user-images.githubusercontent.com/1417838/66780248-fb969b80-ee95-11e9-85e2-d1008170b65f.png)

[2019-10-14 21:14] kengoldfarb commented on #968
@imolorhe Yes, it's in the `Applications` directory

@PachowStudios i see the same thing in 2.3.5 except that renaming that folder only partially restored things...
It restored my urls and tabs, but not the queries in the tabs.

FWIW, in 2.3.4 deleting the `~/Library/Application Support/Altair GraphQL Client/` and starting clean did seem to fix the issue of it losing my tabs between restarts at le

[2019-10-15 04:35] imolorhe commented on #968
@PachowStudios I think that latest development was my fault. I'm trying to move the desktop apps to a more stable environment, and to allow the stored data to be easier to recover to try to fix @kengoldfarb's issue so moved things around. If the change in 2.3.5 is too drastic, I could release 2.3.6 with reverted changes. Somehow I don't experience these issues when I test my changes.

[2019-10-15 04:37] imolorhe commented on #999
@RishiRich94 I'm waiting for @ballin98's confirmation. If he doesn't confirm by tomorrow, then I assume you can look at it 🙂

[2019-10-15 05:28] imolorhe commented on #1006
Thanks for reporting this! I'd look into it as soon as I can. Seems easy enough to implement. PRs to the repo are always welcome! 🙂

[2019-10-15 05:33] imolorhe commented on #992
@allcontributors[bot] Please add @vladshcherbin for bugs.

[2019-10-15 05:37] vladshcherbin commented on #992
@imolorhe after installation, on mac os the app size dropped from 520mb to 190mb.

Thank you a lot! 🎉👍

[2019-10-15 05:39] imolorhe commented on #992
Any issues with the new installation? Lost queries, windows, collections?

[2019-10-15 05:47] vladshcherbin commented on #992
@imolorhe I haven't used Altair heavily with all features it has. No issues with things I used though, everything seems to be fine 👌

[2019-10-15 05:48] imolorhe commented on #992
Okay. Good to hear.

[2019-10-15 11:47] greenkeeper[bot] opened #1011 "An in-range update of start-server-and-test is breaking the build 🚨"
## The devDependency [start-server-and-test](https://github.com/bahmutov/start-server-and-test) was updated from `1.10.5` to `1.10.6`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fstart-server-and-test-1.10.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

start-ser

[2019-10-16 05:01] interpark opened #1013 "jsdelivr package size limit error"
**Describe the bug**
https://cdn.jsdelivr.net/npm/altair-static/dist shows 'Package size exceeded the configured limit of 50 MB.'

**To Reproduce**
Open the link in browser.

[2019-10-16 05:42] imolorhe commented on #1013
Oh, thanks for reporting this. You can use version 2.3.4 for now while I fix the size limit issue

https://cdn.jsdelivr.net/npm/altair-static@2.3.4/

[2019-10-16 18:44] #1011 closed

[2019-10-16 20:09] MathewtheCoder commented on #1006
Hi I would like to try and solve this issue. Can I go ahead ?

[2019-10-16 20:11] imolorhe commented on #1006
Yes you can!

[2019-10-16 20:14] imolorhe commented on #1005
Any other errors besides this one in the console?

[2019-10-16 20:22] imolorhe commented on #1013
This will be fixed in v2.3.6

[2019-10-16 20:22] #1013 closed

[2019-10-16 20:23] imolorhe commented on #999
@RishiRich94 If you're still up for it, you can work on this.

[2019-10-16 23:19] interpark commented on #1013
Thanks for your support. :)

[2019-10-17 06:28] greenkeeper[bot] opened #1015 "An in-range update of @ctrl/ngx-codemirror is breaking the build 🚨"
## The dependency [@ctrl/ngx-codemirror](https://github.com/typectrl/ngx-codemirror) was updated from `2.1.1` to `2.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40ctrl%2Fngx-codemirror-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ctrl/ngx-codemirror

[2019-10-17 11:48] bsotodo commented on #750
I would like to give this one a try. Can someone point me in the right direction? Thanks :)

[2019-10-17 19:06] MathewtheCoder commented on #1006
I implemented the display of settings on pressing `Command +  ,` and i have two doubts.
- In browsers its shortcut is opening the browser settings also. (Chrome and Safari tested).
- For non MacOS users what should be the shortcut.

[2019-10-17 21:55] #1015 closed

[2019-10-18 19:45] es0329 commented on #968
I finally came here after consecutive updates each deleted my work. Following v2.3.5, I was able to recover my most recent collection by following the advice of @PachowStudios; but so many queries were lost in the original collection.

[2019-10-18 19:57] imolorhe commented on #968
@es0329 Did this consistently happen for each new update?

[2019-10-18 23:39] es0329 commented on #968
@imolorhe Correct, I lost collections in the two most recent releases. After the first delete I thought I'd done something wrong, then it happened again today after updating. Previously my usage was intermittent. I'd only experimented with single queries and wouldn't have noticed if anything was lost in updates.

[2019-10-21 09:07] levrik opened #1019 "All data cleared after upgrade to 2.3.5 (Electron build)"
**Describe the bug**

After upgrading to 2.3.5 all data was cleared. My collections, open tabs and settings are lost.
That's a quite serious issue since I now have to manually restore everything which will cost me probably a full day of work.

[2019-10-21 11:26] imolorhe commented on #1019
Can you downgrade back to 2.3.4 and see if the data is restored? Also is this the first time this happened?

[2019-10-21 11:26] imolorhe commented on #1019
There was a change in 2.3.5 that caused this to happen. Would fix in 2.3.6 but for now downgrading should work

[2019-10-21 11:27] levrik commented on #1019
@imolorhe Yep. This is the first time this is happening. I'll try downgrading.

[2019-10-21 11:34] levrik commented on #1019
Downgrading worked 🎉

[2019-10-21 20:18] jodinathan commented on #648
it is not working on my mac either

<img width="359" alt="Altair 2019-10-21 17-17-56" src="https://user-images.githubusercontent.com/6199518/67239958-d15d5480-f426-11e9-86fe-a0ffa7a8ab66.png">

[2019-10-22 03:23] ceefour commented on #648
thanks @jodinathan. Nice to know this isn't isolated

[2019-10-22 06:08] imolorhe commented on #648
@jodinathan @ceefour Is it possible to host the GraphQL server with the description issue somewhere I can access it? Or perhaps a link to a repo where I can try to reproduce this issue. Unless I can reproduce it, there's no way I would know what I need to do to fix it for you guys.

[2019-10-22 06:08] cosmarc opened #1021 "Collection sorting not working with duplicate names"
**Describe the bug**
See title

**To Reproduce**
Steps to reproduce the behavior:
1. Create one collection
2. Add one query/mutation to the created collection
3. Edit something in the previously created collection
4. Add it again with the same name
5. Both entries are added and sorting goes crazy

**Expected behavior**
The query entry should be either updated, replaced or both should be added.

**

[2019-10-22 06:15] imolorhe commented on #1021
The sorting of the collection items is based on the name of the query. I can add a fix for that, to also consider the id of the query as part of the sorting functionality.

[2019-10-22 06:30] imolorhe commented on #1019
Good to hear. Gives me more confidence on what the problem is.

[2019-10-22 13:30] jodinathan commented on #648
this is the result of clicking the "reload docs" button. I guess you can force altair to load this instead of a server call

[introspection.txt.zip](https://github.com/imolorhe/altair/files/3755918/introspection.txt.zip)

[2019-10-22 19:46] greenkeeper[bot] opened #1023 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.18.2` to `3.18.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Flerna-3.18.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **might not bre

[2019-10-22 22:29] greenkeeper[bot] opened #1024 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.11.2` to `12.11.3`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.11.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devD

[2019-10-23 06:59] todo[bot] opened #1026 "Perhaps use a selector, since those are memoized"
https://github.com/imolorhe/altair/blob/d407fa1016cca4302af9e63d7b0b36af80c00443/src/app/components/query-collection-item/query-collection-item.component.ts#L65-L68

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in d407fa1016cca4302af9e63d7b0b36af80c00443. It&#x27;s been assigned to @imolorhe because they committed the code.

[2019-10-23 08:25] greenkeeper[bot] opened #1027 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.236.1` to `1.236.2`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsnyk-1.236.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very li

[2019-10-23 10:38] greenkeeper[bot] opened #1028 "An in-range update of ngx-pipes is breaking the build 🚨"
## The dependency [ngx-pipes](https://github.com/danrevah/ngx-pipes) was updated from `2.5.6` to `2.6.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fngx-pipes-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ngx-pipes is a direct dependency of this project, a

[2019-10-23 19:26] ieugen commented on #1019
I've also encountered this. I've downgraded but every time I start altair just downloads and installs the new version. This is a bit frustrating.

This update feature might be nice but personally I don't like it because of issues like the one in this issue. I believe such auto update should happen with user consent.

The fact that an app downloads stuff of off the internet and installs it is troub

[2019-10-23 20:56] imolorhe commented on #1019
@ieugen you can create that as a separate issues if you want

[2019-10-24 09:43] tudoramariei commented on #1006
Since PR #1016 was merged, this issue can be closed now
Thanks for the quick response!

[2019-10-24 09:43] #1006 closed

[2019-10-24 15:23] ieugen opened #1030 "Disable auto-update by default, allow user to enable, show new version notification"
Hello,

This is a feature request to replace the current Altair behvior with the following:
- altair should not auto-update by default
- user should be able to enable/disable auto update if he pleases
- replace auto-update by default with new version notifications.

Also, debatable, altair should not remove the old version in case a rollback is needed ?! This could be made configurable via an opti

[2019-10-24 15:47] yzini-eagle commented on #575
@imolorhe I would like to load Altair as part of an Angular app maybe via a route? That way it can benefit from the already established app's Authentication/Authorization.

[2019-10-24 21:21] imolorhe commented on #575
Potentially Altair can be made into a web component that can be used on any page, but that isn't on the roadmap to implement that. If you'd like to help with that, you can create a PR for it. 😉

[2019-10-24 21:32] #1024 closed

[2019-10-24 21:32] #1028 closed

[2019-10-24 21:32] #1027 closed

[2019-10-24 21:33] #1023 closed

[2019-10-24 22:36] MichaelJCompton opened #1031 "multi-line strings"
**Is your feature request related to a problem? Please describe.**

When entering strings into the UI, it'd be great if I could just cut and paste multiline strings - e.g. if my endpoint has a Message type with a body field, I have to correct any newlines to \n before entering

**Describe the solution you'd like**

Some syntax, special field, whatever, that lets me cut and paste in a multiline str

[2019-10-25 07:24] imolorhe commented on #1031
Hey, I'm not sure I fully understand what you're asking. Can you give a concrete example?

[2019-10-25 08:09] strelcov opened #1032 "Not correct work ubuntu chrome"
![image](https://user-images.githubusercontent.com/6754197/67554349-e2081600-f717-11e9-996b-0d5ea2c1d3c6.png)
Try to clear cache, restart browser and OS. Doesn't help

[2019-10-25 08:31] imolorhe commented on #1032
Erm... Okay?

[2019-10-25 11:20] strelcov commented on #1032
Yes, I removed query string and restart plugin. It helped)

[2019-10-25 15:56] MichaelJCompton commented on #1031
Sure, sorry for being unclear.

Let's say in my GraphQL endpoint I have

[code]

and I'm playing around with my API and want to add the review:

"Love Altair, it's really sweet.

I just wish I could add this string in a mutation"

There seems to be no way I can do an `addReview` mutation in altair and cut and paste that string in as a review comment.  Seems I have to manually replace the newlines

[2019-10-25 17:47] imolorhe commented on #1031
Oh right. I don't think that is within our scope 😄There are different questions that come to mind already: is there any condition when this newline replace functionality would be activated? What possible edgecases are there in this? Is this really something that should be handled on the client? Should there be a config for enabling this if a user wants it to prevent it being disruptive for other u

[2019-10-25 23:37] #1021 closed

[2019-10-25 23:37] #1026 closed

[2019-10-25 23:37] #1030 closed

[2019-10-26 01:17] imolorhe commented on #968
@kengoldfarb v2.3.6 was just released. This version should come with a fix for this issue. You probably would still lose your data upgrading from v2.3.5 but afterwards it shouldn't happen again.

If it does happen after v2.3.6, I will reopen this issue.

[2019-10-26 01:17] #968 closed

[2019-10-26 01:17] imolorhe commented on #1019
v2.3.6 has been released and it fixes the changes in 2.3.5.

[2019-10-26 01:17] #1019 closed

[2019-10-26 01:22] imolorhe commented on #928
Is this still an issue with the newer versions?

[2019-10-26 19:59] imolorhe commented on #575
My two cents: using Altair in an iframe seems to be a good idea for this case and technically serves the same purpose for you.

[2019-10-26 22:56] imolorhe commented on #648
Thanks @jodinathan. That was helpful. I figured out the issue. The markdown rendering isn't being applied to *all* the description spots (not being applied to type fields and implementations). The reason I couldn't reproduce it is I was testing with a custom type which would have its description displayed when viewing it, but that wouldn't be the case for primitive types.

I've now fixed this and

[2019-10-26 22:57] #648 closed

[2019-10-26 23:03] imolorhe opened #1035 "Include plugin enabling functionality in settings"
As a next step in the plugin system implementation, would be the ability to add and remove plugins, configurable through the settings pane.

[2019-10-26 23:12] imolorhe opened #1036 "Include simple/advanced settings view"
As Altair becomes more configurable, the settings section might become more cumbersome to work with for people with simple use cases. We could potentially generate a simple UI based on the autogenerated `settings.schema.json` that gives for a better user experience.

A simplified, custom equivalent of:

https://github.com/hamzahamidi/Angular6-json-schema-form

https://github.com/json-editor/json-e

[2019-10-28 12:24] Kars-de-Jong opened #1037 "Unable to send requests to 127.0.0.1 using Altair GraphQL Client 2.3.6"
**Describe the bug**
I am unable to send requests (either for docs or queries). The developer tools Console tab shows the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Request for docs or send a query.
2. See error in Console.

**Desktop**
 - OS: MacOS Mojave
 - Altair GraphQL Client 2.3.6

**Additional context**
It works fine with version 2.3.5. Unfortunately I can't seem

[2019-10-28 13:35] yzini-eagle commented on #575
Yeah that's what I ended up doing. It would be great to import Altair either a an Angular element or a component. So I'll definitely look into it.

[2019-10-28 18:20] MichaelJCompton commented on #1031
I think for the use cases we have, we'll implement file uploads (https://github.com/jaydenseric/graphql-multipart-request-spec) in our server and use the Altair file upload with variables to input multiline strings from files.  Seems like that should work fine.

[2019-10-28 18:20] #1031 closed

[2019-10-28 19:05] heeeunkimmm commented on #1037
I have the exact same issue-

[2019-10-28 19:16] imolorhe commented on #1037
Thanks for reporting this! I'd look into it as soon as I can.

[2019-10-28 19:38] imolorhe commented on #1037
As a temporary fix, you can set the Origin header to your localhost URL (e.g. http://127.0.0.1:9090) in the header modal and see if that works. I am still having troubles reproducing the issue locally for now.

[2019-10-28 22:04] imolorhe commented on #1037
Looks like the temporary fix doesn't work either 😕

[2019-10-28 22:06] imolorhe commented on #1037
From my tests so far, the requests work fine if there is no error, but it throws this error when the server request has an error (404 in my case)

[2019-10-29 00:05] heeeunkimmm commented on #1037
![image](https://user-images.githubusercontent.com/21036208/67726779-3d4e3880-f9a4-11e9-814b-ffdf6bcdf09e.png)

The dark theme is from the 2.3.6 version and light theme is from the 2.3.5 version, both connecting to the same localhost. Feels like some of the fields on Request Header is not being set properly. Let me know if you need any other info - hopefully this screenshot helps.

[2019-10-29 05:20] djansyle opened #1039 "Bug: Application error: t.description.split is not a function"
Error message: t.description.split is not a function

Error stack:

[code]

[2019-10-29 07:33] imolorhe commented on #1037
@heeeunkimmm Can you test same thing in one of the browser extensions (Chrome/Firefox)? Also in v2.3.5 can you set the following headers:

- `Origin` as `altair://-`
- `Sec-Fetch-Mode` as `cors`
- `Sec-Fetch-Site` as `cross-site`

[2019-10-29 08:03] Kars-de-Jong commented on #1037
Re: headers not being sent, that's also why my service returned 404 (a missing header).

[2019-10-29 09:32] Sparow199 opened #1040 "Can't send any query && collections, settings lost with v2.3.6"
I got this message when i send a request:
{
  "isTrusted": true
}

[2019-10-29 09:46] imolorhe commented on #1040
@Sparow199 I'm investigating issues with v2.3.6 at the moment. You mentioned settings lost. Which settings exactly? And was your previous version v2.3.5?

Also can you try this build to see if it works for you? https://www.dropbox.com/s/yaw8r4gxj1bpiw2/altair_2.3.6_mac.zip?dl=0

[2019-10-29 09:47] imolorhe commented on #1037
@Kars-de-Jong @heeeunkimmm Can you try this build and let me know if it fixes the issue for you? https://www.dropbox.com/s/yaw8r4gxj1bpiw2/altair_2.3.6_mac.zip?dl=0

[2019-10-29 09:48] imolorhe commented on #1040
Also is this exclusive to the desktop apps?

[2019-10-29 10:14] Sparow199 commented on #1040
Hi @imolorhe,
I downgraded to 2.3.5 and all is ok. The issues was detected with Electron version. I lost my environments and collections.

[2019-10-29 10:35] Kars-de-Jong commented on #1037
@imolorhe That fixes it for me, thanks!

[2019-10-29 10:46] imolorhe commented on #1037
Thanks for confirming. That narrows it down. The problem is with the latest version of electron (v7.0.0). I'll downgrade back to version 6 and release the new version

[2019-10-29 11:28] FredrikZeiner commented on #1040
Same here. Tried downgrading to 2.3.5, but the client auto-updates...

[2019-10-29 11:30] greenkeeper[bot] opened #1041 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.239.3` to `1.239.4`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsnyk-1.239.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very li

[2019-10-29 11:30] imolorhe commented on #1040
Can you try the build above?

[2019-10-29 11:33] FredrikZeiner commented on #1040
Unable to install the linked build

[2019-10-29 19:44] imolorhe commented on #1037
The issue with electron has already been reported here https://github.com/electron/electron/issues/20730. Hopefully that gets fixed soon.

[2019-10-29 19:46] #1041 closed

[2019-10-29 19:47] imolorhe commented on #1039
Did this error occur when trying to export SDL? When did the error occur?

[2019-10-29 20:22] #966 closed

[2019-10-29 20:22] #1001 closed

[2019-10-29 23:00] #1037 closed

[2019-10-29 23:00] #1040 closed

[2019-10-30 10:08] levrik commented on #1019
@imolorhe All data is still lost, even on 2.3.7

[2019-10-30 16:19] greenkeeper[bot] opened #1043 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.0` to `12.12.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40types%2Fnode-12.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devD

[2019-10-30 18:43] greenkeeper[bot] opened #1044 "An in-range update of ngx-toastr is breaking the build 🚨"
## The dependency [ngx-toastr](https://github.com/scttcper/ngx-toastr) was updated from `11.1.2` to `11.2.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fngx-toastr-11.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ngx-toastr is a direct dependency of this pro

[2019-10-30 20:44] imolorhe commented on #1019
@levrik You can get the binary without installing it. Does it still forcefully update? The binaries for 2.3.4 can be found here: https://github.com/imolorhe/altair/releases/tag/v2.3.4

[2019-10-30 20:53] imolorhe commented on #1019
@levrik First, I'm sorry for the issues with your data. If the data isn't restored in v2.3.7, can you try what was suggested here if it works for you: https://github.com/imolorhe/altair/issues/968#issuecomment-541898903 if it's related. You can check the stored data in `/Users/<your_username>/Library/Application Support` and check for the directories related to Altair. There is a possibility that

[2019-10-31 08:45] levrik commented on #1019
@imolorhe
![image](https://user-images.githubusercontent.com/9491603/67931822-fc803a80-fbc2-11e9-9eb8-c941edb80271.png)
There are three folders in total.
I think the `altair` one is the one from `v2.3.7`. Couldn't altair check for these folders at startup and migrate data over if they exist? That's a really bad user experience to don't migrate data if the storage is getting changed.

[2019-10-31 08:47] imolorhe commented on #1019
I'll consider that. Just need to understand the changes first but did this work for you?

[2019-10-31 08:49] levrik commented on #1019
@imolorhe
[code]

worked for me.

[2019-10-31 09:05] Sparow199 opened #1047 "Export/Import envs variables && settings"
When we update Altair, we often lose all our settings, so giving an option to backup envs variables && settings could be really good.

[2019-10-31 09:14] imolorhe commented on #1047
Hey, that option was considered in the newer versions of Altair. Once it becomes stable enough, I'll introduce the option in the electron app to backup and restore 🙂 but the functionality is already there.

[2019-10-31 10:06] levrik commented on #1019
@imolorhe Probably you didn't use a static name for creating the binary and name is used for storing data. I think normally the folder name of the project is used and since you moved the code of the Electron version a bit around, it got a different name each time.

[2019-10-31 14:17] thewunder commented on #928
Yes, I happened to re-install kubuntu and it is an issue even a fresh install

[2019-10-31 21:54] greenkeeper[bot] opened #1048 "An in-range update of @clr/angular is breaking the build 🚨"
## The dependency [@clr/angular](https://github.com/vmware/clarity) was updated from `2.3.0` to `2.3.1`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2F%40clr%2Fangular-2.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@clr/angular is a direct dependency of this p

[2019-11-01 12:53] cbartram opened #1049 "Pre request script support in subscription URLs"
**Is your feature request related to a problem? Please describe.**
The pre request script makes it easy to make environmental variables accessible to the headers, and host url but it doesn't work for the subscription URL.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I am trying to put a dynamic OAuth access token set via the pre-request script in

[2019-11-01 21:24] imolorhe commented on #1049
Thanks for reporting this! I'd look into it as soon as I can. Sounds like a feasible thing to add.

[2019-11-02 11:09] imolorhe commented on #928
How about installing altair using the bunary itself, instead of snap. Does it work then?

[2019-11-02 11:29] #1043 closed

[2019-11-02 11:29] #1044 closed

[2019-11-02 11:29] #1048 closed

[2019-11-02 11:40] #1049 closed

[2019-11-02 13:27] imolorhe commented on #1019
@levrik There was a missing productName field which caused the change in storage location. I've now fixed that but that would mean the data would be "lost" again. However, I've also added functionality to help migrate the lost data easily so it shouldn't really break your flow. 🙂 Just an FYI.

[2019-11-03 01:02] imolorhe commented on #973
Closing this as I haven't received any response. Also what the issue is here might be related to #999

[2019-11-03 01:02] #973 closed

[2019-11-03 01:04] #1047 closed

[2019-11-03 09:57] #999 closed

[2019-11-04 05:03] thewunder commented on #928
The Appimage works fine, just the snap has issues

[2019-11-04 08:36] imolorhe commented on #928
It sounds like this is an issue for snap to handle then. I can't verify it and it doesn't seem to affect any other format. Perhaps you can create an issue on snap's repo?

[2019-11-04 08:51] imolorhe commented on #928
You could also try deleting the application data for the app. ($XDG_CONFIG_HOME or ~/.config on Linux)

[2019-11-06 06:04] rajithsam opened #1052 "App shows an error on loading"
Error message: Uncaught (in promise): TypeError: e.replace is not a function
VO@moz-extension://b49ce190-3910-4683-8eef-aafa0ea705aa/main.971e04dc6a6746c8ee79.js:1:3407732
zUnb/NO</e.prototype.writeValue@moz-extension://b49ce190-3910-4683-8eef-aafa0ea705aa/main.971e04dc6a6746c8ee79.js:1:3410185
ne/</<@moz-extension://b49ce190-3910-4683-8eef-aafa0ea705aa/main.971e04dc6a6746c8ee79.js:1:2370162
gIcY/

[2019-11-06 20:57] imolorhe commented on #1052
Hey, when does this error occur? Everytime or just once?

[2019-11-06 21:04] imolorhe commented on #1052
The reported error points to this line in ngx-codemirror: https://github.com/TypeCtrl/ngx-codemirror/blob/master/src/lib/codemirror.component.ts#L29

From what I can see, there shouldn't be a reason for this error to be thrown.

[2019-11-07 10:00] Danm72 opened #1054 "Bug: Application error: Cannot read property 'trim' of null"
Error message: Cannot read property 'trim' of null

Error stack:

[code]

[2019-11-07 18:23] nanosek commented on #307
I am trying to use the pre-requests script feature to get an open-id connect access token via a POST request prior to doing the actual graphql request.
Seems I am stuck (probably due to not enought javascript know how) because I need to send a certain set of HTTP headers with the POST request and for that I should create a https://angular.io/api/common/http/HttpHeaders object that I then can pass

[2019-11-07 23:48] imolorhe commented on #1054
When does this error occur?

[2019-11-08 00:05] imolorhe commented on #307
@nanosek If you look at the angular docs (Overload 2), you can pass the header also as a key-value object, not only as a HttpHeader object

[code]

So you could have something like:

[code]

[2019-11-08 00:08] #1035 closed

[2019-11-08 00:08] #1036 closed

[2019-11-08 02:06] PachowStudios commented on #922
What about showing the description to the right of the autocomplete popup like vscode?

![image](https://user-images.githubusercontent.com/1417838/68443579-eb729300-0199-11ea-821a-2d92b4d7ace8.png)

[2019-11-08 09:09] Danm72 commented on #1054
When I refresh the page

[2019-11-10 06:37] #1005 closed

[2019-11-10 06:37] #1054 closed

[2019-11-10 06:58] imolorhe opened #1061 "Replace clarity icons with feather icons"
https://github.com/michaelbazos/angular-feather

https://feathericons.com/

https://github.com/michaelbazos/angular-feather/issues/1

Create icon module to source icons from easily.

[2019-11-10 07:34] #1039 closed

[2019-11-10 07:56] imolorhe opened #1062 "Wait for plugins loaded before app ready"
Wait for plugins to be loaded before setting app ready state. Time out plugin wait time to prevent infinite loading due to network issues.

[2019-11-10 14:32] imolorhe commented on #1052
Still not clear how you got this error, but changes have been made in v2.3.8 to prevent it from happening. If it happens again, you would need to clear your data and restart the app.

[2019-11-10 14:32] #1052 closed

[2019-11-10 21:57] #943 closed

[2019-11-13 04:57] paulbenny opened #1065 "Facing some issue with Mutation API's."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mutation API's.
2. Choose any of the API's from the list.
3. Run the query and See the error.

**Expected behavior**
To be Executed.
![Screenshot from 2019-11-13 10:21:22](https://user-images.githubusercontent.com/57697701/68734367-22b0cc00-0600-11ea-89c8-b99600e1171

[2019-11-13 06:23] imolorhe commented on #1065
From the screenshot, the server is rejecting your query because you are trying to send a mutation query using a GET method. Altair sends the query properly but the server checks and rejects mutation queries that are sent via GET instead of say, POST. Check with the server admin and confirm how you're meant to send mutation queries. As far as I can tell, this isn't an issue with Altair.

[2019-11-13 10:07] paulbenny commented on #1065
Yeah Ok got it, Highly thanks for your response, now it is working fine for me once i have changed to POST operation.

[2019-11-13 10:07] #1065 closed

[2019-11-13 11:15] smeijer commented on #1047
Can you also tell me which directories I should add to my backup cron? So that I don't need to export them manually?

[2019-11-13 11:30] imolorhe commented on #1047
@smeijer Can you elaborate a bit more what you mean?

[2019-11-13 12:40] levrik opened #1066 "Electron version constantly using at least 15% of the CPU"
**Describe the bug**
The Electron helper process constantly uses at least 15% of the CPU.
The UI also reacts really slow and is behaving laggy.

**To Reproduce**
Just open it.

**Expected behavior**
To don't use any CPU when idling.

**Screenshots**
![image](https://user-images.githubusercontent.com/9491603/68764508-200fa000-061b-11ea-8d5f-428b7cdbb364.png)

**Desktop (please complete the followin

[2019-11-13 15:16] greenkeeper[bot] opened #1067 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.246.0` to `1.247.0`.

🚨 [View failing branch](https://github.com/imolorhe/altair/compare/staging...imolorhe:greenkeeper%2Fsnyk-1.247.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very li

[2019-11-13 19:13] #1067 closed

[2019-11-13 19:34] smeijer commented on #1047
Sure. On busy days, I'm working with a lot of graphql queries, which I all add to altair to test them. Besides testing / playing, I also use the collections for a quick lookup on "how to do things". Because I remember I've used a specific query in the past, and choose to look it up in altair, instead of writing it again. (long live copy/paste).

It would be awesome if I can point my backup program

[2019-11-13 19:59] imolorhe commented on #1066
Hey @levrik, just ran some tests and you're right.

*Here are my findings:*

- Altair does use more CPU when *idle* than necessary (~15%), but it uses a sufficient amount of CPU when being actively used.
- If however you minimize it or open it in a full screen where it is not being currently shown, the CPU usage goes back to normal.
- I have narrowed down that the problem isn't from electron itsel

[2019-11-13 20:09] imolorhe commented on #1047
Right. So the backup program is a separate program running on your machine that backs up the contents of files and directories you specify?

[2019-11-14 10:18] DrPowerSlam opened #1069 "Bug: Application error: Uncaught (in promise): TypeError: e.replace is not a functionNS"
Error message: Uncaught (in promise): TypeError: e.replace is not a function
NS@moz-extension://75779467-f5b9-4ac2-8dd3-63b29e401f60/main.649f735f13b1c272333d.js:1:2795292
zUnb/HS</e.prototype.writeValue@moz-extension://75779467-f5b9-4ac2-8dd3-63b29e401f60/main.649f735f13b1c272333d.js:1:2797745
ne/</<@moz-extension://75779467-f5b9-4ac2-8dd3-63b29e401f60/main.649f735f13b1c272333d.js:1:1802959
gIcY/

[2019-11-14 11:36] smeijer commented on #1047
Thanks, that's exactly what I'm talking about.

I did find the `%APPDATA%/Altair GraphQL Client` folder, but I assumed I didn't need to backup all of it. For example, backing up `__installer.exe (87 mb) doesn't make sense.

After playing around a bit, I found out the following;

Current `open windows` are stored in `%APPDATA%/Altair GraphQL Client/Local Storage`. So backing up that folder, allows

[2019-11-15 08:47] nanosek commented on #307
@imolorhe thank you! It took me some time to come back to that - but now it works like a charm:

Maybe it helps others that use this together with an open-id-connect server like keycloak to get their access tokens (this can for sure be fine-tuned to store the token for some time and only refresh it if necessary, but for now it does the job):

`
const client_id = 'your_open_id_connect_client_id'
co

[2019-11-15 09:00] imolorhe commented on #307
That's awesome! If you can refine it better perhaps you can add it to the docs as an example usage with open ID?

[2019-11-15 19:37] imolorhe commented on #1047
Thanks for the detailed information @smeijer

[2019-11-17 00:13] imolorhe commented on #746
There's a pending issue that needs to be addressed before proceeding with this.
https://github.com/Novvum/graphql-birdseye/issues/36